[2014-04-04 03:02] dstorey opened #1 "Filter breaks when selecting one browser and not "all" or "shipped""
Steps:

Select IE from browser drop down
Select prefixed from status

Expected:

Show features prefixed in IE

Actual:

0 results

Same for any other browser or any other status except all or shipped.

https://twitter.com/tomprogers/status/451911417646837761

[2014-04-04 04:45] molant commented on #1
The browser filter only looks for features that are shipped so right now
this is the designed behavior.
How do you propose it should work?

On Thu, Apr 3, 2014 at 8:02 PM, David Storey notifications@github.comwrote:

[2014-04-04 05:21] dstorey commented on #1
Either:

It should enable the shipped option to reflect that behaviour (and never show zero, unless that is truly how many features have shipped). This would still be confusing as the user won't notice the status has changed, but at least it won't show the confusing 0 features thing.

We’d need to do something to the UI to show those two drop downs are linked. Perhaps disabling the other status op

[2014-04-07 18:28] molant opened #2 "Perceived Performance in mobile"
The website in mobile renders pretty slow. ngRepeat takes time to insert the 140+ features in the DOM. We should insert them in batches so the UI thread has time to render them.

[2014-04-07 18:29] molant commented on #2
Working on this

[2014-04-07 19:37] #2 closed, assigned to nobody

[2014-04-07 19:44] molant opened #3 "Use sprites for images"
We have 35+ small images. We should be using a sprite to redunce the number of server calls.
We could use something like https://github.com/Ensighten/grunt-spritesmith and replace the images to css-backgrounds

[2014-04-07 19:57] molant opened #4 "Improve deployment speed"
The current deploy.cmd takes a few minutes to finish the deployment process. We can probably do better. One thing to keep in mind is this issue that might break the whole process:
https://github.com/gruntjs/grunt-contrib-imagemin/issues/183

Some ideas:
- Check for bower and grunt before installing them
- Download the dependencies directly in DEPLOYMENT_TARGET so we don't have to remove and copy

[2014-04-07 19:59] molant opened #5 "Add cache headers for static content"
We are not using any cache header at this moment. We should use it with the static content

[2014-04-07 20:06] molant opened #6 "Inline HTML templates in directives?"
Almost all the directives we are using have a templateUrl. We could add a new task to grunt that will inline those into the template property in the build task saving a few requests to the server.

[2014-04-07 20:39] molant commented on #5
Working on this

[2014-04-07 21:04] #5 closed, assigned to nobody

[2014-04-07 21:05] molant commented on #3
investigating this while @dstorey changes the HTML

[2014-04-07 22:36] dstorey commented on #3
Made changes to HTML and CSS at https://github.com/InternetExplorer/Status.IE/tree/imgToBgImg

[2014-04-08 01:32] dstorey opened #7 "All header menu links use "get tools" as a title"
The HTML was taken from Modern.ie, so that site has a copy paste error and needs updating too.

[2014-04-08 01:53] dstorey commented on #7
Fixed in development branch.

[2014-04-08 01:53] #7 closed, assigned to nobody

[2014-04-08 02:08] molant opened #8 "Filters out of the blue area"
Depending on the resolutions, the filters might be out of the blue area. This is happening at 750px with Chrome:
![image](https://cloud.githubusercontent.com/assets/606594/2639266/84d8e06a-bec2-11e3-9718-c9d7529785cf.png)

[2014-04-08 02:08] molant commented on #8
@dstorey, any idea?

[2014-04-08 02:14] molant commented on #3
All yours. You have the code in the branch css-sprite-generation a796ed0d15e646e308145d4bd2b8293bd2d392cd

[2014-04-08 02:49] dstorey opened #9 "Improve mobile ux issues"
- status is not visible on mobile
- category text nor icon can be accessed
- filters are hidden
- menu is hidden

We should be able to copy the modern.ie menu for mobile. The rest may be more tricky.
perhaps we can show the feature headings on two lines to show the status/category?

[2014-04-08 03:33] dstorey commented on #8
Confirmed. Investigating

[2014-04-08 04:17] dstorey commented on #8
Should be resolved now. Verify?

[2014-04-08 15:18] molant commented on #9
I'm ok having two lines as long as the item's height doesn't increase too much (I think we have space right now for the two lines). About the category icon is that something we really need to put on the header in mobile? With the name of the feature you usually have an idea of the bucket and we can always put it on the feature detail.
Thoughts?

[2014-04-08 15:45] dstorey commented on #9
The category is something I’ve seen Sara Soueidan [comment on on Twitter](https://twitter.com/SaraSoueidan/status/451956314374418432), as we currently have a coloured line, and it means nothing (except users wondering what it means) when there is no other indication.  It doesn't necessarily need to be in the header or an icon, but if the category is useful on desktop then I suppose it is useful on

[2014-04-09 01:33] molant commented on #6
Working on this

[2014-04-09 04:55] #6 closed, assigned to nobody

[2014-04-09 05:45] molant commented on #4
Working on this

[2014-04-09 20:35] molant commented on #3
This should be fixed in 6da98597ff90c0f3ad2b985e6448a12c409fa3d2

[2014-04-09 20:55] dstorey opened #10 "Paperclip icon missing when switching to sprites"
After merging in changes for #3 the paperclip icon (uses .standard in old version) is missing.

[2014-04-09 21:08] molant commented on #10
Working on this

[2014-04-09 22:02] #10 closed, assigned to nobody

[2014-04-09 22:14] molant commented on #4
Fixed in b2048ff12923bb927627e3ded302474a51c490b6
Now deployment takes between 3-4 minutes.
We need to install bower, grunt and run the build task so I don't think we can do more.

[2014-04-09 22:14] #4 closed, assigned to nobody

[2014-04-09 22:14] #3 closed, assigned to nobody

[2014-04-09 22:53] #8 closed, assigned to nobody

[2014-04-10 06:41] dstorey opened #11 "Investigate removing bootstrap"
We don’t use 95% of bootstrap.css according to the Chrome audit tools. We can save around 1,200 rule sets and about 4k lines of CSS if we remove it. Should speed up parsing, page weight etc quite a bit.

Disadvantage would be less default styles for new content we add, but we don’t use many of the built in classes in the current code, and we have a bunch of overrides for the ones we do use.

[2014-04-10 06:45] dstorey commented on #11
Published initial work at https://github.com/InternetExplorer/Status.IE/tree/remove-bootstrap-css

Not merged into development yet. After initial smoke testing locally it works the same as the current development branch (except the add button and focus highlight on the filter field.) Needs more extensive testing on Windows in the office tomorrow.

Not looked into removing the bootstrap js file yet

[2014-04-10 06:58] dstorey opened #12 "Add deep links for status (and other?) filter"
Currently if one wants to link to what features are in development they can't, as the deep linking only works for individual features.

You notice this a lot on twitter where people mention in development, but have to link just to the base URL.

We may want to be able to link to the other filters like browser, etc. too.

[2014-04-10 19:52] molant commented on #11
Fixed in 9bb93604e445cbadb2f4fda3639dc9bea101a921

[2014-04-10 19:52] #11 closed, assigned to nobody

[2014-04-10 19:56] molant opened #13 "Add sometype of prerender for SEO"
Maybe something like https://github.com/prerender/prerender?

[2014-04-10 21:06] molant commented on #13
Working on this

[2014-04-10 21:46] dstorey opened #14 "Filter drop downs wrap to a second line on initial load"
When loading the page, the last status drop down wraps to a second line, before jumping back up to the correct location.

Not a big deal, but it is distracting and looks bad. It would be great if we can fix this.

[2014-04-10 21:56] molant commented on #14
Working on this

On Thu, Apr 10, 2014 at 2:46 PM, David Storey notifications@github.comwrote:

[2014-04-10 22:04] dstorey opened #15 "Filter header jumps when a tag is added"
When adding a tag the filter area grows larger due to a 4px margin on the bottom of tags. The margin is needed to stop the second line of tags from butting against the first line.

We need to add a matching bottom margin to the filter input to stop this jump.

[2014-04-11 16:36] dstorey opened #16 "Create readme"
Before v1 release we should add a readme that explains the steps to set up the environment and run the code, etc.

[2014-04-12 01:09] molant opened #17 "Back navigation issues"
There have been some complains about the back navigation not behaving as expected when browsing several features.
We should investigate this.

[2014-04-12 02:26] jacobrossi commented on #17
Yeah, I saw that on Twitter. When I tried it earlier, I saw the back button updating the URL yo different features I had clicked, but the page was not scrolling to those features (e.g. Only the URL was changing).

-----Original Message-----
From: "Anton Molleda" notifications@github.com
Sent: ‎4/‎11/‎2014 6:09 PM
To: "InternetExplorer/Status.IE" Status.IE@noreply.github.com
Subject: [Status.IE] Ba

[2014-04-12 17:52] #14 closed, assigned to nobody

[2014-04-12 17:52] #15 closed, assigned to nobody

[2014-04-12 18:02] molant commented on #17
Working on this

[2014-04-12 18:24] #17 closed, assigned to nobody

[2014-04-12 22:05] dstorey opened #18 "Further CSS tidy up"
- Fix order of CSS imported in from the rules we used from Bootstrap and the modern.ie header
- Improve CSS used by the header
- Remove reduced bootstrap.css from the repo
- Remove any declarations left over that are never used (always overridden or same as one that is inherited)
- Remove units from 0 lengths that still have them
- Remove any duplicate declarations
- Add any fallbacks or vendor pr

[2014-04-12 22:05] dstorey commented on #18
Started work on this in branch css-tidy-up

[2014-04-13 23:03] molant opened #19 "Improve PNG minification"
@dstorey has managed to reduce the size of the individual images and the sprite a lot. I've tried to use the option pngquant of grunt-contrib-imagemin and reduced the size of the sprite to about 10KB but sometimes the process fails.
The associated issue is https://github.com/gruntjs/grunt-contrib-imagemin/issues/189

Right now we are minifying all the images. Maybe we can just reduce the sprite fi

[2014-04-13 23:26] dstorey commented on #19
The manual compression was done by using a mixture of pngquant and pngnq and various colour depths, depending on the image. The more complex images (browser icons) preferred pngquant and needed a higher number of colours, while the single or duel colour icons mostly reduced better using pngnq and between 4–8 colours. I also used ImageOptim on the resultant file (can be automatically applied using

[2014-04-13 23:33] dstorey commented on #19
We can potentially move the category icons outside the sprite and into an SVG sprite using [these images](http://www.w3.org/html/logo/#downloads), but we need to evaluate the size/performance trade off. Not sure if we currently compress our SVG files. The Safari tools say not.

[2014-04-14 02:29] molant commented on #19
We are minifying the svgs with svgmin but we are not creating any sprite at the moment.

I guess svg will be better for scaling to different resolutions. We can look into that.

With pngquant the final spritesheet is 10kb which is still better than what we have right now. I think that in the meantime I'm going to compress just that image and the IE logo while we investigate svg. Sounds good?

----

[2014-04-14 02:31] dstorey commented on #19
works for me

[2014-04-14 18:04] dstorey opened #20 "Add button butts against filter field in production, but not locally"
We set the filter field and button as inline-block. Inline blocks render the white space (well one character’s worth) between elements. In production we remove any whitespace in the HTML, so the space goes away.

Two Solutions:
- add margin (potentially different spacing in production and live)
- change to float, flexbox or other

[2014-04-14 18:05] dstorey commented on #20
Will fix this as part of #18 changes.

[2014-04-14 20:22] jacobrossi opened #21 "Clicking features causes scrollTo"
I think in fixing some of the issues with the back history we've broken click-to-expand a feature.  Now, when I click a feature, it expands and then a second later (presumably when the URL is updated) it causes scrollTo. This is jarring.

I think we should only do the scrollTo (a) during onload and (b) when clicking the back button.

As a related issue, when the scrollTo happens (whether from clic

[2014-04-14 20:34] molant commented on #19
So pngquant is not working property in Azure Websites. It generates a broken png with missing images. I've tried changing the parameters of grunt-contrib-imagemin but haven't been successful. Of course, it works on my machine (tm) so I've disabled it for now until we figure out what is going on.

[2014-04-14 20:43] molant commented on #21
Have you waited for all the features to load before clicking? Once all the features are loaded the scrollTo should be instantaneous (and we cannot insert all the features in one time because of the time it takes, specially in mobile #2).
We needed to add the scrollTo to fix the backbutton navigation issue (#17).

The color border disappearing is something that @dstorey has tried to identify what i

[2014-04-14 20:48] dstorey opened #22 "Filter field loses focus after adding a tag in IE"
Steps:
1. Click on filter field
2. type a term and press enter

Expected

In Chrome/Safari/Firefox/Presto-Opera the focus remains in the filter field so you can enter a new tag without clicking inside the field again

Actual:

In IE (tested IE11 so far) the filter field loses focus.

[2014-04-14 20:53] molant commented on #19
Not fixed, pngquant doesn't work yet

[2014-04-14 20:57] jacobrossi commented on #21
Even if you wait for them all to load, the scrolling still happens for clicking a feature (yes, it is instant though).  I think we should omit the scroll when clicking a feature (and just expand it in place). But we should do it when hitting the back button OR navigating directly to the URL.

I'm not familiar with Angular's eventing (e.g. the $locationChangeSuccess event you're using now in #17 ).

[2014-04-14 21:17] molant commented on #21
It is being fired when the location in the address bar changes.
I'll give it another try (didn't found how to do this the last time). The only "issue" is that if a user clicks on a bottom feature he will have to scroll

[2014-04-14 22:28] #21 closed, assigned to nobody

[2014-04-14 23:05] dstorey opened #23 "Focusing elements causes hidden elements to become visible"
Steps:

Keep pressing tab

Expected:

to focus only visible elements

Actual:

Focuses links in the feature drop downs, making them visible. Only the part with the links (spec links etc), not the whole section.

[2014-04-14 23:10] jacobrossi commented on #21
Looks good, thanks!

[2014-04-15 00:03] jacobrossi opened #24 "Safari status for "CSS Shapes" says "Under Consideration""
Investigating why we're showing our status value for Safari...

[2014-04-15 00:32] #24 closed, assigned to jacobrossi

[2014-04-15 00:47] jacobrossi commented on #22
Looks like an IE bug. 😞  I'll get it filed internally. Work around is to call focus on the input during the submit event.

-----Original Message-----
From: "David Storey" notifications@github.com
Sent: ‎4/‎14/‎2014 1:48 PM
To: "InternetExplorer/Status.IE" Status.IE@noreply.github.com
Subject: [Status.IE] Filter field loses focus after adding a tag in IE (#22)

Steps:
Click on filter field
type a t

[2014-04-15 15:49] adrianba opened #25 "mix-blend-mode incorrectly says "not supported" for Chrome when it is behind a flag"
Looking at normalizeBrowserStatus, it looks like we don't have a mapping from behind a flag. We should at least map this to in development.

[2014-04-15 17:07] dstorey opened #26 "Twitter link can’t be clicked when the MS logo is hidden"
In skinnier viewports where the MS logo is hidden, the click area for the twitter anchor element is behind the beta banner. Makes it impossible to click.

Two solutions:
- Add pointer events to make the transparent area possible to click through (only works in IE11+ and other browsers)
- Increase padding/margin of the twitter logo for now until the beta banner is removed.

[2014-04-15 17:08] dstorey opened #27 "Footer layout breaks in skinnier viewports"
When the viewport is reduced the footer breaks onto a new line and pushes the black background up. Creates a strange white line, and not all text is visible. On the thinnest media query no text is visible.

[2014-04-15 21:14] molant commented on #25
Working on this

[2014-04-15 21:26] #25 closed, assigned to nobody

[2014-04-16 00:50] molant commented on #16
@jacobrossi what sections do you want it to have?
Probably we need something like:
- What is this project
- How to install it and run it
- How to submit code
- License

Something else?
Can you help with the copy for some of these sections (1 and 3 probably)

[2014-04-16 05:48] dstorey opened #28 "Clicking "add" button adds a tag even when you don't type a search term"
Steps:

Click add button

Expected:

Nothing

Actual:

A blank tag is added

[2014-04-16 21:13] jacobrossi opened #29 "Expose Opera Data"
Working with Mathias on this

[2014-04-16 22:30] jacobrossi opened #30 "Improve Filtering"
User feedback to address:
- Not clear that browser drop down means "features with shipped status in this browser"
- Multiple filters seems too heavy weight, one text filter is probably sufficient and saves UI space
- Use clearer terms (e.g. "Implementation Status" rather than just "Status")
- Can't filter on mobile

I will mock up some possible alternatives.

[2014-04-16 22:31] jacobrossi opened #31 "Complete doc, standards, and demo links"

[2014-04-16 22:33] jacobrossi opened #32 "Modern.IE 2-way integration"
Work with Bryan on connection points between Modern.IE, status, IE MSDN Dev Center, Test Drive, Blog, etc.

[2014-04-16 22:39] dstorey commented on #18
I’ve pushed the commits which resolve this to the development branch. It needs more testing to make absolute sure as I changed a lot of the CSS. One downside is we lost the animation on hover for the Twitter logo when changing to an SVG file (browsers ignore the SVG hover state when used via CSS `background-image` For security reasons I believe?)

Only thing left from this bug is to look into impr

[2014-04-16 22:42] dstorey opened #33 "Look into automated testing"
It would be better if we had some form of automated testing to reduce the risk of breaking things.

[2014-04-16 22:46] jacobrossi commented on #33
We're looking into getting a dedicated tester.  So let's park this for now.

[2014-04-16 22:47] jacobrossi commented on #20
Should this be closed now?

[2014-04-16 23:05] jacobrossi commented on #13
Bing recommendations: http://www.bing.com/blogs/site_blogs/b/webmaster/archive/2013/03/21/search-engine-optimization-best-practices-for-ajax-urls.aspx

Alternative (less preferred) approach is crawlable ajax: https://developers.google.com/webmasters/ajax-crawling/

Let me know if you me to connect you with the Bing team on this.

[2014-04-16 23:29] molant commented on #13
I'm afraid we need to create HTML snapshots. All the content is generated dynamically. I think I know how to make it work for Google with its escaped_fragment but I haven't found anything yet similar for Bing. Do you know anything?

Right now my approach is to use phantomjs to create a static html that will be deliver to the search engines. We only have one page so that should be manageable.

[2014-04-16 23:30] molant commented on #30
Should we close #1 in favor of this one?
+@dstorey

[2014-04-16 23:50] dstorey commented on #20
Once my latest branch goes from dev to production it should close, along with a couple of other bugs I opened.

[2014-04-17 00:04] molant commented on #28
working on this

[2014-04-17 00:10] #28 closed, assigned to nobody

[2014-04-17 00:32] dstorey commented on #27
This is fixed on dev branch. Not perfect wrapping, but way better.

[2014-04-17 00:33] dstorey commented on #22
@molant something you can fix?

[2014-04-17 03:57] dstorey opened #34 "Add platform integration?"
It would be nice to include some platform integration where it makes sense.

I’m mainly thinking of Live Tile support for Windows, preferably with a feed of the the latest features that are added of have their status change. If we do this we may as well add an RSS feed of the same data.

[2014-04-17 04:01] dstorey commented on #34
If http://status.modern.ie/webnotifications moves beyond “under consideration” it could also be interesting to add as a way to notify opt-in users of updated features tracked by the site.

[2014-04-17 16:14] #20 closed, assigned to nobody

[2014-04-17 16:14] #22 closed, assigned to nobody

[2014-04-17 18:13] jacobrossi opened #35 "Add <dialog> element to status"

[2014-04-17 19:56] dstorey opened #36 "Improve accessibility"
We use WAI-ARIA landmark roles and attributes in the index.html template but they’re missing in some of the others, such as features.html

Some of the existing ARIA can also be improved.
- The feature sections don’t include ARIA. Should use `role="tab list"` and associated attributes. [complete]
- The filter drop downs don’t include ARIA. Not sure if these should be `button` and `listbox`, or `men

[2014-04-17 19:56] dstorey commented on #36
Started work on this.

[2014-04-18 04:07] jacobrossi opened #37 "CSS Shapes link is wrong"
The shapes page (http://status.modern.ie/shapes) links to the wrong bug for WebKit. The correct master bug: wkbug.com/98664

[2014-04-18 04:15] jacobrossi opened #38 "Add HTML5 input elements to features list"

[2014-04-18 23:00] dstorey commented on #18
This is now in production

[2014-04-18 23:00] #18 closed, assigned to nobody

[2014-04-18 23:00] dstorey commented on #27
Fix now in production

[2014-04-18 23:00] #27 closed, assigned to nobody

[2014-04-21 02:40] dstorey opened #39 "Add Promises"
Promises are one of those features that have received a lot of buzz, and are included in many JavaScript frameworks. It would be good to include on Status.
- [Can I Use entry](http://caniuse.com/#feat=promises)
- [ES6 Spec](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-promise-objects)

[2014-04-22 18:40] dstorey commented on #36
@molant has made the aria state attributes dynamic now, fixed the live regions (hopefully) and removed the role="form"

I’ve added the skeleton aria attributes to the filter drop downs. I’m not 100% sure they're the correct ones, but they should at least work until we know which is the most appropriate.

@molant: In featuresorting.html :
- `aria-pressed` on `a role="button"` needs to be true when

[2014-04-22 19:11] dstorey commented on #36
Now the accordion `<header>` and the `<button>` inside are both focusable and both perform the same task. We should consider removing the button and just adding the styling of the button another way (perhaps with ::after) or giving the button `tabindex="-1"` to remove it from the tab queue. It is overkill to have two tab stops that perform the same action.

Another tab focus issue is that the spec

[2014-04-23 04:57] dstorey commented on #13
I’m not a fan of the UA detection for crawlers as it isn’t future friendly, but I don't have a better suggestion right now. The static version would potentially give a better experience for some users though (those with no script, or potentially those with weaker hardware, mobile or whatever.) At the very minimum would there be a way to allow the user to override the sniffing and allow them to acc

[2014-04-23 05:13] molant commented on #13
I don't like neither the UA approach but the other solution is to generate all the HTML in the server side and that will be a massive rewrite of the current site. We will be storing also the data from chromestatus so...

The static page doesn't have any style so I'm not sure it will be useful to serve it to anything other than a bot...

I'll move the UA to a config file!

[2014-04-23 16:43] #13 closed, assigned to nobody

[2014-04-25 19:08] molant commented on #36
@dstorey I've addressed most of your feedback. The only item I think is missing right now is the keyboard accessibility with the menus and the skip link.
All yours!

[2014-04-25 19:10] molant commented on #23
This has been solved by @dstorey in 53b84c6c19bd9c964c6c361139e7fdd23854cddb

[2014-04-25 19:10] #23 closed, assigned to nobody

[2014-04-29 21:48] molant opened #40 "Create task to verify links"
Maybe we should create a task in the build process that will check the validity of the links in our JSON data.
Pros:
- We are sure our links are working
  Cons:
- Validation can take a while to check all the links even if paralleled (maybe it could be a separate task that is not build?)

@jacobrossi, @dstorey thoughts?

[2014-04-29 21:52] molant opened #41 "Migrate to Express 4.0"
Express 4.0 is out, our code is really simple so migrating to the latest version shouldn't take too long and we will see some of the warnings when running the server disappear.

[2014-04-29 22:47] #41 closed, assigned to nobody

[2014-04-29 22:57] molant commented on #19
With version 0.7.0 and pngquant the spritesheet size is 20KB smaller!

[2014-04-29 23:01] #19 closed, assigned to nobody

[2014-05-05 18:50] dstorey opened #42 "Accordions and drop downs need to be accessible via keyboard"
The accordions and drop downs (in the filters branch) can be accessed via the tab key, but there is no way to expand them (I suppose via the enter key?) This needs to be added.

[2014-05-08 06:14] dstorey commented on #42
Feedback from Léonie:

The accordion functionality is working ok, except for the keyboard handling. When a keyboard user tabs onto the first accordion header, it should be possible to use the cursor keys to cycle between the other accordion headers. This doesn’t seem to be happening at the moment.

The ARIA authoring practices has a useful design pattern that includes recommended keyboard handling

[2014-05-08 06:20] dstorey commented on #36
feedback from Léonie about the main menu

&lt;snip/>
"All that said, if the links are just links (leading to other pages), then a menu probably isn’t the right design pattern to use in the first place. A menu is supposed to emulate the menubar within a software application, so unless you need to display child menus etc. it’s probably best just to remove all the ARIA and leave them as a set of link

[2014-05-08 06:23] dstorey commented on #36
Feedback about the filter drop downs (from the current live site, not the redesign)

"This is more difficult to use with a screen reader. It works up to a point in IE (with Jaws 15), but not at all in Firefox.

In both browsers I can see buttons for “Sorting”, “Technologies”, “Browsers” and “Status”. They’re reported as toggle buttons, because of the aria-pressed attribute present on each one.

In

[2014-05-08 15:49] molant commented on #42
So the down/up arrow should do the same as tab/shift-tab, right?

On Wed, May 7, 2014 at 11:14 PM, David Storey notifications@github.comwrote:

[2014-05-08 16:23] dstorey commented on #42
Sounds like it, yes.

On 8 May 2014, at 08:49, Anton Molleda notifications@github.com wrote:

[2014-05-08 23:09] molant commented on #1
Closing this in favor of #30

[2014-05-08 23:09] #1 closed, assigned to nobody

[2014-05-08 23:41] #42 closed, assigned to nobody

[2014-05-08 23:44] dstorey commented on #36
Closing this. If there are any remaining issues we can open separate bugs.

[2014-05-08 23:44] #36 closed, assigned to nobody

[2014-05-08 23:45] dstorey commented on #30
This is now complete.

[2014-05-08 23:45] #30 closed, assigned to jacobrossi

[2014-05-08 23:46] dstorey commented on #9
This was fixed by the filtering task and a fix for the status on the accessibility task

[2014-05-08 23:46] #9 closed, assigned to nobody

[2014-05-09 06:11] dstorey opened #43 "Sort by status is sometimes random"
Steps:

Not sure of the exact steps right now, but if you disable some of the interop options then sort by status it gives a random order. Switching between other sorting options and back to "status" will give a different order.

[2014-05-09 06:17] dstorey commented on #43
Seems like I can get it to break much more consistently on IE/WinPho. On Chrome or Firefox desktop I haven’t got it to break yet.

[2014-05-09 16:33] molant commented on #43
So this happens when the elements haven't been fully inserted and you change the sorting. Because we are inserting them in groups and not all at the same time there is a situation with the timeouts where in some case you can be inserting from the previous sorting and then add from the new one... Just need to clear the timeout if there is one when the insert process starts.

[2014-05-09 16:43] #43 closed, assigned to nobody

[2014-05-09 16:50] molant commented on #34
What information should the RSS feed or the live tiles give? I'm thinking about the status change of features. Should it be individual items or be all compiled into one single (big) item? Maybe one item per push so if 5 features are updated/added at the same time that will make one item in the feed?

[2014-05-12 02:46] dstorey commented on #26
This is now solved with the menu code refactor.

[2014-05-12 02:46] #26 closed, assigned to nobody

[2014-05-12 23:47] jacobrossi opened #44 "Features, like flexbox, aren't tall enough when expanded"
The fixed height of the features when expanded doesn't account for features with more content (e.g. longer descriptions).  Need to find a workaround for essentially CSS transitioning from 50px to "auto", which isn't supported by the standard today.

[2014-05-13 17:48] #44 closed, assigned to jacobrossi

[2014-05-14 20:17] molant commented on #32
I believe this is fixed now :)

[2014-05-14 20:17] #32 closed, assigned to jacobrossi

[2014-05-15 16:45] dstorey opened #45 "Total features displays on 2nd line in Safari"
For some reason Safari makes the total features text drop down to a second line. All other browsers correctly float it to the right on the same line.

Adding display: inline-block; fixes the issue.

[2014-05-15 21:39] jacobrossi opened #46 ""See IE Status" link doesn't really make sense"
I like the consistency with modern.IE's new header. But I think we should leave off "See IE Status" since it's self referential.

[2014-05-15 23:02] dstorey opened #47 "Footer doesn’t stick to bottom of page when content height < viewport height"

[2014-05-15 23:27] dstorey opened #48 "Margin collapses on last feature item with new sticky footer"
The last item bumps into the footer in the dev branch with the new sticky footer. The margin is displayed in Chrome, Safari, but not IE, Firefox or Presto Opera

[2014-05-16 16:28] adrianba opened #49 "Ensure we list all the DAP deliverables on the site"
See the [request](http://lists.w3.org/Archives/Public/public-device-apis/2014May/0023.html) from the working group and my [response](http://lists.w3.org/Archives/Public/public-device-apis/2014May/0033.html).

We have most of the things on the WG [list of deliverables](http://www.w3.org/2009/dap/wiki/ImplementationStatus#Recommendation_Track_Deliverables) but there are a couple missing like proximi

[2014-05-16 16:30] adrianba opened #50 "Clicking on the "Platform Status" link on the title bar should clear any filters and return to the home view"
If I type something into the filter box I would like to be able to get back to the unfiltered view by clicking on the "home" link in the title bar rather than having to click into the edit box and delete the contents.

[2014-05-16 16:55] adrianba opened #51 "When the responsive design narrows so that Platform Status is above Get Tools, it is no longer a link"
Not sure if this is on purpose (and if so why).

![capture](https://cloud.githubusercontent.com/assets/2166064/2999800/e085eaea-dd1a-11e3-9fa6-45f09064d67e.PNG)

[2014-05-16 18:27] dstorey opened #52 "Doesnt scroll to avoid content overlapping content on mobile"
Only tested IE mobile so far.

If you have a feature in the URL it scrolls to that feature, but the filter bar overlaps the content.

[2014-05-16 21:14] dstorey opened #53 "mobile scroll to feature performance"
On mobile it takes a long time after page load to scroll to the desired feature in the URL. It makes you think that it isn't working, then all of a sudden it scrolls when you don't expect it.

We need to find a way to mitigate the issue. Perhaps pause inserting features if the desired feature is already in the Dom, scroll, then start insert in again. Of course that wouldn't fix it for features nea

[2014-05-17 16:58] dstorey commented on #51
I think this was introduced in the menu refactoring. It isn't an issue in the dev branch where we changed the menu to be more like the new Modern.IE. Instead, it has the opposite problem, where the link is also includes all the free space.

[2014-05-19 22:22] jacobrossi opened #54 "IE version filters are backwards"
Choosing "supported in IE8+" returns more features than "supported in IE11+".  But IE11 has more features than IE8, so I think we've got the filtering logic backwards.

[2014-05-19 22:32] dstorey opened #55 "Investigate using SVG sprites"
A number of the current items would be suitable as SVGs (MS and IE logos, the category logos, etc) and it would reduce the fuzzies on High DPI screens. We currently use one file per SVG.

We should investigate SVG sprite solutions so we can switch those icons over.

One downside would be probably having to use inline SVG rather than an external file. Another is that the raster images are highly op

[2014-05-19 23:13] molant commented on #54
Mmm,I think this is what we agreed the other day and that's why I changed it. I believe it was meant to be something like
Features Implemented since this version.

It takes nothing to do the change, just let me know what should be the expected behavior.

-----Original Message-----
From: "Jacob Rossi" notifications@github.com
Sent: ‎5/‎19/‎2014 15:22
To: "InternetExplorer/Status.IE" Status.IE@norep

[2014-05-21 19:53] dstorey opened #57 "Technologies drop down arrow does not spin"

[2014-05-21 21:25] dstorey commented on #57
Issue is because .open is on a parent so as Interop is open to display the menu it is always in the open position.

[2014-05-21 21:41] molant commented on #52
This doesn't happen on Chrome Android.
I've look at the code and this is what I'm doing:

[code]

The problem is that pageYOffeset is about 900px when I link to canvas in desktop and in IE Mobile is 0.
Using a timeout just for the scrollTo sometimes fixes the issue (it has to be >= 100ms).

@jacobrossi do you know if this is a bug in IE or am I doing something wrong?

[2014-05-21 22:07] dstorey opened #58 "Sort drop down shown offscreen with narrow viewports"
The full filter field and drop down display on one line in IE/Nokia 920, but on other devices and IE snap mode the sort drops to the next line. This makes the sort drop down appear partially off screen.

This seems to happen at 370px in IE snap mode, but 390px on Firefox.

[2014-05-22 15:56] #45 closed, assigned to nobody

[2014-05-22 15:56] #47 closed, assigned to nobody

[2014-05-22 15:56] #48 closed, assigned to nobody

[2014-05-22 15:56] #51 closed, assigned to nobody

[2014-05-22 15:56] #54 closed, assigned to nobody

[2014-05-23 05:56] #58 closed, assigned to nobody

[2014-05-23 05:56] #57 closed, assigned to nobody

[2014-05-28 12:55] #12 closed, assigned to nobody

[2014-05-28 14:43] charlesjmorris commented on #39
It's there now! http://status.modern.ie/promiseses6

[2014-05-28 14:43] #39 closed, assigned to jacobrossi

[2014-05-28 15:06] Wilto opened #59 "Updates on responsive images sections"
Hey guys—just wanted to drop a couple of updates on the `picture` element and `srcset` attribute items:

**`picture`**
- WebKit work is [now officially underway](https://twitter.com/yoavweiss/status/471573481273184256)!

**`srcset`**
- The “working draft or equivalent” link is pointing at the original `srcset` proposal, which is no longer being pursued by any vendors. The version being actively im

[2014-05-28 15:10] dstorey commented on #59
May need to update ChromeStatus data for parts of this,

[2014-05-28 15:24] yoavweiss commented on #59
True. I'll update there.

[2014-05-28 15:30] jacobrossi commented on #46
Fixed!

[2014-05-28 15:30] #46 closed, assigned to jacobrossi

[2014-05-28 15:33] yoavweiss commented on #59
Done! :)

[2014-05-28 19:01] DanTup opened #60 "Add Dart and NaCl to the dashboard"
It'd be good to have significant features of other browsers like these listed (I know Chrome doesn't have native Dart support, but I expect it will!). There are other "Not Planned" items listed; so this doesn't seem completely crazy.

Although I'm fairly sure you won't implement them, I don't know if there's actually any "official" word on these. It would aid devs making decisions if they knew whe

[2014-05-28 19:07] jacobrossi commented on #59
Rock on! Thanks

[2014-05-28 19:07] #59 closed, assigned to jacobrossi

[2014-05-28 19:44] Wilto commented on #59
Not sure how the two link up—do the updates to ChromeStatus take care of all the points above?

[2014-05-28 19:54] dstorey commented on #59
yes, we just pull in their features.json via XHR

[2014-05-28 20:40] Wilto commented on #59
Hm. Looks like things have updated in http://status.modern.ie/imgsrcset, but I don’t think that addressed the link to the defunct `srcset` spec.

[2014-05-28 22:21] dstorey commented on #59
The link to the spec is at https://github.com/InternetExplorer/Status.IE/blob/production/app/static/ie-status.json#L37

However the link it is pointing to is still being updated (latest today.) Is that still being pursued by Apple (the editors) ? Where should it link to? http://picture.responsiveimages.org/#parse-srcset-attr ?

[2014-05-29 00:18] Wilto commented on #59
Hm. http://picture.responsiveimages.org/#relationship-to-srcset  might make the most sense as kind of an “overview” section, but we should probably explain how the spec redefines `srcset` in, y’know, human-words.

You okay with linking to that? I filed https://github.com/ResponsiveImagesCG/picture-element/issues/194 in the meantime.

[2014-05-29 00:37] Wilto commented on #59
Oh—and the W3C spec was a fork of the old WHATWG `srcset` spec, which is being [replaced with the `picture` spec](http://www.whatwg.org/specs/web-apps/current-work/multipage/edits.html#embedded-content). We’ve already got the actual WebKit work underway based on the `picture` version, so it’s just a matter of the paperwork catching up.

[2014-05-29 03:54] dstorey opened #61 "Show difference between Windows versions, and non-desktop"
Some features, such as SPDY don’t exist on Win7/IE. This is also the case for Windows Phone and Xbox. We should investigate how to display the different levels of support and our plans for adding these features to those platforms.

[2014-05-29 05:05] jonathantneal commented on #55
:thumbsup: and you could use external files with my [script](https://github.com/jonathantneal/svg4everybody) if the caching is worth it.

[2014-05-29 09:45] reschke opened #64 "no mention of HTTP status 308"
...defined in RFC 7238 (to be published next week), implemented in all desktop user agents except IE. (see http://greenbytes.de/tech/tc/httpredirects/#l-308 for test cases)

[2014-05-29 18:03] jonathantneal opened #65 "SVG `use` with external source"
Creating the issue to track consideration of SVG `<use>` with external sources.

@dstorey filed a related issue (#55) to switch to SVGs on your main site. However, he notes:

This has been written about elsewhere:

So, I asked about this, and you responded. Thank you!

And here we are. Again, the issue is limited to IE9-11. I’ve yet to find a way to detect the issue apart from user agent sniffing.

[2014-05-29 18:13] charlesjmorris opened #66 "Add missing ES6/ES7 features (Modules, String templates, Object.observe)"
A few missing ECMAScript features that people have been asking about.

[2014-05-29 18:28] briandipalma commented on #66
Throw in Classes to while you're there :)

[2014-05-29 18:28] briandipalma commented on #66
Thanks btw :+1:

[2014-05-31 12:41] am11 opened #68 "CSS: resize and outline-offset props (CSS3 User Interface)"
Spec: http://www.w3.org/TR/css3-ui/.

Please add CSS `resize` and `outline-offset` properties to your backlog ([#864315 @MS-Connect](https://connect.microsoft.com/IE/feedback/details/864315/css3-resize-and-outline-offset-properties-missing)). Couldn't find those on http://status.modern.ie/.

See Browser Support: http://www.w3schools.com/css/css3_user_interface.asp.

Thanks.

[2014-05-31 12:56] am11 opened #69 "Desktop: OOTB sharing integrations"
IE for modern desktop and WinPho is amazing. Features like ability to share pages, favorites across the devices and pin to start screen are awesome.

IE desktop on the other hand, with its old UI (century-old-looking 'internet options' dialog for instance, which can probably be redesigned using [MS-Office's backstage](http://office.microsoft.com/en-us/word-help/introducing-backstage-HA010372688.as

[2014-05-31 20:56] jacobrossi commented on #69
Thanks for your feedback. However, this repository is for the code related to the http://status.modern.IE web site only. Suggestions and bug reports for Internet Explorer should be filed at http://connect.microsoft.com/ie (as you have already) and on Twitter @iedevchat.

[2014-05-31 20:56] #69 closed, assigned to nobody

[2014-05-31 21:09] jacobrossi opened #70 "Data does not sort by name on first load"
Something regressed recently and features are ordering by their order in ie-features.json and not by feature name.

[2014-06-02 10:54] thany opened #71 "Missing: CSS transitions and animations"
CSS transitions and animations seem to be missing from the feature list.

[2014-06-02 10:55] thany opened #72 "CSS transform incorrect"
The entry for CSS transform claims unprefixed support in IE9. This is wrong.

IE9 needs the `-ms-` prefix, wheras IE10+ accepts the unprefixed notation.

[2014-06-02 16:52] dstorey opened #73 "Add tab-size CSS property"
Supported by Opera, Firefox, Safari, Chrome.

[2014-06-02 16:55] dstorey opened #74 "Add `initial` CSS wide keyword"
Supported by Opera, Safari, Chrome, Firefox

[2014-06-02 17:09] dstorey opened #75 "Add CSS `column-span: none`"
Not sure if this is too fine grained for StatusIE but IE supports ye olde `column-span: 1` instead of `none`.

The current spec (`none`) is supported by Safari, Opera, and Chrome. (with prefix, except Presto versions of Opera)

Spec: http://www.w3.org/TR/css3-multicol/#column-span

[2014-06-02 17:11] dstorey commented on #74
Spec: http://www.w3.org/TR/css-cascade-3/#initial

[2014-06-02 17:14] dstorey opened #76 "Add CSS level 3 `unicode-bidi` values"
The values `isolate`, `isolate-override` and `plaintext` were added in Writing Modes L3. Supported by Safari, Chrome, Firefox, and Opera. All with value prefixes.

Spec: http://dev.w3.org/csswg/css-writing-modes/#unicode-bidi

[2014-06-02 17:18] dstorey opened #77 "Add modern `writing-mode` values"
IE has strong support for CSS writing-modes with increased support in recent versions, but it still uses the old SVG inspired values for the base property to set writing modes.

Safari, Opera, and Chrome support `horizontal-tb`, `vertical-rl` and `vertical-lr`. Firefox doesn't support writing modes at all.

Spec: http://dev.w3.org/csswg/css-writing-modes/#writing-mode

[2014-06-02 17:23] dstorey opened #78 "Add `overflow-wrap` CSS property"
This is the renamed version of the deprecated `word-wrap`.

Supported by Safari, Opera, and Chrome. Adds an extra 'hyphenate` value in Level 4 not supported by any browser.

Spec: http://dev.w3.org/csswg/css-text/#overflow-wrap-property

[2014-06-02 17:30] dstorey opened #79 "Add `start`/`end` values for `text-align`/`text-align-last`"
Writing mode independent values for aligning text (or other content.) `start` === `left` in left to right and `right` in right to left.

Supported in Firefox, Safari, Opera, and Chrome

Spec: http://dev.w3.org/csswg/css-text/#text-align-property and http://dev.w3.org/csswg/css-text/#text-align-last-property

There are also further level 3 and level 4 values, such as `match-parent` (supported by Sa

[2014-06-02 22:10] dstorey opened #80 "Add Fetch API"
Hot off the press.

spec: http://fetch.spec.whatwg.org/#fetch-api
announcement: http://lists.w3.org/Archives/Public/public-webapps/2014AprJun/0687.html

“The plan is to implement and ship this fairly soon” (by Mozilla I assume)

[2014-06-03 06:44] dstorey commented on #72
fixed by #81

[2014-06-03 06:44] #72 closed, assigned to nobody

[2014-06-03 20:55] molant commented on #70
Working on this

[2014-06-03 22:50] molant opened #82 "text search and history API"
right now, every single key stroke in the test search is added to the history API. We should wait until pushing any data into the history

[2014-06-03 22:51] jacobrossi commented on #82
Oh jeez, yeah let's fix this.

-----Original Message-----
From: "Anton Molleda" notifications@github.com
Sent: ‎6/‎3/‎2014 6:50 PM
To: "InternetExplorer/Status.IE" Status.IE@noreply.github.com
Subject: [Status.IE] text search and history API (#82)

right now, every single key stroke in the test search is added to the history API. We should wait until pushing any data into the history
—
Reply to th

[2014-06-03 22:58] molant commented on #82
I've put a 250ms wait. Let me know if you want it to wait a bit more

[2014-06-03 23:06] dstorey opened #83 "Expanding feature animation broken in WebKit"
Steps:
- Expand a feature in WebKit such as Safari 7

Expected:

Smoothly animates to open position

Actual:

when you expand a feature it spasms between open and closed before finishing in the open position in WebKit. Looks really bad.

Broken in Safari (at least in 7, don't have access to 8), iOS, Chrome on Android (at least version 35 according to reports).

@molant was this broken as part of y

[2014-06-03 23:12] dstorey opened #84 "Add `main` element"
Spec: http://www.w3.org/TR/html51/grouping-content.html#the-main-element

Support:

Chrome, Opera, Firefox, Safari.

[2014-06-03 23:18] molant commented on #83
I see the opposite error (no animation when closing) in IE11 (desktop and mobile), Chrome and Firefox.
I have no idea on when this was broken but I only add/remove a class since the beginning... Could it be that:
- Something got removed in the CSS clean up process?
- because now we are just changing the display to block and animate the rest maybe the browsers are doing some "performance" optimizat

[2014-06-03 23:33] molant opened #85 "Back navigation doesn't apply to filters"
Pressing the back button doesn't change the filters to their previous state (if any had been changed). It is working only to navigate from one feature to another.

[2014-06-04 02:48] dstorey commented on #83
I don't think there was any CSS clean up after the expanding logic was changed to stop the content overlapping.

[2014-06-04 04:19] charlesjmorris opened #86 "Tooltips over status text shows category instead of definition"
When mousing over status text like "In Development", it no longer shows the definition of the status. Instead it shows the category like "User Input", or "Network/Connectivity".

Works in Chrome if you mouse over the text directly, but seems broken in IE/FF.

[2014-06-04 09:52] am11 opened #87 "JavaScript: SharedWorker interface"
`SharedWorker` is missing from the features list: http://www.w3.org/TR/workers/#shared-workers-introduction

On the same note; according to Mozilla's [compatibility table](https://developer.mozilla.org/en-US/docs/Web/API/SharedWorker?redirectlocale=en-US&redirectslug=DOM%2FSharedWorker), IE is the only one missing this feature (in desktop world).

[2014-06-04 23:02] charlesjmorris opened #88 "Add <keygen> element"
Probably not frequently used, but part of the HTML5 spec so should consider.

[2014-06-06 09:29] am11 commented on #69
Thanks! I tweet it `@iedevchat`: https://twitter.com/adeelbm/status/474137944903544832.

[2014-06-06 15:52] adrianba commented on #88
I think the current status is this:
- IE correctly parses &lt;keygen> as a [void element](http://www.w3.org/TR/html5/syntax.html#void-elements)
- The [HTML5 spec says](http://www.w3.org/TR/html5/forms.html#attr-keygen-keytype) that "_it is possible for a user agent to not support any key types at all._" That's what IE currently does.

If we add &lt;keygen> to the site we should make sure to addres

[2014-06-06 18:24] molant opened #90 "Add contributing.md file"
We should add a  contributing.md file so when a dev makes a PR to the project he will have access to the project's contributing guide.

[2014-06-06 20:45] #70 closed, assigned to nobody

[2014-06-06 20:45] #82 closed, assigned to nobody

[2014-06-06 20:45] #85 closed, assigned to nobody

[2014-06-07 01:06] jacobrossi commented on #90
We can probably just split off the contributing section in the readme.

[2014-06-07 11:00] Studio384 opened #91 "Filter on versions bug"
When a user filters on Implemented in, you can select the version it has been implemented in. The radio buttons note options like IE9+. This suggests that it will show everything that has been added in IE9 and higher. However, the result is everything that has been added in IE9 and lower. This makes it a little bit confusing and harder to find technologies that have been added in IE11 or IE10, as

[2014-06-09 01:14] KenjiBaheux opened #93 "Add CSS Font Loading API"
Would love to see this API on modern.status.ie :)

[2014-06-09 01:17] KenjiBaheux opened #94 "Add WOFF 2.0 (web font compression format)"
We are seeing impressive gains over WOFF 1.0 web fonts: 30% gains on average, up to 50% for CJK web fonts. It would be great to have this on your radar at modern.status.ie !

[2014-06-09 18:33] igrigorik commented on #94
/sub

[2014-06-09 18:34] igrigorik commented on #93
/sub

[2014-06-09 21:22] am11 commented on #90
If applicable, you can copy some bits from WebEssentials's guidelines: https://github.com/madskristensen/WebEssentials2013/blob/master/CONTRIBUTING.md

:-)

[2014-06-09 22:38] molant commented on #90
I don't know how the MS-PL license works with the Apache 2 so for now I think we are going to take the sections in Licensing and add a couple more things but thank you :)

[2014-06-09 22:56] molant commented on #91
Hi @Studio384

What we've tried to do with this filter is help developers know in an easy way what features they have available for the minimum browser they need to support so... it is working as expected.
If we changed the label from "Implemented in" to "Supported by" will it be clearer?
- @jacobrossi and @dstorey to get their opinions too.

[2014-06-09 23:14] molant commented on #83
I saw the animation on a mac and it is definitely not the same as I'm seeing on Windows. I really don't know what is going on :S

[2014-06-09 23:17] molant commented on #16
We have the readme file so closing this. @jacobrossi if there is something missing please reopen it again.

[2014-06-09 23:17] #16 closed, assigned to jacobrossi

[2014-06-10 00:02] am11 commented on #90
@molant, yqwc!

As a power-user, I have three UX related points (all inspired by non-IE browsers):
- Ctrl+browser-back-or-forward button shortcut to open previous/forward page in new tab.
- Ctrl+0 bring zoom level to normal. If 0 is pressed on qwerty keyboard, it works, but doesn't work if zero was pressed on num-pad.
- `Paste and Go (Ctrl + Shift + L)` entry in address bar's context menu (availab

[2014-06-10 00:29] dstorey commented on #90
Hi @am11. Thanks for the feedback. UX issues for the browser itself are not tracked in this GitHub Issues. Until we have a better solution, it would be best to file individual bugs at connect.microsoft.com/IE/

[2014-06-10 04:30] jacobrossi commented on #29
We list 3 statuses for non-IE browsers:

Shipped
In Development
Not Supported

Shipped is easily determined thanks to the shipped_opera_milestone field in the Chromium Dashboard data. However, I'm not sure how we should be differentiating between In Development and Not Supported for Opera.  We use impl_status_chrome field for Chrome. But there doesn't seem to be a similar field for Opera.

Given t

[2014-06-10 05:13] jacobrossi commented on #75
How about opening this up as a bug over at http://connect.microsoft.com/ie? I think this is too specific to be worth a feature listing.

[2014-06-10 05:13] #75 closed, assigned to nobody

[2014-06-10 05:39] jacobrossi commented on #90
@molant I like the change. I updated it to remove the contribution guidelines from the README so we don't have to maintain both.

[2014-06-10 05:39] #90 closed, assigned to nobody

[2014-06-10 08:57] am11 commented on #90
@dstorey, thanks. Unfortunately the _proper procedure_ suggests that even if we apply round-robin scheduling, these kind of issues will never get a turn (due to their insignificance?) :)

To wit, those are already on Connect for years now:
- [One missing and another poorly implemented shortcut](https://connect.microsoft.com/IE/feedback/details/708803/one-missing-and-another-poorly-implemented-shor

[2014-06-10 14:19] mathiasbynens commented on #29
Everything that’s supported in Chromium is also something we want to / should implement in Opera — if not right now, then definitely at some point in the future. So if no `shipped_opera_milestone` is present, but the feature _is_ shipped in Chrome/Chromium, it can be considered as In Development for Opera.

Does that help?

[2014-06-10 16:39] jacobrossi commented on #90
@am11 This repository is not monitored by the team responsible for the IE app user interface.  That team does actively monitor Connect and your feedback has been heard.

-Jacob

PS -  If it helps you, "Go to copied address" is at least available in the web page context menu in desktop IE.

[2014-06-10 23:21] molant commented on #29
Thanks @mathiasbynens,
what about the features in development in Chrome? Should they also be in development for Opera?

[2014-06-11 06:59] mathiasbynens commented on #29
@molant Yes.

[2014-06-11 23:53] jonathantneal commented on #65
Kudos to @gregwhitworth for tracking this feature with f240b6d. I’m closing this.

[2014-06-11 23:53] #65 closed, assigned to jacobrossi

[2014-06-11 23:58] gregwhitworth commented on #65
No problem, sorry it took me a bit to get it posted :)

[2014-06-12 05:08] jacobrossi commented on #29
Ok, I updated this to work as described above. Note that I need to make one more commit to add Opera status for the features that are not in the Chromium Dashboard.  For these, @mathiasbynens , would it be correct to just copy the Chrome status?
- HTTP/2 (In Development)
- WebGL Instancing Extension (Shipped)
- CSS Transforms - preserve 3d (shipped)
- Cross-Domain Font Loading (Shipped)
- Object R

[2014-06-12 09:07] mathiasbynens commented on #29
Yes.

Thanks for your work on this, @jacobrossi!

[2014-06-12 19:02] dstorey commented on #91
"supported by" label should make it clearer. We used to have the behaviour as described but changed it. Either way has value for different reasons.

[2014-06-12 23:57] jacobrossi commented on #29
Great- I've made the final change and will merge this in shortly. For reference, here's the list of features "In Development" in Opera but "Shipped" in Chrome (if there's a mistake, it's most likely in the shipped_opera_milestone field from the Chromium Dashboard):
- Media Source Extensions
- Quota Management API
- Web Notifications
- Web Speech API
- Shapes

[2014-06-13 02:03] #29 closed, assigned to jacobrossi

[2014-06-16 18:11] m910q opened #96 "Feature: "Pointer Lock (Mouse lock)" not shipped in Opera"
Opera 12 and Opera 15+ does not support Pointer lock.

Opera 15+ returns true on this:
`'webkitPointerLockElement' in document`

But if you go and request a lock, nothing happens.

[2014-06-16 18:53] dstorey commented on #96
CC @mathiasbynens

[2014-06-16 19:05] m910q commented on #96
I have reported this to Opera as well. It's identified as DNA-22042.

Here's a jsfiddle to try it out in Opera: http://jsfiddle.net/RM58X/

[2014-06-16 19:15] jacobrossi opened #97 "Allow finding most recently changed"
We should consider adding an RSS feed or at least a "sort by last modified" option for discovering what features have changed recently.

https://twitter.com/The_Grand_User/status/478615351698391041

[2014-06-16 19:21] molant commented on #97
This is related to #34, last week I started some initial concepts locally for the RSS but need to think a bit more about it

[2014-06-16 19:30] molant commented on #97
@jacobrossi the easiest option will be to add a new field to the json with a date. That way sorting in the UI and creating an rss should be really easy.
The other (more complicated) approach will be checking the git commits of the json file and figuring out the diffs (at least for the RSS part).
Any other ideas?

[2014-06-16 19:33] dstorey commented on #97
There is a community created site that tracks changes to status.ie: http://platformstatustracker.azurewebsites.net

I think it checks the commits.

[2014-06-17 03:15] dpogue opened #98 "Add Animated PNG support to features list"
Presently supported by Firefox, and soon to be supported by Safari 8.

[2014-06-17 06:56] mathiasbynens commented on #96
Thanks for the report. I’ve CC’d some people on the internal bug ticket. Hopefully it can be resolved soon, as this breaks feature tests.

[2014-06-17 10:43] Nacimota commented on #91
I think the confusion stems from the use of **+** (as in IE8+, IE9+, etc.) in the filter drop-down. The intended meaning is (for example) "show only features supported since IE8" but reads to some users as "show only features implemented in IE8 _or above_"*.

[2014-06-17 18:55] maxstepin commented on #98
I agree.

[2014-06-18 03:12] Kagetsuki commented on #98
:+1:

[2014-06-18 15:56] #31 closed, assigned to jacobrossi

[2014-06-18 16:46] jacobrossi commented on #96
I've temporarily overridden the Opera status for this feature (SHA: 139854b). Leaving this issue open to track removing the override once this is fixed in Opera.

[2014-06-18 17:07] eligrey opened #99 "Add navigator.hardwareConcurrency"
navigator.hardwareConcurrency is supported by [Chrome 37, Opera 24, and the next version of Safari](http://www.chromestatus.com/features/6248386202173440).

[2014-06-19 02:37] NorbertLindenberg opened #100 "Add ECMAScript Internationalization API"
The ECMAScript Internationalization API is defined by standard ECMA-402, a complement to the ECMAScript Language Specification. Currently supported in Chrome, Internet Explorer, Opera, and Firefox, but not in Safari

Standard: http://ecma-international.org/ecma-402/1.0/

MDN: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl

MSDN:
http://msdn.microsoft.com/en-u

[2014-06-19 02:47] dstorey commented on #100
This should be labelled IE11+ for the IE support info.

We need a good way of syncing with Chrome for thing not tracked on their side.

[2014-06-19 04:40] am11 opened #101 "CSS: Will-change is now available on w3.org"
Changed from: http://tabatkins.github.io/specs/css-will-change/
to: http://dev.w3.org/csswg/css-will-change/

[2014-06-19 07:04] KenjiBaheux opened #102 "Add CSS unicode-range"
http://dev.w3.org/csswg/css-fonts/#unicode-range-desc

"This descriptor defines the set of Unicode codepoints that may be supported by the font face for which it is declared. The descriptor value is a comma-delimited list of Unicode range (<urange>) values. The union of these ranges defines the set of codepoints that serves as a hint for user agents when deciding whether or not to download a font

[2014-06-19 15:49] dstorey opened #103 "Add `beccapurple`"
Now that Eric gives his approval, we should track `beccapurple` on Status:

http://lists.w3.org/Archives/Public/www-style/2014Jun/0257.html

[2014-06-20 17:18] theodorejb opened #104 "Add IndexedDB subfeatures"
(Filing an issue for this per [IEDevChat suggestion](https://twitter.com/IEDevChat/status/479694598491488256)).

The status site reports IndexedDB as implemented in IE10+. However, not all subfeatures are supported. Specifically, support for array `keyPath`s, array keys, and lookup of objects via compound index (see http://codepen.io/cemerick/pen/Itymi via http://caniuse.com/indexeddb).

It would

[2014-06-21 03:12] ghost opened #105 "Wrong HSTS support status for Safari"
According to Wikipedia and some other websites [1][2], Safari supports HTTP Strict Transport Security as of OS X Mavericks, but status.modern.ie says HSTS is "not supported by Safari".

[1] https://www.eff.org/deeplinks/2014/02/websites-hsts: "we noticed that Apple quietly added HSTS support to Safari in OS X 10.9."
[2] https://developer.mozilla.org/en-US/docs/Web/Security/HTTP_strict_transport_se

[2014-06-21 05:20] dstorey commented on #105
This data comes from http://www.chromestatus.com/features/4941480133132288 . It will need to be updated on the Chrome side.

[2014-06-21 06:22] ghost commented on #105
I see. Thanks, dstorey!

[2014-06-21 06:22] #105 closed, assigned to nobody

[2014-06-22 02:58] am11 opened #106 "IE scrolling issue"
I have found a scroll issue, when focus is on section element, with IE11 on Windows 7:
- Go to http://status.modern.ie/ and type 'download' in filter box.
- Expand 'a[download] attribute', 'Subresource Integrity' and 'Resource Priorities' sections.
- Click inside any of these section to change focus.

Now use arrow key to go up and down, the browser won't scroll!

There is no such issue with Firef

[2014-06-24 06:17] ghost opened #107 "Support HTTPS"
I suggest status.modern.ie to support HTTPS, so that if some external HTTPS only websites want to load status.modern.ie/features (on client side), they will be able to do that without breaking HTTPS.

[2014-06-24 11:21] Zlip792 commented on #37
It could be wrong previously but now it is correct. You can confirm this.

[2014-06-27 01:49] domenic opened #108 "Add/update streams standard"
There is currently an entry for the defunct streams API. That project has been abandoned in favor of https://github.com/whatwg/streams (see also https://streams.spec.whatwg.org/), which has [some good cross-browser commitment and a close-to-stable spec](http://lists.w3.org/Archives/Public/public-sysapps/2014Jun/0014.html).

It would be great to add a new entry, or update the existing entry, to ref

[2014-06-27 16:52] jacobrossi commented on #107
We've added SSL support for our domain. However, our data is sourced from a merge with data pulled from ChromeStatus.com, which does not support HTTPS.  I've [pinged their issue](https://github.com/GoogleChrome/chromium-dashboard/issues/105#issuecomment-47373418) on supporting HTTPS.

[2014-06-27 19:54] jacobrossi commented on #107
You should be able to request the IE JSON feed over HTTPS at this point, but the site won't load that way yet since we're dependent on Google to update the ChromeStatus.com feed to support SSL.

[2014-06-28 02:03] ghost commented on #107
Thank you very much, jacobrossi!

[2014-06-28 04:14] ghost opened #109 "Access-Control-Allow-Origin: * header is not set"
When I sent a cross-origin Ajax request to status.modern.ie/features, I found that Access-Control-Allow-Origin header was not included in its response headers.

[2014-06-28 21:52] #109 closed, assigned to nobody

[2014-06-28 21:53] molant commented on #109
This should be fixed now. Give it a try and let me know if you run into any issue!

[2014-06-29 02:14] ghost commented on #109
Thank you, molant!

[2014-07-01 13:44] ericlaw1979 opened #111 "Add Media Fragment URL tracker to Status.modern.ie"
http://social.msdn.microsoft.com/Forums/ie/en-US/7426a2b6-4dd0-4a83-bff3-011a24cd1fcb/video-does-not-not-play-from-specified-range-in-ie-10-when-we-use-html5-video-tag?forum=iewebdevelopment

[2014-07-01 13:45] ericlaw1979 commented on #102
Interesting. The feature owner and MSDN (http://msdn.microsoft.com/en-us/library/ie/ms530757(v=vs.85).aspx) claim that Unicode-range has been supported since IE9. Is there a bug here?

[2014-07-01 18:07] dstorey opened #112 "Should we make menu consistent with Dev Channel? (or modern IE)"
When the site was developed, the menu was made to be consistent (more or less) with the header on Modern.IE.

Since then Modern.IE have changed their menu (mostly removed the wider media query, changed the links and link text, and added stack overflow), and we’ve made a simplified menu for Dev Channel that only links to StatusIE and ModernIE.

The reason why we made the more simple menu on DevChan

[2014-07-04 00:18] KenjiBaheux commented on #102
Hi Eric,

Thanks for taking a look at this.

Unless I made a mistake in my experiment setup, I believe that IE fails at most of the tests above (the notable exception being the first test). The issue is that un-necessary web fonts end up being downloaded.

Note that Blink's implementation was failing the last 3 tests until very recently. In the latest Canary, we now pass all but the last test. Tha

[2014-07-04 08:11] ghost opened #113 "https://status.modern.ie is using RC4 cipher suites"
According to SSL Labs [1], status.modern.ie is offering RC4 cipher suites. But RC4 is no longer considered secure and Microsoft yourself is promoting to deprecate the use of RC4.[2][3] So could we drop the support of RC4 cipher suites and prioritize the cipher suites with Forward Secrecy?

[1] https://www.ssllabs.com/ssltest/analyze.html?d=status.modern.ie
[2] http://blogs.technet.com/b/srd/archiv

[2014-07-07 20:36] adrianba opened #114 "Change srcset spec to point to HTML5.1"
The [&lt;img srcset>](http://status.modern.ie/imgsrcset?term=img) entry should have the spec link point to the [HTML 5.1 spec](http://www.w3.org/html/wg/drafts/html/master/embedded-content.html#attr-img-srcset) now that this includes the functionality.

[2014-07-07 20:45] jacobrossi commented on #114
While I'm at it, should [picture](http://status.modern.ie/pictureelement) point to [HTML 5.1](http://www.w3.org/html/wg/drafts/html/master/embedded-content.html#the-picture-element) also?

[2014-07-07 20:56] darobin commented on #114
@jacobrossi Yes, definitely. Thanks for being so amazingly responsive (no pun intended :)!

[2014-07-07 21:14] adrianba commented on #114
Yes.

[2014-07-07 21:44] jacobrossi commented on #113
Thanks @nextPrime. I'm looking into our internal process for this.

[2014-07-08 03:57] jacobrossi commented on #114
Looks like picture is already pointing to the right spot.

[2014-07-08 04:04] dstorey commented on #114
@jacobrossi I updated it in response to https://twitter.com/mikesherov/status/483713550964490240
https://github.com/InternetExplorer/Status.IE/commit/8522f67dd037453ac99f41ff5b4a7e66304bfbc5

[2014-07-08 05:25] #114 closed, assigned to nobody

[2014-07-22 13:34] patrickhlauke opened #115 "Pointer Events W3C link points to wrong url"
http://status.modern.ie/pointerevents W3C button/link currently points to http://www.w3.org/html/wg/drafts/html/master/forms.html#attr-fe-inputmode - it should point to http://www.w3.org/TR/pointerevents/ (or dvcs.w3.org/hg/pointerevents/raw-file/tip/pointerEvents.html)

[2014-07-22 19:15] jacobrossi opened #116 "Add entry for ASM.JS"
ASM.JS wasn't in the initial list of features that we're sharing with ChromeStatus.com, but it would be good to list here.. [Some folks](http://techcrunch.com/2014/07/22/mozillas-asm-js-technology-makes-its-commercial-debut-with-dungeon-defenders-for-the-web/) are incorrectly thinking that since it isn't on our list that we're not aware of it.

[2014-07-22 21:40] m910q commented on #96
Opera 23 is now shipped, which contains the pointer lock feature.
It's a bit buggy, but it's there. The bug is already fixed in their development build.

[2014-07-23 20:48] ghost opened #117 "Animate SVG with CSS"
It would be useful to be able to animate SVG properties (like `stroke-dashoffset`) with CSS keyframe animations. This is already supported by Chrome and Firefox and there are quite a few "how to get this working in IE" questions on Stack Overflow ([1](http://stackoverflow.com/q/24918529/1397351), [2](http://stackoverflow.com/q/23796161/1397351), [3](http://stackoverflow.com/q/23795960/1397351)).

[2014-07-25 17:43] dstorey opened #118 "Spec link for CSS/FX Masks broken"
URL: http://status.modern.ie/masks?term=mask

Points to https://dvcs.w3.org/hg/FXTF/raw-file/tip/masking/index.html
Should go to http://dev.w3.org/fxtf/css-masking-1/

[2014-07-31 02:23] simevidas opened #119 "When a long title is truncated, its tooltip doesn't show the full title"
Example: http://status.modern.ie/mediaquerieslevel4interactionmediafeaturespointerandhover

![bt1io4lcyaa8uov](https://cloud.githubusercontent.com/assets/716405/3759213/66f50c18-1859-11e4-9120-e68ec3f17358.png)

(I had to inspect the DOM in the browser's DevTools to reveal the full title.)

[2014-07-31 09:55] am11 opened #120 "Status: CSS Variables are shipped by latest Firefox"
The status says its under development by Firefox: http://status.modern.ie/cssvariables?term=css%20variable

However, the feature is shipped by Firefox; this is now a valid CSS:

[code]

Please update the status.

[2014-08-01 04:08] domenic commented on #115
The latter, please—/TR/ links are always evil and outdated.

[2014-08-04 20:48] wiredprairie opened #122 "Platform Status page fails to load in IE9"
If you attempt to show the platform status page in IE9 (either stand-alone or in IE11 emulating IE9), the platform status page fails to show any status. The `Features found` is **0** and the list is blank. It works correctly in IE11 EDGE mode.

There are two errors in the console:

[code]

and

[code]

[2014-08-04 21:10] dstorey commented on #122
The latter is probably due to CORS to fetch the data.

[2014-08-11 18:14] jacobrossi commented on #112
Let's skip this for now unless users complain.

[2014-08-11 18:14] #112 closed, assigned to nobody

[2014-08-13 11:49] scheinercc opened #123 "Status: <picture> Element shipped in Firefox"
https://bugzilla.mozilla.org/show_bug.cgi?id=870022

[2014-08-13 12:01] scheinercc opened #124 "CSS Filters - bugzilla link"
While this is still in development for Firefox this might be the right bug to link to:
https://bugzilla.mozilla.org/show_bug.cgi?id=869828

[2014-08-18 07:34] dstorey opened #125 "Two different user input categories"
Under technologies drop down, "user input" appears twice.

The first includes a bunch of stuff and looks mostly correct.
The second at the end of the list includes Karaoke and Selection API.

[2014-08-18 14:48] ericlaw1979 opened #126 "Add PKP (Public Key Pinning)"
http://tools.ietf.org/html/draft-ietf-websec-key-pinning-20

[2014-08-21 21:20] jacobrossi commented on #123
FF data for picture comes from the [Chromium Dashboard](https://github.com/GoogleChrome/chromium-dashboard/issues)

But in Aurora, I'm still getting undefined for HTMLPictureElement.

[2014-08-28 19:15] fairlyrandom opened #127 "Status: When a standard is marked as 'not currently planned', provide brief reason"
As per title, it would be useful to include a brief explanation of why IE Team has decided not to implement the particular standard/feature.  This would help people understand the decisions, and in some cases might encourage the further development of the standard to resolve the concerns.

[2014-08-28 22:05] jacobrossi commented on #115
Fixed @7d2b07f60f8929e8f1bcda4fcf4f6d34d7ff594f

[2014-08-28 22:05] #115 closed, assigned to nobody

[2014-08-29 20:00] charlesjmorris opened #128 "Add Clipboard API"
Add Clipboard API to the status list

[2014-09-03 00:17] igrigorik commented on #102
FWIW, found this: https://connect.microsoft.com/IE/feedback/details/789754/css-font-face-unicode-range-should-be-used-to-avoid-unnecessary-downloads

[2014-09-03 07:59] tagawa opened #129 "Request addition of progress and meter elements to feature list"
These are bundled together in CanIUse but should be added as separate entities to the Status.IE feature list IMO, to clarify current IE support.

[2014-09-16 14:35] tomturton opened #130 "Add CSS reflections"
Pretty please with sugar on top!

[2014-09-18 20:02] jdalton opened #131 "ASM.js item"
Status.IE has the [ASM.js item](http://status.modern.ie/asmjs?term=ASM) as "Asm.JS" but it should be "ASM.js" or "asm.js". It also links to the ES6 draft spec but the ASM.js spec is http://asmjs.org/spec/latest/.

[2014-09-18 21:04] #131 closed, assigned to nobody

[2014-09-18 21:05] jacobrossi commented on #116
https://github.com/InternetExplorer/Status.IE/commit/bd1b40ce9cee06febd5b4e22c44228aaf4b279a1

[2014-09-18 21:05] #116 closed, assigned to nobody

[2014-09-18 21:06] jacobrossi commented on #103
We shipped this in an update to IE11.  I don't think it needs tracking on status.

[2014-09-18 21:06] #103 closed, assigned to nobody

[2014-09-18 21:08] jdalton commented on #131
:racehorse:

[2014-09-18 21:13] jacobrossi commented on #106
Looks like an IE issue. Thanks for the bug report. Closing this here as the Connect bug will track the bug in IE.

[2014-09-18 21:13] #106 closed, assigned to nobody

[2014-09-18 21:18] jacobrossi commented on #120
This data is coming from the Chromium Dashboard. I've filed an issue there to update it:
https://github.com/GoogleChrome/chromium-dashboard/issues/164

[2014-09-18 21:18] #120 closed, assigned to nobody

[2014-09-18 21:20] #101 closed, assigned to nobody

[2014-09-18 21:24] jacobrossi commented on #123
This is still in development for Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=870022#c117

[2014-09-18 21:24] #123 closed, assigned to nobody

[2014-09-18 21:28] #96 closed, assigned to nobody

[2014-09-18 21:38] jacobrossi commented on #83
Going to close this one for now, doesn't look like a major issue and I don't repro on my machine.

[2014-09-18 21:38] #83 closed, assigned to nobody

[2014-09-18 21:56] dstorey commented on #83
I still see this as an issue (on Safari 7) hopefully solved once yosmite comes out (don't have access to saf 8 builds)

[2014-09-18 21:57] jacobrossi commented on #120
Updated on Chromium Dashboard

[2014-09-18 21:59] jacobrossi commented on #125
I don't see this any more. Closing it out

[2014-09-18 21:59] #125 closed, assigned to nobody

[2014-09-18 22:19] am11 commented on #120
Thanks! :+1:

[2014-09-18 22:35] jacobrossi commented on #124
Were you looking at a specific link in status.modern.IE that needs updating??  I don't think we have links to the individual bug trackers (good idea though, just not sure I've got the bandwidth to maintain them all)

[2014-09-18 23:16] jacobrossi commented on #128
https://github.com/InternetExplorer/Status.IE/commit/a2035596f297516896efcc85d5ec68797e55d321 fixes this

[2014-09-18 23:16] #128 closed, assigned to nobody

[2014-09-19 15:05] scheinercc commented on #124
Ah, forgot the link, right. It might have been this one: http://status.modern.ie/cssfilterimagefunction
- and regarding the bug links I guess that would only be maintainable if the other vendors or community provide them.

[2014-09-19 15:49] jacobrossi commented on #124
For now I'm going to pass on including bug links given I don't have the bandwidth to go collect this for other in development features. Though feel free to submit a pull request! For CSS filters, I haven't seen any code patches start to show up for FF, so I don't think there's a status change to make here quite yet.  But when that does happen, the data for FF on this feature is coming from the Chr

[2014-09-19 15:49] #124 closed, assigned to nobody

[2014-09-19 16:13] ghost opened #134 "WebDriver available in IE 11"
I think [1] and [2] indicate that WebDriver is already available in IE 11. So do we need to update the status here http://status.modern.ie/webdriver ?

[1] http://msdn.microsoft.com/en-us/library/ie/dn800898(v=vs.85).aspx
[2] http://support.microsoft.com/kb/2990999

[2014-09-19 18:21] ebidel opened #135 "README should mention Chromestatus data source"
If people want to file bugs against the data, it would be good to capture those reports: https://github.com/GoogleChrome/chromium-dashboard

[2014-09-19 18:43] molant commented on #135
It is explained in
https://github.com/InternetExplorer/Status.IE/blob/production/CONTRIBUTING.md
but I guess we can put it in the README.md too :)

On Fri, Sep 19, 2014 at 11:21 AM, Eric Bidelman notifications@github.com
wrote:

[2014-09-19 19:24] ebidel commented on #135
That seems fine, although I didn't think to look there :)

[2014-09-19 20:27] #135 closed, assigned to nobody

[2014-09-19 20:28] jacobrossi commented on #135
Seems reasonable to point it out as I've had to redirect a number of issues to the Chromium Dashboard that were erroneously filed on this repo.  I've updated the readme and I'll continue to redirect any data issues we hear about. Thanks @ebidel

[2014-09-19 20:33] jacobrossi commented on #134
Indeed! Fixed with https://github.com/InternetExplorer/Status.IE/commit/a1c6c807deb95c9f39c53eb55d525df5e9d1d96a

[2014-09-19 20:33] #134 closed, assigned to nobody

[2014-09-19 21:01] ebidel commented on #135
Awesome!
On Sep 19, 2014 1:28 PM, "Jacob Rossi" notifications@github.com wrote:

[2014-09-23 21:25] ghost opened #137 "Feature Request: Provide ETA for features that are in development"
There are currently 32 features in development and one feature released in IE Developer Channel. It would be helpful if we can know when these features will be released and whether they will be added to current version of IE, like WebDriver and WebGL Instancing Extension, or introduced in future releases (and which one).

[2014-10-01 02:35] ghost commented on #107
Since chromestatus now supports TLS (https://www.chromestatus.com), we can fetch its data over HTTPS if users view status.ie over HTTPS. Also could we redirect http://status.modern.ie to https://status.modern.ie, to be consistent with www.modern.ie?

[2014-10-02 01:50] ghost opened #139 "Wrong User Voice link"
The user voice link under Clipboard API is http://wpdev.uservoice.com/forums/257854-internet-explorer-platform/suggestions/6263916-svg-external-content, but that is for SVG External Content.

[2014-10-02 05:47] ghost opened #140 "Redirect was blocked for CORS request. Should use HTTPS"
Now http://www.chromestatus.com redirects to https://www.chromestatus.com, but status.ie still uses http. So now the CORS is blocked by IE since http://www.chromestatus.com doesn't send a "allow cors" header, and thus the page cannot show up anything now. Please change the Chrome status URL to use https and make a http to https redirect on status.ie as well.

[2014-10-02 14:59] molant commented on #140
http request switched to https in fd89e2b5842e482cf2f13d44bc1d5945e09f77fb
Going to work on https only now.

[2014-10-02 16:06] #140 closed, assigned to nobody

[2014-10-02 16:13] molant commented on #107
This should be fixed now via 57b09ec1a8fa73d3b70f0580fd0a29dee49e2993

[2014-10-02 16:13] #107 closed, assigned to nobody

[2014-10-02 21:32] #139 closed, assigned to nobody

[2014-10-03 05:09] ghost opened #142 "Change the protocol of User Voice URLs to https"
Since http://wpdev.uservoice.com redirects to https://wpdev.uservoice.com, I suggest to use https for the links on status.ie.

[2014-10-03 06:10] ghost opened #143 "Send HTTP Strict Transport Security header on status.modern.ie"
status.modern.ie is already https only, but of course there are many websites that still link to http://status.modern.ie. By enabling HSTS, it saves the time to make the first http connection. Also I hope www.modern.ie can enable HSTS as well.

[2014-10-09 20:40] molant commented on #94
ID in Chromestatus json file is 6718644721549312

[2014-10-18 02:43] dstorey opened #145 "IE Logo is wrong opacity for Preview Release"
The logo to show IE support for features in the preview release is almost fully transparent. It should be at least as opaque as in development, if not more so.

[2014-10-18 03:24] jacobrossi commented on #145
Yeah, same opacity as in development sounds appropriate.

-----Original Message-----
From: "David Storey" notifications@github.com
Sent: ‎10/‎17/‎2014 7:43 PM
To: "InternetExplorer/Status.IE" Status.IE@noreply.github.com
Subject: [Status.IE] IE Logo is wrong opacity for Preview Release (#145)

The logo to show IE support for features in the preview release is almost fully transparent. It should be

[2014-10-23 20:43] charlesjmorris opened #147 "Track support for CSS "all" shorthand"
http://dev.w3.org/csswg/css-cascade/#all-shorthan

https://wpdev.uservoice.com/forums/257854-internet-explorer-platform/suggestions/6511510-all-initial

[2014-10-23 23:00] dstorey commented on #147
Should this just track `all` or also the [CSS-wide defaulting keywords](http://dev.w3.org/csswg/css-cascade/#defaulting-keywords)?

We don’t support `initial` (supported by Chrome, Firefox, Safari, and Opera) or the `unset` keyword (Firefox only).

[2014-10-24 21:55] dstorey opened #148 "Sort by update date"
Would be nice to be able to sort by update date for status. Currently it is harder to see what has been updated than say http://platformstatustracker.azurewebsites.net

[2014-10-31 21:51] ghost opened #149 "Track support for TLS Multiple OCSP stapling extension"
The Transport Layer Security (TLS) Multiple Certificate Status Request Extension

[1] https://tools.ietf.org/html/rfc6961
[2] User voice: https://wpdev.uservoice.com/forums/257854-internet-explorer-platform/suggestions/6644471-tls-multiple-certificate-status-request-extension

[2014-11-01 13:47] phistuck commented on #142
@jacobrossi - this requires changing https://status.modern.ie/uservoice - I cannot send a pull request for that one. :(

[2014-11-01 14:51] phistuck opened #151 "Add An Entry For SVG+SMIL"
Basically, only Internet Explorer does not support it (http://caniuse.com/#search=smil). Even a "Not currently planned" is sufficient, but acknowledge it.
Here is the UserVoice URL for it -
https://wpdev.uservoice.com/forums/257854-internet-explorer-platform/suggestions/6514671-implement-smil-animations-for-svg

[2014-11-01 21:06] molant commented on #142
This should be fixed now  :)

[2014-11-01 21:06] #142 closed, assigned to nobody

[2014-11-03 19:05] am11 opened #152 "Question: Why not XPath Level 2?"
@dstorey, according to https://wpdev.uservoice.com/forums/257854-internet-explorer-platform/suggestions/6512573-xpath-2-and-3, XPath 3 is under development. Does this mean you guys are bypassing / don't-need XPath L2? Conversely, does XPath L3 offsets L2? If not, please add L2 in your bucket list.

Nonetheless, thanks for considering it. :+1:

Hopefully, other teams will pick it up too: as a Share

[2014-11-12 18:22] saschanaz opened #153 "Add ES6 binary/octal numeric literals"
This is in ES6: https://people.mozilla.org/~jorendorff/es6-draft.html#sec-literals-numeric-literals

Firefox has supported them as of version 25: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar

PS: Now IE also does! :)

[2014-11-13 01:39] #145 closed, assigned to nobody

[2014-11-13 01:39] jacobrossi commented on #145
Fixed with https://github.com/InternetExplorer/Status.IE/commit/4762f37534848f81035811ddcb32bc1e54f66366

[2014-11-13 02:52] ghost opened #154 "The user voice links are now http again"
The user voice links were updated to use https (#142). Why are they now back to http? Please fix it.
https://status.modern.ie/uservoice

[2014-11-13 03:16] jacobrossi commented on #154
Tagging in @molant too. Perhaps the Azure WebJob that updates UV data is stomping on #142 ?  Let me know if I did something wrong that regressed this. :-)

[2014-11-13 03:24] jacobrossi commented on #137
Definitely understand the request! It's generally hard to commit to ETAs in advance and exposing our current guess would end up being far too noisy with changes (which would inevitably make people mad).  I'll keep this one in mind if I can find a way that balances the commitment people expect from status announcements with the valuable transparency ETAs would provide.

[2014-11-13 03:24] #137 closed, assigned to nobody

[2014-11-13 03:25] jacobrossi commented on #126
Done! https://status.modern.ie/publickeypinningextensionforhttp

[2014-11-13 03:25] #126 closed, assigned to nobody

[2014-11-13 03:26] jacobrossi commented on #148
Dupe of #97

[2014-11-13 03:26] #148 closed, assigned to nobody

[2014-11-13 03:27] jacobrossi commented on #122
Our analytics data shows fairly low traffic from IE9. So if you don't mind, I'm going to mark this Won't Fix. If you'd like to take a stab at fixing it though, feel free to submit a pull request.

[2014-11-13 03:27] #122 closed, assigned to nobody

[2014-11-13 03:33] #91 closed, assigned to nobody

[2014-11-13 03:44] jacobrossi commented on #152
XPath L3 is a superset of L2. [Here's the list](http://www.w3.org/TR/xpath-30/#id-revision-log) of what was added in L3. So we should have your request covered. :-)  Thanks for the feedback!

[2014-11-13 03:44] #152 closed, assigned to nobody

[2014-11-13 03:50] am11 commented on #152
Thanks! :+1:

[2014-11-13 03:51] #100 closed, assigned to nobody

[2014-11-13 03:51] jacobrossi commented on #100
Thanks for the suggestion!

[2014-11-13 03:59] jacobrossi commented on #86
I think this may actually be a platform bug.  We switched to a button element for accessibility and other reasons. Looks like IE doesn't pull tooltips from descendent elements in a button. Filed a bug to track: https://connect.microsoft.com/IE/feedbackdetail/view/1028523/tooltips-not-shown-for-button-descendants

[2014-11-13 03:59] #86 closed, assigned to nobody

[2014-11-13 10:45] ashumeow opened #156 "Support for Encoding API & TLS 1.3?"
After viewing IE status [https://status.modern.ie]
I couldn't find support for Encoding API [https://encoding.spec.whatwg.org/]
Ref--- https://wpdev.uservoice.com/forums/257854-internet-explorer-platform/suggestions/6558040-support-the-encoding-api
Also, TLS 1.3 support is there in HTTP/2.0. So, if you guys are providing HTTP/2 power for modern IE, then why am i seeing TLS 1.2 in the IE status pag

[2014-11-13 16:34] molant commented on #154
Swapping slots in Azure Websites probably swaps too the WebJobs and the staging one was using the old code. I'll fix it now

[2014-11-13 16:38] molant commented on #154
I'm checking the current links and they are https.
I think the issue is that there is a period of time when we push changes that it is using an old version of the json that contains http links instead of https but once we pull the new info the links are ok.
I'll update the current file in the master branch to use https so this doesn't happen again.

[2014-11-14 00:29] #153 closed, assigned to nobody

[2014-11-17 11:21] am11 opened #161 "Feature: Add hash links"
Please add hash-link pin for each feature, so we don't need to get the id from DOM selector to make the internal link.

Something like ([WE website](http://vswebessentials.com/features/bundling)):

![internal-link](https://cloud.githubusercontent.com/assets/3840695/5068706/faf12b62-6e59-11e4-823e-a975bd660b60.png)

Note: it doesn't copy the URL to the clipboard, but just navigate to the internal l

[2014-11-17 17:07] molant commented on #161
Hello @am11

If you expand a feature the url will be changed to that one and you can use that link to share. For example, click on https://status.modern.ie/customelements and wait a few seconds until all the content has been loaded, the page should scroll to custom elements and have that feature expanded.

If this feature is not working for you let us know what browser and version you are using.

[2014-11-17 17:07] #161 closed, assigned to nobody

[2014-11-17 18:08] am11 commented on #161
Oh just realized, it's working as you have described. :)
Thanks!

[2014-11-29 07:46] mramato commented on #99
I noticed that `navigator.hardwareConcurrency` doesn't even show up on https://status.modern.ie/  Is it safe to assume that's it's not even being considered; or is it simply not there because no one has opened a pull request to add it?

[2014-12-01 04:06] ghost opened #163 "Input date-time related types"
IE lacks support for input types date, time, month, datetime, datetimelocal and week.

`input [type=url]` is also not supported (it doesn't validate).

There is no info about missing input types on ie-status website.

Here is a list of input types which Chrome supports: http://www.w3.org/TR/html-markup/Overview.html#input.time-toc. Obviously Chrome supports everything and have best HTML5 features

[2014-12-01 06:35] dstorey commented on #163
Beyond the HTML5 input types feedback for StatusIE, you can vote for features you want implemented at [uservoice.modern.ie](http://uservoice.modern.ie). We're responding to feedback there. We've also been improving the Connect experience. The statuses didn't always mean what they seemed like from the outside.

[2014-12-01 10:17] ghost commented on #163
input date, time: https://wpdev.uservoice.com/forums/257854-internet-explorer-platform/suggestions/6513996--input-type-date-input-type-time

input color: https://wpdev.uservoice.com/forums/257854-internet-explorer-platform/suggestions/6514216--input-type-color

[2014-12-03 23:38] #33 closed, assigned to nobody

[2014-12-03 23:41] jacobrossi commented on #163
Looks like #38 . I'm going to get these added soon.

[2014-12-03 23:42] jacobrossi commented on #163
Marking duplicate since #38 covers this. Thanks for reminding me!

[2014-12-03 23:42] #163 closed, assigned to nobody

[2014-12-03 23:59] jacobrossi commented on #66
These are all added!

[2014-12-03 23:59] #66 closed, assigned to jacobrossi

[2014-12-04 09:28] ghost commented on #154
@molant Unfortunately, this happens again. Now they are all http. See https://status.modern.ie/uservoice.

[2014-12-04 16:27] molant commented on #154
Things that could be happening:
1. goblins change the code
2. code for the webjob gets swapped too when changing slots in Azure Website

my bet is #1 but I'll take a look to #2...

Thanks!

[2014-12-04 17:03] jacobrossi commented on #154
I've root caused this to:
1. cosmic interference.

😉

-----Original Message-----
From: "Anton Molleda" notifications@github.com
Sent: ‎12/‎4/‎2014 8:27 AM
To: "InternetExplorer/Status.IE" Status.IE@noreply.github.com
Cc: "Jacob Rossi" gtjrossi@gmail.com
Subject: Re: [Status.IE] The user voice links are now http again (#154)

Things that could be happening:
1. goblins change the code
2. code for th

[2014-12-06 05:23] tomByrer opened #165 "Screen Orientation API: Chrome is current"
https://status.modern.ie/screenorientationapi
http://caniuse.com/#feat=screen-orientation

[2014-12-06 05:26] tomByrer opened #166 "Merge features.json & ie-status.json please"
The current split item names in one JSON & browser compatibility chart in another is a mess & prevents those who want to write PRs to help you guys.

[2014-12-06 16:20] molant commented on #166
The features.json you are seeing in the code is just a place holder. On runtime we are using the one coming from [chromestatus](https://www.chromestatus.com/features.json) and we add our IE specific information on top of it.
So if there is information wrong about any browsers that is not IE you will have to do a PR in the chromestatus project and if it is IE, in ours.

Thanks!

[2014-12-06 16:20] #166 closed, assigned to nobody

[2014-12-08 19:05] #38 closed, assigned to jacobrossi

[2014-12-08 19:46] #84 closed, assigned to nobody

[2014-12-08 19:47] jacobrossi commented on #35
Fixed with https://github.com/InternetExplorer/Status.IE/commit/d2609845eaf355d0141be1a6f2466634bc0ddb10

[2014-12-08 19:47] #35 closed, assigned to jacobrossi

[2014-12-08 19:50] jacobrossi commented on #64
Individual response codes are at a level of granularity that's probably too specific for status.IE  If you haven't already, I think the right place to post this is http://connect.microsoft.com/ie

[2014-12-08 19:50] #64 closed, assigned to jacobrossi

[2014-12-09 00:53] #165 closed, assigned to nobody

[2014-12-09 15:40] tomByrer commented on #165
Thanks, but Chrome support doesn't seem to be updated on the live website?  Is the build more occasional?

[2014-12-09 17:02] jacobrossi commented on #165
Should be deployed now (it first deploys to a staging server for testing). Thanks!

-----Original Message-----
From: "Tom Byrer" notifications@github.com
Sent: ‎12/‎9/‎2014 7:40 AM
To: "InternetExplorer/Status.IE" Status.IE@noreply.github.com
Cc: "Jacob Rossi" gtjrossi@gmail.com
Subject: Re: [Status.IE] Screen Orientation API: Chrome is current (#165)

Thanks, but Chrome support doesn't seem to be

[2014-12-09 21:37] tomByrer commented on #165
:+1: :cake:

[2014-12-10 08:53] dstorey opened #168 "dppx is now in IE Tech Preview"
Need to flip to Preview Release

[2014-12-10 08:58] #168 closed, assigned to nobody

[2014-12-11 23:10] #37 closed, assigned to jacobrossi

[2014-12-11 23:41] #87 closed, assigned to nobody

[2014-12-11 23:41] #88 closed, assigned to nobody

[2014-12-11 23:41] #99 closed, assigned to nobody

[2014-12-11 23:41] #111 closed, assigned to nobody

[2014-12-11 23:41] #118 closed, assigned to jacobrossi

[2014-12-11 23:41] #151 closed, assigned to nobody

[2014-12-12 01:10] jacobrossi opened #169 "Deployment is failing"
Starting with around https://github.com/InternetExplorer/Status.IE/commit/74483232801d8b42c0e934f6a284dc5193b6fa89 Azure started failing to deploy to the staging server (and thus also prod).  It doesn't look related to the commits though.  Bower appears to be failing to install on deploy.cmd.

I've reached out to the Azure team to see what's up since deploy.cmd hasn't changed in a long time.

[2014-12-17 01:25] jacobrossi commented on #169
Worked with Azure support and this is now fixed. We're pointing at the right commit now.

[2014-12-17 01:25] #169 closed, assigned to jacobrossi

[2015-01-03 16:33] cemerick commented on #156
Why close now? Is there a rev of IE that includes the Encoding API?

[2015-01-03 16:45] ashumeow commented on #156
Do i look like the person who work there? I'm sure that they will never consider from stupids or losers. I am closing all issues and silly pull requests which i sent to some repos, sorry (^_^)

[2015-01-03 16:51] cemerick commented on #156
@ashumeow Wasn't implying you were responsible.

[2015-01-03 17:46] molant commented on #156
In [contributing.md](https://github.com/InternetExplorer/Status.IE/blob/production/CONTRIBUTING.md) you can see the main source of information comes from the chromium dashboard and it is preferable to add new features there. If they are indeed already tacked, then please open an individual ticket for each one with the right ID.

Thanks!

[2015-01-04 02:14] ashumeow commented on #156
That's why i closed the issue. I can discuss with Googly Booglies instead lol #Kidding

#EndOfStory

[2015-01-05 21:00] jacobrossi commented on #156
I don't think this a silly issue in the least. Tracking the Encoding API on this site makes total sense.  I need to chat with our team that owns this and see where it's at in our roadmap. But it certainly should get a mention on status.

Tracking it upstream in the Chromium dashboard is preferable from a maintenance standpoint, but we have plenty of features that started on our dashboard first. So

[2015-01-06 00:53] molant opened #170 "Call webjob automagically on start"
So #154 doesn't happen again and @jacobrossi doesn't complain to me each time he does a push

[2015-01-06 04:25] #170 closed, assigned to nobody

[2015-01-06 05:01] molant commented on #170
This should be fixed now. The webjob is called on start so every time there is a deployment and the website is started the info will be pulled. Hopefully everything should work when doing the swap between the slots.

[2015-01-06 05:01] molant commented on #154
Closed via #170

[2015-01-06 05:01] #154 closed, assigned to nobody

[2015-01-12 19:57] rubys opened #173 "Update URL API link and status"
From production/app/static/ie-status.json:

[code]

The link is no longer active (it redirects).  Consider updating it.  Candidates:
- https://url.spec.whatwg.org/
- https://specs.webplatform.org/url/webspecs/develop/
- http://www.w3.org/TR/url/

Additionally, the standardStatus is incorrect.  I'd suggest "Editor's draft" instead.

[2015-01-13 16:22] ericlaw1979 commented on #94
Firefox 35 adds WOFF2; currently behind an about:config flag for release builds; enabled by default in pre-release builds. https://bugzilla.mozilla.org/show_bug.cgi?id=1064737

[2015-01-13 16:24] reschke commented on #64
"fetch me another stone"?

[2015-01-13 16:36] igrigorik commented on #94
In other news.. looks like it's disabled by default (ugh): https://twitter.com/igrigorik/status/555032966884495360

[2015-01-14 16:55] molant opened #176 "Add metadata/keywords field for search"
We should add an extra field to be used while searching. E.g.: People search for web components but they don't find anything because it is not a standard (it is 4). Those items we are tracking should have "components" as one of the keywords.

[2015-01-14 17:10] Studio384 opened #177 "Allow to show "Deprecated""
Since commit 35ba7030ec43c642418390d55197207b7fab61ab, there is now a Deprecated category, but we can't choose to show only these features.

[2015-01-15 01:42] #94 closed, assigned to nobody

[2015-01-15 18:59] ghost commented on #173
I suggest using https://url.spec.whatwg.org/, as this is where the original link redirects to.

[2015-01-16 16:10] phistuck opened #181 "UserVoice Stars Are Not Up To Date"
https://status.modern.ie/shapes?term=shapes
Says CSS Shapes have 26 stars, despite linking to -
https://wpdev.uservoice.com/forums/257854-internet-explorer-platform/suggestions/6263716-shapes
That shows 303 votes (votes are stars, right?).

:(

[2015-01-16 16:45] molant commented on #181
I see 303 in the website. Votes get updated every 15 minutes via an Azure Webjob. Usually when there is a deployment we force a download but there could be a moment or two where the values are incorrect (time to invoke the webjob, let it do its work and update the content) so that could be the problem you've seen.

[2015-01-16 16:45] #181 closed, assigned to nobody

[2015-01-16 16:49] phistuck commented on #181
It is indeed fine now.

Can you, please, update the static version occasionally then? I presume this is the one that was used at the time (I do not believe fifteen minutes added more than two hundred votes).

If I happened to have seen it, I bet others do, too.

[2015-01-16 16:57] molant commented on #181
The problem is that the static version is going to be always outdated. Even if I change it now, next time we do a push (tomorrow, the day after or in a week) the numbers will still be bad.

[2015-01-16 22:28] phistuck commented on #181
Of course they will (be imperfect, not bad as they are now), which is why I wrote "occasionally"...

[2015-01-20 06:05] #143 closed, assigned to nobody

[2015-01-22 20:12] igrigorik opened #183 "Add Preload and Resource Hints to status dashboard"
Spec: https://w3c.github.io/preload/

Spec: http://w3c.github.io/resource-hints/

---

**Blink intent to implement and ship** for `<link rel=preconnect>` (part of Resource Hints): https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/CM5BaP6uVvE

Support for other parts of both specs in Blink will follow / will be done via separate intents.

/cc @tobint @pmeenan @dstorey

[2015-01-25 05:02] am11 commented on #80
This has been added: https://status.modern.ie/fetchapi.
Separately CSS3 User Interface is still missing: https://github.com/InternetExplorer/Status.IE/issues/68.

[2015-01-27 13:12] chaoaretasty opened #186 "List WebM support"
I suspect it would be listed as "Not currently planned" but I think it makes sense to track at least considering its increased usage on some sites and that you already track WebP support.

[2015-01-27 22:56] AshleyScirra opened #188 "Add WebGL 2 support"
IE11 already supports WebGL, but it would be nice if status.modern.ie could also show the status of WebGL 2 as well. Currently there's no item there so we have no idea if it's not currently planned/considered/in development etc.

[2015-01-27 23:05] #186 closed, assigned to nobody

[2015-01-28 00:24] chaoaretasty commented on #186
Thanks for the quick turn around.
On 27 Jan 2015 23:05, "Jacob Rossi" notifications@github.com wrote:

[2015-01-28 05:01] saschanaz opened #189 "IE on 9926 supports DOM event constructors"
status.modern.ie shows DOM Event Constructors as "In Development" but I think it now should be "Preview Release".

[2015-01-28 05:19] jacobrossi commented on #189
Ah yes, how did I miss this!? I code reviewed this feature...

-----Original Message-----
From: "Kagami Sascha Rosylight" notifications@github.com
Sent: ‎1/‎27/‎2015 9:02 PM
To: "InternetExplorer/Status.IE" Status.IE@noreply.github.com
Subject: [Status.IE] IE on 9926 supports DOM event constructors (#189)

status.modern.ie shows DOM Event Constructors as "In Development" but I think it now should

[2015-01-28 23:41] #189 closed, assigned to nobody

[2015-01-29 04:34] david-risney opened #192 "Apply a content security policy header"
As web site that's heavy on client side JavaScript, promoting web standards, and given that the Win10 preview includes a CSP implementation, how about applying content security policy headers?

[2015-02-20 22:14] #173 closed, assigned to nobody

[2015-02-24 22:02] lakenen commented on #93
:+1: this would be really nice to have. It's already available in stable Chrome and (very soon) Firefox. http://caniuse.com/#feat=font-loading

[2015-03-06 23:43] jacobrossi commented on #183
Sorry I have been unreasonably slow to respond to this.  I noticed only the [preconnect portion](https://www.chromestatus.com/features/5560623895150592) is listed on ChromeStatus.  Would it be possible for you to add these other features there first?

That way status.modern.ie can pull data from ChromeStatus, which will help us keep the Chrome implementation status up to date on our site.

[2015-03-09 14:22] ghost opened #198 "web idl?????"
Me: cortana, what the heck is Web IDL?
Bing (on behalf of cortana):

![webidl](https://cloud.githubusercontent.com/assets/2031765/6556700/ec85a384-c677-11e4-9d68-5d95bda60f58.PNG)

Looking at the status.IE, It seems like IE team like me is clueless about this technology.

[2015-03-09 15:09] adrianba commented on #198
WebIDL is used by just about every item on the status.IE list. It is primarily a spec that defines an IDL used by other specs. Please can you be more specific about what you think is missing?

[2015-03-10 00:32] ghost commented on #198
Sorry for the buzz. I just read this answer: http://stackoverflow.com/a/21736543/1712065 and the comments that goes with it. :)

[2015-03-10 00:32] #198 closed, assigned to nobody

[2015-03-10 05:01] igrigorik commented on #183
@jacobrossi updated preconnect page with latest status.

@yoavweiss we should send an "intent to implement" for preload, since you're already making progress on it... Do you mind creating the entry on Chromium dashboard? :)

[2015-03-10 20:48] yoavweiss commented on #183
Yeah, sure. I'll create the entry and send out an "intent to implement".

[2015-03-10 21:15] igrigorik commented on #183
@yoavweiss thanks!

[2015-03-10 21:45] yoavweiss commented on #183
Filed https://www.chromestatus.com/features#preload

Still need to fill it in with better details and get these OWP bug and intent to implement in place :)

@igrigorik - did @mcmanus start work/showed public support on "preload" as well?

[2015-03-10 22:19] igrigorik commented on #183
@yoavweiss afaik, no.. but I'm hoping he will! I'll defer to him though... ;-)

[2015-03-17 02:22] dcecile commented on #104
Because this data issue is still open, does that mean the IE dev team doesn't yet know that it's a real code problem?

Also... should I create a Chromium dashboard issue to modify IE status of this feature? Or is ["shipped"](https://www.chromestatus.com/feature/6507459568992256)  correct?

[2015-03-17 20:55] adrianba opened #199 "People expect to be able to find Web Components on the feature list"
We've seen lots of feedback asking why Web Components is not on the list. In fact, Web Components is four specs: Shadow DOM, template element, custom elements, and HTML imports.

[2015-03-17 22:15] adrianba commented on #104
Working on getting this tracked publicly. The three areas we're tracking are: Compound Keys, Indexing Array Values, and multiEntry support. They are in our backlog but not yet in development.

[2015-03-19 16:53] ericlaw1979 opened #201 "Show support for First-Party-Cookie attribute"
In Chrome, and a great idea.
https://tools.ietf.org/html/draft-west-first-party-cookies-01
https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/wKZBCzcNssg/GxwA-Y8Gs84J

[2015-03-21 01:40] ghost commented on #113
RC4 has been deprioritized.

[2015-03-21 01:40] #113 closed, assigned to nobody

[2015-03-24 19:22] mikewest commented on #201
We're planning on shipping this in Chrome 43ish to see how things go.

[2015-03-24 19:25] mikewest opened #202 "Add "Upgrade Insecure Requests" to the dashboard."
Spec: https://w3c.github.io/webappsec/specs/upgrade/

We're planning on shipping this in Chrome 43ish.

Intent to Ship: https://groups.google.com/a/chromium.org/d/msg/blink-dev/BDHLrC8UM-Y/amTCDlWJnk8J

It would be lovely if Microsoft would take a close look at the spec, as we (and the EFF) believe it's going to be a nice way of getting one big issue out of the way for sites that wish to upgrade t

[2015-03-24 19:30] molant commented on #202
The id in chromestatus seems to be `6534575509471232`.

[2015-03-24 19:31] mikewest commented on #202
Correct: https://www.chromestatus.com/features/6534575509471232. Sorry, I should have linked that.

[2015-03-24 19:32] molant commented on #202
No worries, I just look into the json file. We are merging with the content from chromestatus so we just need to keep track of IE/Spartan.

Thanks!

[2015-03-24 19:34] molant commented on #201
@ericlaw1979, @mikewest can you add the chromestatus id please?

[2015-03-24 19:44] mikewest commented on #201
`4672634709082112` (https://www.chromestatus.com/features/4672634709082112)

[2015-03-24 21:09] ghost commented on #202
User voice: https://wpdev.uservoice.com/forums/257854-internet-explorer-platform/suggestions/7314353-upgrade-insecure-requests

[2015-03-24 21:33] #202 closed, assigned to nobody

[2015-03-24 21:51] jacobrossi commented on #201
Thanks... I'm just waiting on some details from the networking/storage folks and I'll get this added in.  Hold tight...

[2015-03-30 15:27] deltakosh opened #203 "Reference link for mediaqueries 4 is dead"
This one is the right one:
http://dev.w3.org/csswg/mediaqueries-4/#mf-interaction

[2015-04-01 18:00] charlesjmorris opened #205 "Add CSS Logical Properties L1"
http://dev.w3.org/csswg/css-logical-props/

[2015-04-02 18:30] benaadams commented on #188
https://www.chromestatus.com/feature/6694359164518400
![webgl2](https://cloud.githubusercontent.com/assets/1142958/6970629/95c318ce-d96e-11e4-98b9-3db5cbb15fde.PNG)

https://twitter.com/Tojiro/status/583686243046723586
![ctweet](https://cloud.githubusercontent.com/assets/1142958/6970639/a57b7ad6-d96e-11e4-9dd2-53cf86fa8437.PNG)

https://blog.mozilla.org/futurereleases/2015/03/03/an-early-look-at-w

[2015-04-02 20:23] benaadams opened #207 "UserVoice link votes"
Uservoice link displays number of comments not number of votes

[2015-04-02 20:26] molant commented on #207
That's weird, it didn't do that before :/

[2015-04-02 20:37] molant commented on #207
So the problem is that the job to get the latest data stopped working and we were using the info we have in this repo. This should be fixed now

[2015-04-02 20:37] #207 closed, assigned to nobody

[2015-04-03 02:00] #205 closed, assigned to nobody

[2015-04-03 03:10] #188 closed, assigned to nobody

[2015-04-03 23:13] bterlson opened #211 "Allow linking to a specific technology"
It would be nice to be able to link to only JavaScript entries. Supporting a URL scheme like http://status.modern.ie/?technology=javascript would be a nice way to do it.

[2015-04-03 23:17] molant commented on #192
Good idea,

I've played a bit with [Helmet](https://github.com/helmetjs/helmet) but I'm having some issues getting the reporting to work on Chrome (the report url gets notified, but there isn't any information). Have you tried it? Any other module that you suggest for CSP?

[2015-04-03 23:48] david-risney commented on #192
I have a PR https://github.com/InternetExplorer/Status.IE/pull/193 in which I just apply the header. I used the https://github.com/david-risney/CSP-Fiddler-Extension (a tool I made for this purpose) to find the correct policy. I don't know of a good module to help with this =)

[2015-04-06 23:39] #211 closed, assigned to nobody

[2015-04-07 22:05] andysterland opened #212 "Add console APIs"
While not a standard the console APIs are implemented to varying degrees by all major browsers and I was wondering if it would be handy to include them here.

Rather than add lots of items for each issue I'm thinking of breaking it down:
1) APIs to log messages/objects to the console (log, warn etc.)
2) APIs that control tools (profile/profileEnd, takeHeapSnapshot etc.)

For #1 above I'm thinking

[2015-04-07 22:09] andysterland commented on #212
Just going to track this as a pull request over at #213

[2015-04-07 22:09] #212 closed, assigned to nobody

[2015-04-10 01:47] rachelnizh opened #216 "Add `unset` CSS wide keyword"
Spec http://www.w3.org/TR/css-cascade-3/#valuedef-unset

[2015-04-10 18:11] #74 closed, assigned to nobody

[2015-04-10 18:18] #216 closed, assigned to nobody

[2015-04-10 18:20] rachelnizh commented on #216
fixed with https://github.com/InternetExplorer/Status.IE/pull/217

[2015-04-17 06:11] martinpesout commented on #117
I'm solving the same problem. And it seems that is not possible to do in IEs.

http://caniuse.com/#feat=svg-smil

[2015-04-17 06:21] molant commented on #117
@martinpesout You are talking about different technologies. [SMIL is not planned at the moment](https://status.modern.ie/svgsmilanimation) but we've already shipped a first approach to [CSS  Animations for SVG elements](https://status.modern.ie/csstransitionsanimationsforsvgelements) in the latest preview

[2015-04-17 06:26] martinpesout commented on #117
Ok thanks for your answer. And sorry for my confusion about SMIL.

It's good to see that this feature is already planned. I'm looking at your link and I cannot see for what version of IE is this planned? Is it for IE11 or is it already for the new Spartan browser? Thanks

[2015-04-17 06:28] molant commented on #117
It is for Project Spartan

[2015-04-23 16:35] ashelley opened #221 "SVG: Text can't be aligned vertically"
I just ran across this problem and it seems to be an old one.  Not sure if this is the right place to post this but I wanted to bring attention to this issue:

https://connect.microsoft.com/IE/feedback/details/801719

The problem is that IE11 (tested 11.0.9600.17690) still doesn't support alignment-baseline or dominant-baseline on text nodes.

[2015-04-28 20:42] phistuck opened #223 "Incorporate WebKit Status Data"
WebKit has started publishing its status data as well -
http://www.webkit.org/status.html
Which seems to come from -
https://svn.webkit.org/repository/webkit/trunk/Source/JavaScriptCore/features.json
And -
https://svn.webkit.org/repository/webkit/trunk/Source/WebCore/features.json

This should be incorporated, like the Chrome and Opera status data.

Note that this will have to rely on feature name

[2015-04-28 20:59] molant commented on #223
Cool!
@phistuck right now we are pulling all the information for other browsers from chromestatus. We are a bit buried with [//BUILD/](http://www.buildwindows.com/) this week and the [Project Spartan Summit](http://devchannel.modern.ie/websummit2015) next one to see how this should be implemented but should have more time after in case you want to wait on implementing this.

[2015-04-29 04:55] phistuck commented on #223
I was thinking to get the data from the WebKit status data and fallback to the Chrome status when it is missing.

[2015-05-05 20:06] FremyCompany opened #227 "Add a little link to each individual features"
(rough draft of what it could look like)

A bit of html in the feature.html template:

[code]

Some magic css:

[code]

And some script

[code]

[2015-05-08 23:46] jacobrossi commented on #227
yeah we thought about this (err, I was outvoted :-) ), but instead just went with updating the URL when you expand it (which you can then copy from the address bar).  we're trying to keep the content of the feature box as clean as possible at this point.

[2015-05-09 06:04] dstorey commented on #227
If we ever do this, it is important to have correct link text. In the e.g. above it would read out the section sign. In that case adding an aria-label would solve the issue.

[2015-05-11 18:15] adrianba opened #230 "Respond to Call for Implementor Interest: Form HTTP Extensions"
Request at http://lists.w3.org/Archives/Public/public-html/2015Feb/0000.html

[2015-05-26 23:22] molant opened #233 "Update console Logging APIs status"
So filters work properly. It should be IE10:
https://msdn.microsoft.com/en-us/ie/hh772181(v=vs.85).aspx

[2015-06-01 01:14] nkronlage opened #235 "Browser Status Icons are difficult to understand"
Maybe it's my monitor or my vision, but trying to tell the difference between some of the status icons for the various browsers is very difficult.  I.e., is this icon slightly grayed out or not?

A tool tip or text below the icon would really help out here.

[2015-06-01 01:37] molant commented on #235
There is already a tool tip:
![image](https://cloud.githubusercontent.com/assets/606594/7904976/07307ce4-07c4-11e5-811d-bad5e26f4276.png)

Also we are changing the design at the moment and we will take into account your feedback. You can change a new version (not final yet) in http://dev.modern.ie/platform/status/

[2015-06-04 17:19] #230 closed, assigned to nobody

[2015-06-04 17:20] jacobrossi commented on #223
Closing per Apple's unfortunate comment that they don't publish Safari status data.
https://github.com/MicrosoftEdge/Status/pull/226#issuecomment-97672727

[2015-06-04 17:20] #223 closed, assigned to nobody

[2015-06-04 17:21] jacobrossi commented on #177
The beta version of our new site now has this feature: http://dev.modern.ie

Thanks!

[2015-06-04 17:21] #177 closed, assigned to nobody

[2015-06-04 17:43] toddreifsteck commented on #183
Talked with @jacobrossi . This is now my task. @toddreifsteck

[2015-06-18 19:21] rachelnizh opened #238 "Initial is misspelled"
Initial is misspelled:
![capture](https://cloud.githubusercontent.com/assets/1942825/8240008/931e6f06-15b4-11e5-8aec-cd14b68a5c63.PNG)

[2015-06-18 20:17] #238 closed, assigned to nobody

[2015-06-21 14:50] tdelmas opened #240 "Browser support of "Public Key Pinning Extension for HTTP""
The page indicate support only for Chrome and Opera.
Firefox support HPKP since version 35 according to https://developer.mozilla.org/en-US/docs/Web/Security/Public_Key_Pinning

[2015-06-22 12:46] HolgerJeromin commented on #221
This is/was a problem for Presto (Opera v12), too. My solution is

[code]

But i would be happy if this ancient problem would be solved...

[2015-06-22 22:25] #240 closed, assigned to nobody

[2015-06-22 22:29] jacobrossi commented on #221
Hi @ashelley - this isn't the right place to file bug reports or feature suggestions. Connect is a good place to file this. You might also post to http://uservoice.modern.ie and solicit votes.  Thanks!

[2015-06-22 22:29] #221 closed, assigned to nobody

[2015-06-23 07:19] HolgerJeromin commented on #221
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/7887774-support-dominant-baseline-in-text-element-in-svg waits for votes :-)

[2015-06-23 14:34] ashelley commented on #221
thanks @jacobrossi I tried to find the right place... appreciate you pointing me in the right direction.  @HolgerJeromin +1'd

[2015-07-07 18:50] #104 closed, assigned to nobody

[2015-07-07 19:30] charlesjmorris opened #242 "Edge and IE status text should be separated"
Right now, the tooltip text for IE and Edge icons in each feature is the same. They should be separated since new features are not being considered or put in preview for IE.

https://twitter.com/m_gol/status/618191628906446848

[2015-07-07 19:32] jacobrossi commented on #242
:+1: nice find. Looking at this today.

[2015-07-07 19:46] jacobrossi opened #243 "Some features not displayed on beta site"
Dev.modern.ie/platform/status is showing less features than status.modern.ie all of a sudden.

[2015-07-07 22:49] mgol commented on #242
I should have reported it here instead of on Twitter. :-) I'll remember in the future.

[2015-07-07 23:26] jacobrossi commented on #243
Fixed in EdgePortal

[2015-07-07 23:26] #243 closed, assigned to nobody

[2015-07-08 00:37] jacobrossi commented on #242
No worries, just thanks for reporting it.  I fixed this just now (UI code for dev.modern.ie is in another repo)

[2015-07-08 00:37] #242 closed, assigned to jacobrossi

[2015-07-08 20:53] ashumeow commented on #156
May i know the progress of this feature thing? Just curious to know. =)

[2015-07-15 21:22] jacobrossi opened #244 "Update ES6 entries to point to final spec"
Correct link: http://www.ecma-international.org/ecma-262/6.0/

But we should do the correct hash navs to the individual features.  @bterlson do you have time to put up a PR for this?

[2015-07-19 02:13] jacobrossi opened #246 "Start importing Firefox status"
https://groups.google.com/forum/#!topic/mozilla.dev.platform/2yih0-uJzcI

[2015-07-29 19:26] mgol opened #247 "Safari supports showModalDialog"
Safari 8 does support `showModalDialog`, the example:
http://samples.msdn.microsoft.com/workshop/samples/author/dhtml/refs/showModalDialog.htm
works. And yet the status page claims it's not implemented in Safari.

[2015-08-06 00:17] jacobrossi opened #248 "Add Screen Capture API"
Screen Capture
http://w3c.github.io/mediacapture-screen-share/
Screen Capture API allows a user's display or parts thereof be used as the source of a media stream.

FF: in development
Chrome: not supported
Safari: not supported
Edge: under consideration

[2015-08-06 16:19] Studio384 opened #249 "Status shows released features in "Preview Release""
The status site hasn't been updated yet since the launch of Windows 10 and Edge and still claims features that are supported are in a Preview Release.

[2015-08-07 18:14] ericlaw1979 opened #250 "HTML5 Audio Ogg/Opus formats"
https://twitter.com/ericlaw/status/457184317785907201

[2015-08-07 18:15] ericlaw1979 opened #251 "HTML5 Video formats VP8/VP9"
Also a common request

[2015-08-09 03:10] arebee opened #252 "Reading View Destroys MathJax rendering"
In Edge compare the MathJax content in
http://leancrew.com/all-this/2015/08/satellite-of-love/ with `read:http://leancrew.com/all-this/2015/08/satellite-of-love/`

Specifically search for F
=G
M
mr2=mv2r=ma

[2015-08-09 03:45] jacobrossi commented on #252
Thanks! This isn't the right place to file bugs for Edge, however. Please file this at http://connect.microsoft.com/ie

[2015-08-09 03:45] #252 closed, assigned to nobody

[2015-08-09 04:07] arebee commented on #252
@jacobrossi Hey - that's a pretty poorly named URL for Edge bugs...
https://connect.microsoft.com/IE/feedback/details/1644857 created.

[2015-08-09 04:53] jacobrossi commented on #252
Yep, we have plans to build something entirely new. This is for the time being.

[2015-08-10 09:52] chaoaretasty opened #253 "Add backdrop-filter to the feature list"
This is from FilterEffects Module Level 2, currently implemented in Safari 9, there are also issues raised against both [Chrome](https://code.google.com/p/chromium/issues/detail?id=497522) and [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1178765) for this feature.

[2015-08-11 20:13] jacobrossi commented on #249
Thanks, we have some major updates in testing that will address this and other issues.

[2015-08-17 20:21] jacobrossi commented on #249
These changes rolled out today. It shows features "Supported" (shipped in build 10240), "Preview" (features not yet on by default in a stable release), and what preview features are behind flags.  Check it out and let me know if you see issues.

[2015-08-17 20:21] #249 closed, assigned to nobody

[2015-08-17 20:40] Studio384 commented on #249
No issues, but I did notice that Firefox can't load all category icons. Device, DOM, Misc, Network / Connectivity, Offline / Storage, Realtime / Communication, Security, Web Components and File API don't have an icon, but I'll open another ticket for that.

[2015-08-17 20:41] Studio384 opened #255 "Category icons don't show up in Firefox"
In Firefox, the icons for the categories Device, DOM, Misc, Network / Connectivity, Offline / Storage, Realtime / Communication, Security, Web Components and File API aren't shown.
![knipsel](https://cloud.githubusercontent.com/assets/1693592/9315718/16911720-4531-11e5-84dd-b67b8be9cf4a.PNG)

[2015-08-17 20:44] Studio384 opened #256 "Inputs are rendered wrong in Firefox"
Now I get that this might not be a priority, but I've noticed that inputs are rendered wrong for Firefox in comparision with Edge.

The checkboxes are white while they are blue in Edge, and the dropdownlists are blue and spaced very oddly while just normal in Edge.

![knipsel](https://cloud.githubusercontent.com/assets/1693592/9315778/7f9e58ea-4531-11e5-9441-406c4c65bb84.PNG)

[2015-08-17 20:54] molant commented on #255
Renders fine on my machine with FF. Can you try clearing the cache see if that fixes?

[2015-08-17 21:03] Studio384 commented on #255
Whoops, never mind. :)

[2015-08-17 21:03] #255 closed, assigned to nobody

[2015-08-17 21:20] jacobrossi commented on #256
Hmm, looks like a combination of control styling APIs that aren't supported in FF and possibly some FF bugs.  @melanierichards can you take a look?

[2015-08-17 21:25] melanierichards commented on #256
I can fix the spacing issue, but @dstorey should take a look at the other items, he knows a little bit more about how we're gracefully degrading and such.

[2015-08-18 16:36] domenic commented on #247
In general the status page is pretty confusing on this. "Deprecated" in my mind means "still works but you shouldn't use it." Which is true in Firefox, but in Chrome and Edge it's totally removed.

[2015-08-18 16:41] domenic commented on #244
How do you guys feel about removing the " (ES6)" suffix? It seems redundant with the categorization of them as JS. And then there's the misleading "ES7" suffix, which is just incorrect since ES7 doesn't exist and nobody knows what features will be included in it.

Not to mention 6 vs. 2015 and 7 vs. 2016.

[2015-08-18 16:44] domenic opened #258 "Why is Opera status different than Chrome?"
Several features seem to show Chrome as shipping and Opera as under development. I'm a bit confused, as they are the same codebase for web platform feature purposes.

[2015-08-18 16:46] jacobrossi commented on #258
These are controlled mostly by the Chromium Dashboard, which has a flag for whether the features are enabled in Opera yet. As I understand it, there can be some lag occasionally and some features are not actually enabled because it requires integration into the UI.  If you see some that are wrong, it most likely is fixed [here](https://github.com/GoogleChrome/chromium-dashboard)

[2015-08-18 16:46] #258 closed, assigned to nobody

[2015-08-18 16:47] jacobrossi commented on #247
Yeah, we need a "removed" status.  Just haven't had time to implement it yet.

[2015-08-18 16:49] mgol commented on #247
Before the "removed" status is implemented at least the Safari status can be changed to "supported".

[2015-08-18 16:51] jacobrossi commented on #244
It's there primarily for searchability (the filter on the left works against the feature titles). Also, the site has a flaw that changing the title changes the URL to that feature (doh, eventually would like to fix this).  We should though just go ahead and move ES7 to ES 2016 probably, since the searchability thing probably only applies to ES6 since it's a well-used term at this point.

[2015-08-18 16:53] domenic commented on #244
Well, you should remove any reference to future ES versions, since we don't know what's going to be in them. E.g. no idea if SIMD is ES7 or ES8 or ES9 or never gonna happen.

[2015-08-18 17:06] Studio384 opened #259 "Clicking "Supported" unchecks "Preview""
In the filter options, clicking on the "Supported"-label will uncheck Preview instead of Supported.

[2015-08-18 18:38] bterlson commented on #244
I felt bad adding ES7/ES2016 qualifiers but I felt it was valuable to distinguish between features in ratified specs and those that are upcoming. @Domenic what do you think about adding a generic ES.next qualifier? Presumably this would be most valuable if we and Chrome agreed on a qualifier :)

[2015-08-18 18:39] domenic commented on #244
Not "next", but maybe "ES proposal"?

[2015-08-18 18:42] bterlson commented on #244
Proposal may confuse people who expect to see stage 2 = draft, stage 3 = candidate, etc. It would be nice actually to reflect the actual spec stage (so ES proposal, ES draft, ES candidate draft, ES final draft) but then it's a burden on me to update status as the proposals move through the process. But maybe that's ok - thoughts?

[2015-08-18 18:43] domenic commented on #244
I mean, I think they're all proposals, of various stages. If you're up for transcribing the statuses, that's cool, but just proposal seems fine and not confusing to me.

[2015-08-18 18:44] bterlson commented on #244
I'm fine with ES Proposal. @jacobrossi does this seem like a reasonable qualifier to you? If so I can replace ES7/ES2016 with ES Proposal across the board.

[2015-08-18 20:55] jacobrossi commented on #244
There is a field explicitly to denote standards status (from Proposal > Editor's Draft > Working Draft or Equivalent > Established Standard).  But if "ES7" is an issue, changing that to "ES Proposal" seems reasonable to me. Happy to merge a PR for that.

[2015-08-18 21:25] mikewest commented on #201
Ping! Did you get details from the networking/storage folks? :)

Also, we're up to https://tools.ietf.org/html/draft-west-first-party-cookies-03 now. Still haven't shipped in Chrome, but I'm working on it.

[2015-08-18 21:27] mikewest opened #260 "Add "Content Security Policy Level 2""
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/9163354-content-security-policy-level-2
https://www.chromestatus.com/features/4957003285790720

Shipping in Chrome since ~38ish? Mozilla has a partial implementation.

Thanks!

[2015-08-18 21:34] domenic commented on #244
Don't get me started on that field :sob:

[2015-08-19 02:01] sideshowbarker commented on #108
Domenic is correct here. We do not have an active editor for the https://dvcs.w3.org/hg/streams-api/raw-file/tip/Overview.htm document, and it’s not been updated in more than 10 months, so we rightly should just be moving it to a Note at this point, and just redirecting the ED URL to the https://streams.spec.whatwg.org/ spec. I sent a note to Art Barstow saying at much https://lists.w3.org/Archive

[2015-08-19 02:58] dstorey opened #261 "Job to automatically change userVoice status when Status status changes"
Currently it is a manual process to update userVoce when the status on Status changes. We have the userVoice ID in the status entry already, so we should be able to do a job to update the status there when an update is pushed.

Most of the status here map. Under Consideration High and Medium should map to On the Backlog, with a note about the priority.

[2015-08-19 03:03] molant commented on #261
Can you add it to a trello card in the user stories please?

[2015-08-19 04:09] jacobrossi commented on #108
Sorry, guys, that this got dropped.  Given there isn't a W3C spec that's being maintained, I'll update this to the WhatWG spec.

[2015-08-19 04:11] #108 closed, assigned to nobody

[2015-08-19 04:11] sideshowbarker commented on #108
Cool. FYI I’ve also gone ahead and put warning disclaimers on the W3C Streams ED and WD to make it more clear that those are out of date at this point.

[2015-08-19 04:31] dstorey commented on #256
The spacing issue is the owl pooping on the control, that seems to only hit Firefox on Windows (or at least works on Mac).

The colour issue is something that hits Firefox due to the pseudos, and how we can't cleanly use the MS ones to get the MDL style as we also support -webkit-appearance, and that wipes them out. Need to find away to avoid both issues at same time. But cleaning the owl poop is

[2015-08-19 16:19] melanierichards commented on #256
@dstorey yea, I already fixed the spacing issue on the `option` elements.

[2015-08-19 16:34] jacobrossi opened #262 "Add WebGL 2.0 to the list"
This is under consideration (Medium? need to check with the team).

[2015-08-20 09:30] ghost opened #264 "The redirect breaks the JSON file (status.modern.IE/features)"
https://status.modern.IE/features no longer returns a JSON. Instead it redirects to https://dev.modern.ie/platform/status/features/, which is a HTML.

[2015-08-20 10:02] ghost commented on #264
https://github.com/MicrosoftEdge/Status/blob/production/web.config#L20: The StatusRedirect should exclude /features, /uservoice, and /favicon.ico.

[2015-08-20 12:26] mgol opened #265 "Fetch is incorrectly marked in Firefox & Opera as "In Development""
Chrome, Firefox & Opera all support the fetch standard. Firefox had some problems before v40 but they should be resolved now.

Source: http://caniuse.com/#search=fetch

[2015-08-20 13:12] molant commented on #264
@nextPrime why should we exclude favicon.ico from the list?
In the meantime we have http://dev.modern.ie/api/platform/status/

@jacobrossi I think we should redirect the old endpoint to this one. What do you think? About uservoice I think it is already integrated in it.

Thanks for reporting this!

[2015-08-20 13:24] molant commented on #265
@mzgol the information for other browsers comes from [chromestatus](https://www.chromestatus.com/features/6730533392351232).
We only take care of the [IE/MSEdge part](https://github.com/MicrosoftEdge/Status/blob/production/CONTRIBUTING.md#updating-features) :)
Please file a bug with them and it will get fixed automatically in here.

Thanks!

[2015-08-20 13:24] #265 closed, assigned to nobody

[2015-08-20 13:26] mgol commented on #265
Ah, ok. I thought only Chrome data is taken from there. :)

[2015-08-20 13:28] mgol commented on #265
Hmm, the page you linked to claims Firefox supports the API and Opera has supported it since version 29. So it seems chromestatus already has correct data.

EDIT: Firefox has a green dot but is marked as "in development", that confused me. However, Opera has the "Enabled by default" tooltip so that part should be ok?

[2015-08-20 14:38] molant commented on #265
The issue then could be that we are not loading the latest chrome features updated (we had to change it recently). I'll open a new bug in the dev.modern.ie issue tracker to fix it.

Thanks!

[2015-08-20 16:15] ghost commented on #264
@molant I think it's fine not to exclude favicon.ico, since it won't be requested any more. I wrote favicon.ico along with features and uservoice, because I saw it in  https://github.com/MicrosoftEdge/Status/blob/production/app.js#L38.

[2015-08-20 16:28] ghost commented on #264
Thanks for the new link! The document readme.md needs to update too.

[2015-08-20 17:33] molant commented on #264
Updated the readme.md. @kypflug, @jacobrossi can one of you update the web.config?

[2015-08-21 03:48] ghost commented on #264
@molant By the way, https://dev.modern.ie/api/platform/status/ doesn't send Access-Control-Allow-Origin header.

[2015-08-21 03:52] molant commented on #264
:_(

[2015-08-21 12:47] ghost commented on #154
The uservoice link is http again. E.g. https://dev.modern.ie/platform/status/adownloadattribute/. @jacobrossi @molant

[2015-08-25 17:52] jacobrossi commented on #264
This should be fixed now.

[2015-08-25 17:52] #264 closed, assigned to nobody

[2015-08-26 20:55] dstorey opened #268 "Track CSS Motion Path"
One of the trending userVoice suggestion: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/7804467-support-css-motion-path-module

Spec: https://drafts.fxtf.org/motion-1/
ChromeStatus: https://www.chromestatus.com/features/6190642178818048

[2015-08-26 21:07] dstorey opened #269 "Track has()"
Currently top trending on userVoice: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/8977591--has

Spec: https://drafts.csswg.org/selectors/#relational

[2015-08-26 21:12] dstorey opened #270 "Track CSS attr()"
One of top trending suggestions on userVoice: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/7671960-css-attr-as-defined-in-css-values-level-3

Spec: http://www.w3.org/TR/css3-values/#attr-notation

[2015-08-26 21:17] dstorey opened #271 "Track CSS image-rendering"
One of top trending suggestions on userVoice: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/7671960-css-attr-as-defined-in-css-values-level-3

pixelated value was supported as `-ms-interpolation-mode: nearest-neighbor`.

Spec: https://drafts.csswg.org/css-images-3/#the-image-rendering
CanIUse: http://caniuse.com/#feat=css-crisp-edges

[2015-08-26 21:19] dstorey opened #272 "Track CSS L4 conic-gradient()"
One of top trending userVoice suggestions: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/8471413-implement-conic-gradients-from-css-image-values-le

Spec: http://www.w3.org/TR/css4-images/#conic-gradients

[2015-08-26 21:24] dstorey opened #273 "Track :scope (including in Selectors API)"
One of top trending issues on userVoice: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/9330957--scope-pseudo-class-for-the-selectors-api

[2015-08-26 21:27] dstorey commented on #253
userVoice: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/9160189-backdrop-filters

[2015-08-26 21:30] dstorey commented on #250
userVoice: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6513488-ogg-vorbis-and-opus-audio-formats-support-firefox
CanIUse: http://caniuse.com/#feat=opus
ChromeStatus: https://www.chromestatus.com/features/4891189287321600

[2015-08-26 22:39] dstorey commented on #262
This is already listed as Medium (but the text describing what that means is missing) @jacobrossi want to close this one?

[2015-08-26 22:51] #262 closed, assigned to nobody

[2015-09-01 10:53] codepo8 commented on #261
It would be great to automate that the other way around, too. See https://twitter.com/LeaVerou/status/638653401891520512

[2015-09-01 10:59] codepo8 opened #275 "Discrepancy between status and uservoice"
Just got this complaint:

.@MSEdgeDev Why are conic gradients not on https://dev.modern.ie/platform/status/css/ … even though they’re marked as “Under Review” on https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/8471413-implement-conic-gradients-from-css-image-values-le … ?

Is this a manual process? If so, can we automate that somehow?

[2015-09-01 11:14] codepo8 opened #276 "No link to this repo on status.modern.ie"
Is that by design? Would be useful to get real issues filed rather than people complaining on Twitter.

[2015-09-01 18:44] jacobrossi commented on #251
Fixed and went ahead and flipped to In Development, because I'm so nice. :-)

http://dev.modern.ie/platform/status/vp9videocodec
http://dev.modern.ie/platform/status/webmcontainer

[2015-09-01 18:44] #251 closed, assigned to nobody

[2015-09-01 18:45] jacobrossi commented on #250
Done:

http://dev.modern.ie/platform/status/opusaudiocodec/
http://dev.modern.ie/platform/status/vorbisaudiocodec
http://dev.modern.ie/platform/status/oggcontainer

[2015-09-01 18:45] #250 closed, assigned to nobody

[2015-09-01 20:43] gregwhitworth commented on #261
It also would be good, if possible, to make the categories the same so that we, and more importantly the devs, aren't having to remember what two different types of categories mean.

[2015-09-01 22:41] ericlaw1979 opened #277 "SDCH (Shared Dictionary Compression for HTTP)"
Will IE/Edge implement SDCH? It's in Chrome and gives good results.

https://engineering.linkedin.com/shared-dictionary-compression-http-linkedin The data we collected compares gzip with sdch+gzip. When sdch and gzip are combined, we have seen additional compression as high as 81% on certain files when compared to gzip only. Average additional compression across our static content was about 24%.

[2015-09-02 08:03] LeaVerou commented on #272
Please look at [the ED](http://dev.w3.org/csswg/css-images-4/#conic-gradients) instead, as I've added several examples as well as a rotation angle argument.

Btw given that Direct2D 1.1 supports mesh gradients, Edge can implement this more easily than any other UA, as you guys don't have to worry about shitty Core Graphics on OSX.

[2015-09-02 23:09] dstorey commented on #275
@codepo8 We sat as a team and went through the userVoice items we had updates for. I created bugs here for any popular suggestions we didn't track on status more or less right after, but they can't just be added to Status right away (or automatically) as we need to write a blurb explaining feature, research browser support, etc. Anyone can create a pull request to add issues on Status though. We‘d

[2015-09-02 23:14] dstorey commented on #276
@codepo8 it was included in the previous site. We‘re still moving over to the new site and design, etc. Need to check to see if that is part of the current work in progress.

[2015-09-02 23:18] melanierichards commented on #276
GOOD. POINT.

I can add a Github button to the header of Status linking to this repo. Will do this independently of other open Status work so it can get merged in sooner. @jacobrossi do you have any reservations with this?

[2015-09-03 04:54] dstorey opened #278 "A few of the ‘multimedia’ items are oddly categorised"
- https://dev.modern.ie/platform/status/hardwareconcurrency/ . Should this be Device?
- https://dev.modern.ie/platform/status/quotamanagementapi/ . Not sure? Misc?
- https://dev.modern.ie/platform/status/svgsmilanimation/ . should be graphics
- https://dev.modern.ie/platform/status/uieventskeyboardqueryapis/ . User Input?
- https://dev.modern.ie/platform/status/webnotifications/ . Not sure? platfo

[2015-09-05 05:15] #268 closed, assigned to dstorey

[2015-09-05 05:15] #271 closed, assigned to dstorey

[2015-09-05 05:15] #272 closed, assigned to dstorey

[2015-09-09 08:43] dstorey commented on #278
Looks like there are more. A bunch of things in CSS that don't belong, like showModialDialog. No idea what is going on there.

[2015-09-09 08:45] dstorey commented on #270
Fixed with recent updates

[2015-09-09 08:45] #270 closed, assigned to nobody

[2015-09-09 08:45] dstorey commented on #269
Fixed with recent updates

[2015-09-09 08:45] #269 closed, assigned to nobody

[2015-09-09 08:45] dstorey commented on #273
Fixed with recent updates

[2015-09-09 08:45] #273 closed, assigned to nobody

[2015-09-09 08:46] dstorey commented on #147
Fixed with recent updates

[2015-09-09 08:46] #147 closed, assigned to nobody

[2015-09-09 08:48] dstorey commented on #129
Meter is tracked now: https://dev.modern.ie/platform/status/meterelement/
Progress has been supported for a long time prior to Edge, so isn't currently tracked

[2015-09-09 08:48] #129 closed, assigned to nobody

[2015-09-09 08:49] dstorey commented on #73
added in recent updates

[2015-09-09 08:49] #73 closed, assigned to nobody

[2015-09-09 08:51] dstorey commented on #60
Now Chrome have decided not to pursue this, and Edge won't support Dart (https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6511262-add-the-dart-vm) I don't think it is worth adding Dart to the site.

[2015-09-09 08:51] #60 closed, assigned to nobody

[2015-09-09 08:53] dstorey commented on #79
This is tracked in the logical properties entry now

[2015-09-09 08:53] #79 closed, assigned to nobody

[2015-09-10 01:44] tagawa commented on #129
Good stuff! Thanks @dstorey.

[2015-09-10 07:16] dstorey commented on #260
Need to double check the priority level with the team, then I'll add a CSPL2 entry. Will likely keep current CSP entry as is without adding Level 1 to the title so that existing links don't break.

[2015-09-10 07:20] #203 closed, assigned to nobody

[2015-09-10 07:22] dstorey commented on #256
This is fixed with updates I made to the modern.ie shared styles

[2015-09-10 07:22] #256 closed, assigned to nobody

[2015-09-10 07:23] dstorey commented on #275
Should be solved for the most part.

[2015-09-10 07:23] #275 closed, assigned to nobody

[2015-09-10 07:27] dstorey commented on #55
Closing this as the site is now part of wider modern.ie. We will used a general solution for the entire site.

[2015-09-10 07:27] #55 closed, assigned to nobody

[2015-09-10 07:56] #80 closed, assigned to nobody

[2015-09-10 23:43] dstorey commented on #276
This is included now

[2015-09-10 23:43] #276 closed, assigned to nobody

[2015-09-10 23:44] dstorey commented on #259
This is resolved now

[2015-09-10 23:44] #259 closed, assigned to nobody

[2015-09-11 16:44] mkurz opened #284 "Add "form attribute""
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/7327649-add-support-for-the-form-attribute

[2015-09-11 21:48] patrickkettner opened #287 "mjpg support seems dubious"
MJPG is listed as shipped, however I am unable to find any stream in which is actually works. Can anyone?

[2015-09-11 21:49] patrickkettner commented on #287
[several](http://141.89.114.98/demo/edu640x480v.html) [demos](http://www.snowtrails.com/cam_files/all_cams.php?port=10197)

[2015-09-13 18:10] dstorey commented on #34
Closing this as the actual website is part of the wider dev.modern.ie now.

[2015-09-13 18:10] #34 closed, assigned to nobody

[2015-09-13 18:11] dstorey commented on #40
Closing this as the actual website is part of the wider dev.modern.ie now.

[2015-09-13 18:11] #40 closed, assigned to nobody

[2015-09-13 18:12] dstorey commented on #50
Closing this as the actual website is part of the wider dev.modern.ie now.

[2015-09-13 18:12] #50 closed, assigned to nobody

[2015-09-13 18:12] dstorey commented on #52
Closing this as the actual website is part of the wider dev.modern.ie now. This should work now.

[2015-09-13 18:12] #52 closed, assigned to nobody

[2015-09-13 18:12] dstorey commented on #53
Closing this as the actual website is part of the wider dev.modern.ie now.

[2015-09-13 18:12] #53 closed, assigned to nobody

[2015-09-13 18:18] dstorey commented on #97
Closing this and opened a bug in dev.modern.ie

[2015-09-13 18:18] #97 closed, assigned to nobody

[2015-09-15 18:40] michaelwarren1106 opened #289 "any plans to add css "appearance" property support?"
I know its not in any spec, but there's a -webkit prefixed version available for taking away the default appearance of select boxes in webkit browsers.

I checked the modern.ie roadmap, and didnt see any mention of "appearance" in there, but its definitely a common desire to have custom styled form elements and selects, radios, and checkboxes have always been the trickiest.

Any plans to support t

[2015-09-15 18:45] jacobrossi commented on #289
Microsoft Edge already supports -webkit-appearance. But it might be difficult in status to report on the interoperability given there is no spec for this. @dstorey wdyt?

[2015-09-15 18:48] molant commented on #289
FYI, there is a list of all the CSS properties we support in https://dev.modern.ie/platform/documentation/apireference/cssstyles/. I believe we had somewhere the webkit ones in another place as well.

[2015-09-15 18:51] michaelwarren1106 commented on #289
http://caniuse.com/#search=Appearance

Caniuse is reporting that -webkit-appearance is only supported on IE11 Mobile. Nothing about Edge desktop...

[2015-09-15 18:52] michaelwarren1106 commented on #289
Just as an fyi, since it's a trusted resource

[2015-09-15 19:35] ericlaw1979 opened #291 "Support for Content-Encoding: brotli"
Will Edge support `Content-Encoding: brotli` like Chrome and Firefox?
http://textslashplain.com/2015/09/10/brotli/

Google’s latest announce: http://google-opensource.blogspot.ch/2015/09/introducing-brotli-new-compression.html
Firefox’s bug: https://twitter.com/mcmanusducksong/status/645077770935119872

[2015-09-16 03:08] dstorey commented on #289
@michaelwarren1106 Edge is listed there as partial.

Having said that there is a spec now, and only none and auto are valid values, so I'll probably make a PR to set to full, once I double check auto works.

[2015-09-16 11:08] anssiko commented on #49
Related to this issue, the [W3C Device APIs WG](http://www.w3.org/2009/dap/) is looking for Edge team's input with respect to a small (in terms of API surface, but significant in terms of UX) HTML form extension that facilitates user access to a device's media capture mechanism called _HTML Media Capture_:
- Spec (CR): http://www.w3.org/TR/html-media-capture/
- Test suite (approved): http://w3c-te

[2015-09-16 12:17] michaelwarren1106 commented on #289
Ok cool. I am seeing an issue using it in an app I'm building. I'll check
what build and send over a screenshot. Would there possibly be any issues
depending on what Windows theme is being used? We're corporate, and have
the classic theme on our machines instead of the newer ones. Would that
maybe make a difference?

On Tue, Sep 15, 2015, 11:08 PM David Storey notifications@github.com
wrote:

[2015-09-16 15:41] dstorey commented on #49
As far as I can see, we only don't track proximity events and Media Capture (we have Media Capture and Streams).

[2015-09-16 15:49] dstorey commented on #233
This is fixed now

[2015-09-16 15:49] #233 closed, assigned to nobody

[2015-09-16 15:50] dstorey commented on #76
Closing this as too fine grain detail for status

[2015-09-16 15:50] #76 closed, assigned to nobody

[2015-09-16 15:51] dstorey commented on #77
Too fine grained detail.

[2015-09-16 15:51] #77 closed, assigned to nobody

[2015-09-16 15:55] dstorey commented on #199
related to #176. CanIUse has a keywords field in their JSON, which works fairly well. Only issue is it bloats our rapidly growing JSON file, which is already a pretty big file.

[2015-09-16 15:59] molant commented on #199
right now if they type web components on the search field they get the 4 specs:
https://dev.modern.ie/platform/status/customelements/?filter=f3f0000bf&search=web components

I'd close this in favor of #176

[2015-09-17 00:26] #260 closed, assigned to nobody

[2015-09-17 03:25] Fyrd opened #293 "Transforms entry should mention lack of 3D support in IE9"
Currently the entry mentions "3D space" and claims prefixed support starts in IE9, though IE9 only supports 2D transforms. Would be good to clarify that as someone suggested caniuse data was incorrect, citing this page.

[2015-09-17 06:43] dstorey commented on #293
@jacobrossi what do you want to do about this? Just remove IE9 from prefixed? It seems from the text it is talking more about 3d transforms than 2d transforms (although now they're in the same spec)

[2015-09-17 06:46] #253 closed, assigned to nobody

[2015-09-17 06:51] dstorey commented on #247
There is no field for Safari in our showModalDialog section, so it pulls the data from ChromeStatus. @jacobrossi am I right, or because we have a Firefox override, does it not pull in for the others too?

[2015-09-17 06:54] dstorey commented on #71
CSS transitions and animations have been supported for quite a while before this site was made, so I don't think we need to track those. Deeper support info is more of a job for sites like CanIUse…

[2015-09-17 06:54] #71 closed, assigned to nobody

[2015-09-17 10:47] thany commented on #71
Except not every CSS property is still animatable/transitionable, even for properties that should be.

[2015-09-17 12:22] domenic commented on #247
Mobile Safari does not support showModalDialog, fyi.

[2015-09-18 18:03] jacobrossi opened #294 "Preview in build # text is escaped incorrectly"
![image](https://cloud.githubusercontent.com/assets/2118562/9966982/d2cb3f0c-5df4-11e5-8e2d-f2e730064cdc.png)

[2015-09-18 22:10] Studio384 opened #295 ""Sort feature by" will make it unposible to uncollapse items"
When you select any option in the "Sort feature by" dropdown, it will no longer be possible to view the details of features that where collapsed before you used the dropdown.

[2015-09-21 14:39] ilkkao opened #296 "Add CSS image orientation"
http://caniuse.com/#feat=css-image-orientation

Firefox: supported
Chrome: coming soon: https://code.google.com/p/chromium/issues/detail?id=158753

[2015-09-22 17:09] #284 closed, assigned to nobody

[2015-10-06 09:42] andringa opened #302 "SharePoint Compatibility"
Would you be able to advise when Edge is going to be compatible with SharePoint? In particular the file Drag & Drop feature?

[2015-10-08 07:20] cvrebert opened #304 "Add Element.closest()"
i.e. https://developer.mozilla.org/en-US/docs/Web/API/Element/closest
It's been implemented in all the other major browsers.

UserVoice link: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/10119510-element-closest

[2015-10-12 03:27] yuhong commented on #103
Which month's update?

[2015-10-12 17:37] jacobrossi commented on #103
It was in the August update  in 2014

[2015-10-15 21:57] tanty opened #307 "Page rendering problem when using SVG images using the "BackgroundImage" value in the "in2" attribute of the feBlend filter."
You can find a test set at:
https://rawgit.com/tanty/design-hodgepodge/master/svg/filter/feBlend-backgroundimage-tests.html

When trying to render this page with IE11, the whole page fails:
![win8 1_ie_11 0](https://cloud.githubusercontent.com/assets/1577005/10528748/c72d5af6-73a0-11e5-8607-d0c9de08d4c6.png)

You can check how the test page looks in other browsers at:
https://dev.modern.ie/tools/s

[2015-10-16 22:00] tanty opened #308 "SVG feBlend With in2 from a feImage result linking to an embedded SVG document rendered wrong"
[Reproduced with IE11 on Win 8.1](https://dev.modern.ie/tools/screenshots/#https://rawgit.com/tanty/design-hodgepodge/master/svg/filter/feBlend-feImage-tests.html)
![win8 1_ie_11 0](https://cloud.githubusercontent.com/assets/1577005/10554237/6901e1e8-746a-11e5-8093-4c897b3e5434.png)
# Steps to reproduce the problem:

Open the URL:
https://rawgit.com/tanty/design-hodgepodge/master/svg/filter/feBlen

[2015-10-16 22:05] tanty opened #309 "SVG feBlend With in2 from a resized feImage result linking to an embedded SVG document rendered wrong"
[Reproduced with IE11 on Win 8.1](https://dev.modern.ie/tools/screenshots/#https://rawgit.com/tanty/design-hodgepodge/master/svg/filter/feBlend-feImage-resized-tests.html)
![win8 1_ie_11 0](https://cloud.githubusercontent.com/assets/1577005/10554269/a427ff8c-746a-11e5-9edf-3e25828e07c9.png)
# Steps to reproduce the problem:

Open the URL:
https://rawgit.com/tanty/design-hodgepodge/master/svg/filte

[2015-10-16 22:37] jacobrossi commented on #309
This repo isn't the right place to file bug reports. If you haven't already, please file at http://connect.microsoft.com/ie

[2015-10-16 22:37] #309 closed, assigned to nobody

[2015-10-16 23:00] tanty commented on #309
Reported at: https://connect.microsoft.com/IE/feedback/details/1910044

[2015-10-16 23:03] tanty commented on #307
Reported at: https://connect.microsoft.com/IE/feedback/details/1910061

[2015-10-16 23:03] #307 closed, assigned to nobody

[2015-10-16 23:08] tanty commented on #308
Reported at: https://connect.microsoft.com/IE/feedback/details/1910071/

[2015-10-16 23:08] #308 closed, assigned to nobody

[2015-10-29 13:58] vtortola opened #312 "HTTP2 Upgrade support (aka h2c) ?"
Hi,

Will the clear text upgrade from HTTP 1.1 to HTTP 2 supported in ME?

Cheers.

[2015-11-05 19:42] TheJaredWilcurt opened #314 "Pin Tabs"
I know this isn't an HTML5/CSS3 spec, just a general browser feature, but It's needed.

Today, for the first time since IE6, I genuinely considered switching to IE as my default browser. Unfortunately when attempting to match my normal set up I found IE 11 doesn't support pinned tabs in the way Chrome, Chromium, Canary, Opera, Firefox, Vivaldi, and Safari do.

It would also be nice to have more co

[2015-11-05 19:49] patrickkettner commented on #314
Hey @TheJaredWilcurt!
As you mentioned, this isn't really the place for a request like this since this tracks features. Since this is a application feature, and not a web platform feature, this would go in our [web apps user voice](https://windows.uservoice.com/forums/285214-microsoft-edge?query=pinned%20tabs) where you will see there is a request for this [here](https://windows.uservoice.com/foru

[2015-11-06 13:04] #314 closed, assigned to nobody

[2015-11-06 13:08] TheJaredWilcurt commented on #314
You link me to a page that says "The concept of Microsoft listening to it's users was fun for a while, but we're gonna stop now". None of the posts on there can be voted on, even the most recent one from last week.

You've effectively pointed to a wall for me to go yell at. No thanks.

[2015-11-06 13:52] lenovouser commented on #314
Yeah, I kind of share @TheJaredWilcurt's opinion. I really like Edge, but things like not being able to use a AdBlocker, or actually any plugin is stopping me from using it at the moment. Also slow adaption or even no adaption of features like Subresource Integrity, Service Workers. WebP / WebM, WebGL 2.0 and WOFF2 from "competitors" like Google are annoying to me as a web developer.

[2015-11-06 16:20] dstorey commented on #314
@TheJaredWilcurt @lenovouser feedback for the MS Edge app should be posted in the Windows Feedback app (there is a link to it from the ellipsis (…) menu in the browser. This is where the app teams are consolidating their feedback experience.

Web Platform and developer facing (such as F12) features should still be filed on uservoice: https://wpdev.uservoice.com/forums/257854-microsoft-edge-develop

[2015-11-07 08:36] ghost opened #315 "No UserVoice links on the Platform Status page?"
The UserVoice links and vote counts on the [status page](https://dev.windows.com/en-us/microsoft-edge/platform/status/adownloadattribute) disappear. Is this intentional?

[2015-11-07 17:23] molant commented on #315
Definitely not intentional. Something has probably broken during the migration to the new domain. Will look into it as soon as I can

[2015-11-12 05:02] molant commented on #315
This is fixed now. Thanks!

[2015-11-12 05:02] #315 closed, assigned to nobody

[2015-11-12 05:04] molant commented on #295
This is not happening any more in https://dev.windows.com/en-us/microsoft-edge/platform/status/
Let me know if you are still experiencing it

[2015-11-12 05:04] #295 closed, assigned to nobody

[2015-11-12 20:07] kypflug opened #316 "Need to update Status entries for Fall Update"
Builds <= 10240 should be Microsoft EdgeHTML 12.[Build]
Builds 10241-10586 should be Microsoft EdgeHTML 13.[Build]

[2015-11-16 13:29] Studio384 commented on #316
I second this, data isn't that useful if it is running behind. Why do you guys update so quickly after an Insider Preview (which is good), but let it drag on so long after an official release? When Windows 10 went to public it took 10 days before the status page got updated!

[2015-11-17 05:43] kypflug commented on #316
Fixed in #313

[2015-11-17 05:43] #316 closed, assigned to kypflug

[2015-11-17 11:29] francescaBersanetti opened #318 "Sharepoint 2013 Content Organizer"
Hi,
i should try to configurate the content organizer features for Sharepoint 2013. I would like to use it to create a workflow that transfer a document by site to another site of Sharepoint.
Do you know how can i do? Please give me a list of instructions step by step of all i should do ( from the basic level).

Thank you very much

[2015-11-17 17:52] jacobrossi commented on #318
This is not a support forum for SharePoint.  Try the [SharePoint 2013 MSDN Forum](https://social.msdn.microsoft.com/Forums/office/en-US/home?forum=sharepointgeneral)

[2015-11-17 17:52] #318 closed, assigned to nobody

[2015-11-17 21:34] HarburGER opened #319 "Start with My previous tabs - doesn't work"
Exit EDGE Browser by using the red X button (close all Tabs). When you start again the previous tabs are lost ( not always, but often ).

[2015-11-18 00:44] jacobrossi commented on #319
This isn't the correct place to file browser issues.  Please use the Send Feedback option in the "..." menu in Edge. Thanks!

[2015-11-18 00:44] #319 closed, assigned to nobody

[2015-11-18 00:47] patrickkettner opened #320 "slow font loading results in lame experience"
Using Safari, Chrome, and conference wifi on my phone and the ste is blocked for 30+ seconds waiting on the fonts to download. Any chance we would consider using system fonts? Or perhaps using something like https://github.com/bramstein/fontfaceobserver to give us both?

[2015-11-18 01:26] molant commented on #320
That's weird because fonts are on a CDN (woff2 are in a different one than woff and ttf) and in the status page they aren't the biggest resource :/
Woff2 files should be loading from the same one as the JS and CSS. Where you having any issues with those resources?
There was someone else complaining about files in the CDN not being loaded in the VMs page but I don't see any incidence for the CDN in

[2015-11-18 01:27] patrickkettner commented on #320
CSS seemed to load nearly instantly. not sure if the JS was working because I didn't know where anything was.

to be clear, everything loaded. just a lot slower.

[2015-11-18 01:30] molant commented on #320
That page is one of the heaviest one with the list of features, templates, etc. :(
It is on our backlog to make it faster and slimmer with the VMs page.

Thanks!

[2015-11-18 08:58] mkurz opened #321 "Website issue: Links don't work"
On https://dev.windows.com/en-us/microsoft-edge/platform/status/ the four links on to left bottom to GitHub, StackOverflow, Platform Status and demos don't work.

[2015-11-18 17:45] molant commented on #321
Tracking this internally, fix should go live soon.

Thanks!

[2015-11-18 17:45] #321 closed, assigned to nobody

[2015-11-19 00:59] offece commented on #320
[Excel へようこそ1.xlsx](https://github.com/MicrosoftEdge/Status/files/38485/Excel.1.xlsx)

[2015-11-19 01:16] offece commented on #320
[文書1.docx](https://github.com/MicrosoftEdge/Status/files/38492/1.docx)
[文書1.d

ocx](https://github.com/MicrosoftEdge/Status/files/38493/1.docx)

[2015-11-20 06:22] dstorey commented on #320
I'm pretty sure this is something to do with moving to the new servers. I've regularly used slow wifi (and low end phone) on the old Azure websites and not had issues with the fonts or the page loading (the page weight is low enough it shouldn't be an issue)

[2015-11-21 08:25] i8-pi opened #323 "Incorrect msdn link for "Set (ES6)""
The msdn link for Set points to the documentation for Map. It should point to the documentation for Set instead.

[2015-12-04 20:52] mattwojo commented on #293
@dstorey -- we are working on moving and updating Edge Dev Guide pages to the portal, just started on Transforms and saw this issue note. I believe you have access to our drafts, mind taking a look at the top note to see if this accurately represents support: https://github.com/MicrosoftEdge/MicrosoftEdge-Documentation-Private/blob/master/dev-guide/css/transforms/README.md

[2015-12-09 10:16] NoNameProvided opened #329 "Beacon browser support data is incorrect"
The [Beacon feature](https://dev.windows.com/en-us/microsoft-edge/platform/status/beacon) is supported
- in Chrome since 39.0 ([ref](https://www.chromestatus.com/features/5517433905348608))
- in Firefox since 31.0 ([ref](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/sendBeacon))
- in Opera since 26.0

But on [status.modern.IE](https://dev.windows.com/en-us/microsoft-edge/platform/stat

[2015-12-09 15:08] mkurz commented on #321
The links are still not working....

[2015-12-09 17:55] molant commented on #321
Check again :)
Thanks!

[2015-12-09 17:59] mkurz commented on #321
Works :+1:

[2015-12-14 15:44] renoirb commented on #246
Hi folks,

I had a mental note to see if this had been picked up. Take a look at https://platatus.herokuapp.com, it looks live. I see you got @digitarald in the loop, maybe you already are using it.

[2016-01-11 15:33] mobilekosmos opened #334 "a[download] attribute broken"
Here you say that this was implemented https://dev.windows.com/en-us/microsoft-edge/platform/status/adownloadattribute

but e.g. following does not work:
<a class="saveFileButton" id="saveFileButton" href="blob:null/342146e3-8efa-4f5b-b248-69cae90fb826" download="%html_filename%"></a>

Also following check results in false:
var downloadAttributeSupported = 'download' in document.createElement('a')

[2016-01-17 23:54] alrra opened #335 "Update some of the browser logos"
- [x] Update the [Internet Explorer logo](https://github.com/alrra/browser-logos/blob/49e362d39248e6d7a1419fed249749c97cb6be3a/internet-explorer/internet-explorer.png) to better reflect the official one

  ![](https://cloud.githubusercontent.com/assets/1223565/12380837/e0a184c0-bd84-11e5-9a0f-dd2ca09b5cf9.png)
- [x] Update the [Opera logo](https://github.com/alrra/browser-logos/blob/master/opera)

[2016-01-22 23:47] jacobrossi opened #336 "Touch Events text says supported on all devices with touchscreens"
Actual behavior is that this is supported on mobile only.  It's disabled on desktop sku (including tablets, 2:1s, and touchscreen laptops).  There's a setting in about:flags to override this, but the default is not what we say in status.

[2016-01-26 11:21] rjpond opened #337 "Input type color"
Elements of type input=color are not supported by Edge currently.  Almost all other HTML5 input types are supported.  I feel this would be useful.  It is not listed on the Edge platform roadmap as planned - but nor is it listed as 'not currently planned', so it's unclear whether it's been considered at all.

[2016-01-26 18:54] saschanaz opened #338 "Pointer Lock support says 'Preview' but actually is 'Supported' on 10586"
...as the item says the feature is available on 10532+.

[2016-01-26 20:48] mcat commented on #117
It looks like the simple test case http://codepen.io/thebabydino/pen/IBiCE/ isn't passing on 10240

But the Edge status page: https://dev.windows.com/en-us/microsoft-edge/platform/status/csstransitionsanimationsforsvgelements indicates CSS SVG animations are supported.

The issue is still open so I understand it to not be fixed but I'm confused as to why that status page seems to indicate that the

[2016-01-27 13:32] alrra opened #339 "Link to WHATWG instead of the W3C spec?"
See: https://annevankesteren.nl/2016/01/film-at-11.

[2016-01-27 13:38] alrra opened #340 "."
_Sorry about this. Created this issue by accidentally hitting `⏎`._

[2016-01-27 13:38] #340 closed, assigned to nobody

[2016-01-27 21:22] jacobrossi commented on #339
Thanks @alrra.  Microsoft [prefers the W3C](https://github.com/MicrosoftEdge/Status/blob/production/CONTRIBUTING.md#updating-features) as the place for developing interoperable open web standards. We believe this organization provides additional valuable structure that does not currently exist in the WHATWG. In particular, the W3C serves as a governance entity that ensures web standards are advanc

[2016-01-27 21:22] #339 closed, assigned to nobody

[2016-01-27 21:29] #329 closed, assigned to nobody

[2016-01-29 18:29] #323 closed, assigned to nobody

[2016-01-31 19:04] jonathansampson commented on #117
@mcat Adding explicit units to all of your values resolves the issue. Instead to `0px` instead to `0`.

[code]

[2016-02-02 16:59] charlesjmorris opened #343 "Add status for FIDO U2F"
This is an older spec than FIDO 2.0 that is listed but was implemented by Chrome 38.

https://fidoalliance.org/specifications/overview/

[2016-02-02 23:40] #343 closed, assigned to nobody

[2016-02-03 06:01] ghost opened #346 "microsoftedge.com doesn't support HTTPS"
https://www.microsoftedge.com/, https://status.microsoftedge.com/, and https://uservoice.microsoftedge.com/ cannot be connected. On README.md, there is a link to [UserVoice](https://uservoice.microsoftedge.com/), which is currently broken until HTTPS support is added.

[2016-02-03 17:51] #291 closed, assigned to nobody

[2016-02-04 07:21] dstorey commented on #346
CC @molant

[2016-02-04 17:04] molant commented on #346
@kypflug is working on that

[2016-02-04 23:29] jacobrossi commented on #117
This isn't the right forum for filing suggestions or bugs for Microsoft Edge. Please see uservoice.microsoftedge.com and connect.microsoft.com/ie

Thanks!

[2016-02-04 23:29] #117 closed, assigned to nobody

[2016-02-05 05:13] saschanaz commented on #338
It seems it is now fixed.

[2016-02-05 05:13] #338 closed, assigned to nobody

[2016-02-05 10:33] phistuck opened #349 "Add support for another ChromeStatus status"
ChromeStatus has a new status - "In experimental framework".
Currently, Web Bluetooth shows that Chrome does not support or develop support for it, but it does.
https://dev.windows.com/en-us/microsoft-edge/platform/status/webbluetooth
This is because of the new status, probably.

It would make sense to map it to "Preview release", I think, unless you want to add "Experimenting in Google Chrome" wh

[2016-02-05 22:05] jacobrossi commented on #349
I think this maps better to In Development than Preview Release. Things that are in Preview Release for Edge are generally near feature complete and are just waiting for a stable release train to ship, whereas Web Bluetooth requires [special Chromium builds](http://stackoverflow.com/questions/34810194/can-i-try-web-bluetooth-on-chrome-for-android-lollipop) with flags and OS debug settings enabled,

[2016-02-05 22:17] phistuck commented on #349
Mmm... not quite accurate.
1. The "special Chromium build" (not special, really. Just a normal Chromium build, rather than a Chrome release) is required for Android 5 (Lollipop), which is not planned to be supported (the StackOverflow post mentions that). Even so, I also do not think it requires USB debugging (but off Google Play installations would probably be required). But this is irrelevant.
2

[2016-02-07 06:36] cvrebert commented on #337
Apparently it's in development (per https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6514216--input-type-color ), although missing from the Status site.

[2016-02-08 08:56] rjpond commented on #337
The status update at uservoice was added more than a week after I posted the above, so I don't know if it was in reaction to me raising the issue here, or coincidence.  Thanks though, and thanks to the person who updated uservoice.

[2016-02-08 18:20] #337 closed, assigned to nobody

[2016-02-08 18:22] kypflug commented on #337
Thanks for catching the discrepancy @cvrebert! Just added this.

[2016-02-09 14:34] laurent-le-graverend commented on #304
:+1:

[2016-02-11 19:02] phistuck commented on #334
You probably meant https://dev.windows.com/en-us/microsoft-edge/platform/status/adownloadattribute and this issue tracker is not a Microsoft Edge issue tracker, but a platform status issue tracker.
Microsoft Edge issues should be filed using http://connect.microsoft.com/ie.
Also, note that if some aspect of the feature does not work (have you tried actually using it in HTML rather than in JavaScri

[2016-02-12 05:50] ghost commented on #334
The check returns true for me on Windows 10 Build 10586.
`navigator.userAgent`
`"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2486.0 Safari/537.36 Edge/13.10586"`
`'download' in document.createElement('a');`
`true`

[2016-02-12 08:23] mobilekosmos commented on #334
Yes, that's the problem, you get true but then you add a blobUrl to the href atribbute and nothing happens when pressing the download button. With following code we handle the issue for now:

``var blob = new Blob([source], { type: "application/octet-stream" });

var saveFileButton = document.getElementById("saveFileButton");

var downloadAttributeSupported = 'download' in document.createElement('

[2016-02-12 10:55] phistuck commented on #334
Move this to connect, please. This is not the place.

[2016-02-12 17:14] molant commented on #334
Hi @tererecool, thanks for catching this. Please open an issue in [connect](https://connect.microsoft.com/ie) as @phistuck has suggested before.

[2016-02-12 17:14] #334 closed, assigned to nobody

[2016-02-15 23:02] ram651 opened #354 "onaddtrack Event doesn't seem to fire in Edge, MSDN docs support that it's implemented up to IE11"
I've been trying to determine whether or not the onaddtrack event is being fired in Edge for Audio/Video elements.

I'm fairly sure that it isn't currently supported, as the main docs only show it up till IE11 and the current Edge Status page doesn't mention specifics about each of the features currently supported.

From those in the know, is the ontrackadd event currently supported by Edge?

If s

[2016-02-15 23:35] molant commented on #354
Hello @ram651,

this is not the right place to ask questions. If you have found any bugs in the platform please report them in https://connect.microsoft.com/ie

The [Microsoft Edge API reference](https://dev.windows.com/en-us/microsoft-edge/platform/documentation/apireference/) lists all the interfaces and APIs implemented in the browser and [addtrack](https://dev.windows.com/en-us/microsoft-edge/

[2016-02-15 23:35] #354 closed, assigned to nobody

[2016-02-17 14:07] alrra opened #357 "Remove `app/static/ie-status.json`?"
Currently there are two files that contain basically the same data:
- [`status.json`](https://github.com/MicrosoftEdge/Status/blob/bb80445f240ffad8c047fd55d2c198fc3fe4aebd/status.json)
- [`app/static/ie-status.json`](https://github.com/MicrosoftEdge/Status/blob/bb80445f240ffad8c047fd55d2c198fc3fe4aebd/app/static/ie-status.json)

From [this commit](https://github.com/MicrosoftEdge/Status/commit/419

[2016-02-17 14:12] alrra commented on #357
Here is the [diff between `status.json` and `app/static/ie-status.json`](https://gist.github.com/alrra/0612e8798cc077c46177).

[2016-02-17 23:04] jacobrossi commented on #357
Yeah, this is intentional staging.  We'll be removing app/static/ie-status.json once the web server is pull from the new file location in this repo (status.json).

[2016-02-17 23:05] jacobrossi commented on #357
eh, I'll leave this open until we actually remove it anyway ;-)

[2016-02-18 18:28] amnesia opened #358 "FIDO U2F not currently planned"
As you've probably guessed from the title, I have a question regarding the FIDO U2F standard.

Link: https://dev.windows.com/en-us/microsoft-edge/platform/status/fido20webapis?filter=f3f0000bf&search=fido

Here's what's bothering me: "The implementation in Microsoft Edge is focused on enabling Microsoft Passport with a PIN or Windows Hello to securely authenticate to Microsoft properties and third

[2016-02-20 16:53] paramsinghvc opened #359 "ServiceWorkers!!"
Please get the serviceworkers feature quickly, other browsers have got it already! Waiting !

[2016-02-20 17:41] alrra commented on #359
@paramsinghvc

From https://dev.windows.com/en-us/microsoft-edge/platform/status/serviceworker:

##

Note: This issue tracker is not intended for making feature requests (please see: https://github.com/MicrosoftEdge/Status#contributing).

[2016-02-20 20:59] #359 closed, assigned to nobody

[2016-02-23 21:19] ericlaw1979 opened #361 "Show status of APNG on Status tracker"
http://caniuse.com/#search=apng
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6513393-apng-animated-png-images-support-firefox-and-sa

[2016-02-23 21:20] ericlaw1979 commented on #361
Arguably dupe of https://github.com/MicrosoftEdge/Status/issues/98 which hasn't been touched in a long time and doesn't use the acronym APNG

[2016-03-01 16:53] maxinacube opened #362 "Provide callback or change event on autofill"
With IE ignoring `autofill=off`, my site is having some major issues on user registration forms and user profile forms. We use a password strength meter to ensure all users have strong passwords, and I understand `autofill=off` is ignored for passwords to encourage stronger passwords with ease of use.

The issue arises when the password is autofilled, because there is no change event detected and

[2016-03-01 16:59] molant commented on #362
Hello @maxinacube,
This repo is only for things related to the status data available in https://status.microsoftedge.com. To report issues please go to https://connect.microsoft.com/ie

[2016-03-01 16:59] #362 closed, assigned to nobody

[2016-03-09 03:56] kypflug commented on #346
We're on the list for the next quarterly refresh of the master cert and expect the redirect to be working with HTTPS in April.

[2016-03-09 04:05] kypflug commented on #346
HTTPS should be working as expected sometime next month.

[2016-03-09 13:56] alrra commented on #335
Starting with version `49`, Chrome also changed its logo (updated my [previous comment](https://github.com/MicrosoftEdge/Status/issues/335#issue-127133458)).

[2016-03-10 21:01] alrra commented on #357
Fixed by https://github.com/MicrosoftEdge/Status/commit/f34e1adf3d5ef30bf2f973299abc0a0f17676c17.

[2016-03-10 21:01] #357 closed, assigned to nobody

[2016-03-10 22:45] NoNameProvided opened #367 "status.microsoftedge.com is down"
[code]

[2016-03-10 22:53] molant commented on #367
Seems to be working now.

[2016-03-10 22:53] #367 closed, assigned to nobody

[2016-03-10 23:16] alrra commented on #367
@molant I encounter the same issue:

![](https://cloud.githubusercontent.com/assets/1223565/13687805/5e0c2ae4-e726-11e5-8b14-67f46f29ce6b.png)

[code]

[code]

[2016-03-11 09:48] alrra commented on #367
@molant Update: It now works for me! :tada:

[2016-03-14 08:45] matthiasg commented on #358
ha .. i just came here to also comment on this. We will implement this with an additional text field to pop up, but of course its not really nice and not as secure as if the browser did this directly. for now we will continue using chrome for security sensitive customers (which are most of them).

[2016-03-14 17:24] jacobrossi commented on #358
Support for U2F devices is something that we will continue to evaluate, but it is not planned for the immediate future.  The long term goal for FIDO is to eliminate the need for passwords altogether and to encourage stronger credentials.  U2F was an early proposal which helped shape the FIDO draft, but it still relies on the user supplying a (potentially weak) password as a part of their authentic

[2016-03-14 17:24] #358 closed, assigned to nobody

[2016-03-15 09:27] vedmack opened #368 "Missing implementation of ParentNode.children api?"
Hi

It looks like there is no implementation of the [ParentNode.children](https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/children) api in Edge, consider the following code

[code]

While in other browsers (including older IE) , the following `xmlDoc.firstChild.children` would return a list of HTML elements (HTML Collection object), in Edge it does not (return undefined)

See the follo

[2016-03-16 09:25] NoNameProvided commented on #368
Hi vedmack!

This repo goal is to maintain the development status for features in Edge, to send developer feedback for features in Edge you can use the [javascript section of the uservoice site](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/category/86948-javascript).

[2016-03-16 09:53] vedmack commented on #368
Ok,

Posted over there... https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/12957081-add-implementation-of-parentnode-children-api

Thanks

[2016-03-16 09:53] #368 closed, assigned to nobody

[2016-03-16 23:18] scheinercc opened #369 "WOFF2 supported by Firefox since v39"
WOFF2 support for Firefox is still set to "Under development" here
https://dev.windows.com/en-us/microsoft-edge/platform/status/?filter=f3f0000bf&search=woff%20file

but in the linked bug tracker it says that it was in the relnotes for v35:
https://bugzilla.mozilla.org/show_bug.cgi?id=1064737#c12

apparently turned on by default in v39:
https://developer.mozilla.org/en-US/Firefox/Releases/39

[2016-03-18 05:29] #369 closed, assigned to nobody

[2016-03-26 16:46] cthedot opened #371 "Add cursor support"
http://jsbin.com/jujacu/edit?html,css,output

Edge (and IE) do not support the full CSS 3 cursor spec, notably no PNG, dataURI and hotspot support. Could you add this the the status page? Thanks!

[2016-03-29 10:36] SangiliSabapathy opened #372 "the previous window height and width has been taken in window.open method for edge browser"
1. i have test.html page from which i have tried to open tes1.html with size of 220 and 200
2. after that when i try to open blank page from tes1.html with size of 600 and 300.
3. the blank page is not OPENING WITH THE EXPECTED SIZE 600 AND 300 WHEREAS IT IS OPENING WITH THE PREVIOUS PAGE ZIE THAT IS 200 AND 200.

NOTE: THIS ISSUE IS NOT HAPPNEING IN EDGE BROWSER VERSION 20.10240.16384. it is happ

[2016-03-29 10:58] alrra commented on #372
@SangiliSabapathy

(from: https://github.com/MicrosoftEdge/Status#contributing)

[2016-03-29 14:38] #372 closed, assigned to nobody

[2016-03-30 02:05] hax commented on #372
There are too many bug reports in this repo.

I think Edge team should consider creating a github repo for bug reporting, because Connect/UserVoice is not very friendly for the developers.

[2016-03-30 02:14] jacobrossi commented on #372
Great idea! ☺

[2016-03-30 02:47] molant commented on #372
Agree! Let's see what we can do about that.

[2016-03-30 18:26] alrra commented on #372
Adding a [`ISSUE_TEMPLATE.md`](https://help.github.com/articles/creating-an-issue-template-for-your-repository/) file containing a [short note](https://github.com/MicrosoftEdge/Status#contributing) could help in that regard.

##

See also: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-04-04 23:40] zhaoz opened #376 "Add Intersection Observer to platform status"
Intersection Observer is not on the platform status page.

https://www.chromestatus.com/features/5695342691483648
https://rawgit.com/slightlyoff/IntersectionObserver/master/index.html
https://github.com/WICG/IntersectionObserver/blob/master/explainer.md

[2016-04-04 23:44] jacobrossi commented on #376
Yes, we should have this added. Let me check with the layout team on the right priority level and we'll get it added. Thanks @zhaoz !

[2016-04-05 04:22] molant opened #378 "A lot of links to api catalog are broken"
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/mediacaptureandstreams
the link for `See detailed support` points to https://developer.microsoft.com/en-us/microsoft-edge/platform/catalog/spec/mediacapture which is broken (there are several mediacapture apis but none with that shortname).

There are more than just the media capture. We should review all the links and make sure

[2016-04-05 18:23] molant commented on #378
@josephshum, @arronei who did the integration? Can one of you take a look at this?

[2016-04-05 18:34] drcreek opened #380 "Backdrop Filters"
This is now fully shipped in Safari, Mobile Safari and Can be enabled with flags in Chrome. Firefox has it in development. I believe it also is working the in the Opera Beta but for some reason I can't install to verify.

[2016-04-05 18:48] ghost commented on #378
@molant I am on it.

[2016-04-06 04:18] #378 closed, assigned to nobody

[2016-04-07 01:11] ctolkien opened #383 "Details / Summary incorrect w3c link."
Currently the Details / Summary w3c link points to:
https://w3c.github.io/html/semantics.html#the-details-element

Which does not have any information on the details element.

It should probably be https://w3c.github.io/html/interactive-elements.html#the-details-element

[2016-04-07 04:19] #383 closed, assigned to nobody

[2016-04-12 08:51] cvrebert commented on #380
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/backdropfilter

[2016-04-12 08:54] cvrebert commented on #130
This refers to https://webkit.org/blog/182/css-reflections/ ?

[2016-04-13 10:33] drcreek commented on #380
I know about that.

I'm suggesting that it should be more than just "under consideration" and given higher priority.

[2016-04-13 11:22] jacobrossi commented on #380
Thanks for the feedback. However, this isn't the right forum to provide it. :-) Please see the entry in our User Voice for this where you can upvote and chime in with comments:
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/9160189-backdrop-filters

[2016-04-13 11:22] #380 closed, assigned to nobody

[2016-04-16 23:32] NoNameProvided opened #385 "Delete abandoned branches?"
Is there any reason why do you keep the 4 other branches? All of them was updated over a year ago and they still contain the source of the old site. I know I have nothing to do with it, buy maybe deleting them is a good idea? They just disturb my eyes. :)

[2016-04-19 21:59] kypflug commented on #346
Should be fixed now!

[2016-04-19 21:59] #346 closed, assigned to kypflug

[2016-04-27 21:32] gsnedders opened #394 "Grid update status"
If I'm not mistaken, Edge's impl of Grid is roughly that of the 2011 TR, and the spec has undergone major changes. Would be nice to have something about the status of bringing that up-to-date and unprefixing.

[2016-04-27 22:35] jacobrossi commented on #394
Agreed we do need a way to communicate that.  We've had this issue before on how do we say we're updating something we already support. For Indexed DB we were able to "name" the updates (Arrays and Multi Entry Support) as a separate feature to give it a status.  We could describe it via the newer features like subgrid, but I'm not sure that encompasses everything we need to update here.  @gregwhit

[2016-04-28 04:00] gregwhitworth commented on #394
Yeah, the terminology for separate status items would probably be unknown to most web devs because a lot of the other items come from the older template specification that got merged into Grid, and I don't want a separate status item for each item that needs to be updated.

It's worth noting that, you can actually utilize the foundational aspect of grid with the ms prefix and it will work across b

[2016-04-28 20:37] jacobrossi commented on #385
Yup yup yup, good idea.  DELETED!

[2016-04-28 20:37] #385 closed, assigned to nobody

[2016-04-28 20:38] jacobrossi commented on #376
@gregwhitworth or @chumpchief  could you maybe do a PR for this one?

[2016-04-28 20:39] jacobrossi commented on #320
Closing this out since the site is now in EdgePortal.

[2016-04-28 20:39] #320 closed, assigned to nobody

[2016-04-28 20:40] jacobrossi commented on #302
This isn't the right place for this kind of post.  But we did add Drag Drop support to the 1511 release (November, EdgeHTML 13). :-). Direct these questions to @msedgedev on Twitter

[2016-04-28 20:40] #302 closed, assigned to nobody

[2016-04-28 20:40] #294 closed, assigned to nobody

[2016-04-28 20:41] jacobrossi commented on #287
I think we have bugs tracking the ones that don't work above. This is supported though!

[2016-04-28 20:41] #287 closed, assigned to nobody

[2016-04-28 20:43] jacobrossi commented on #261
Migrating to EdgePortal issue...

[2016-04-28 20:43] #261 closed, assigned to nobody

[2016-04-28 20:45] #235 closed, assigned to nobody

[2016-04-28 20:45] #227 closed, assigned to nobody

[2016-04-28 20:46] jacobrossi commented on #192
Migrating this to our repo for dev.microsoftedge.com

[2016-04-28 20:46] #192 closed, assigned to nobody

[2016-04-28 20:48] jacobrossi commented on #61
Given Edge is Win10 only, this feels less necessary now.

[2016-04-28 20:48] #61 closed, assigned to nobody

[2016-05-02 05:57] ghost opened #396 "Status of WebM, Opus, VP9 support for video and audio elements"
According to [the blog](https://blogs.windows.com/msedgedev/2016/04/18/webm-vp9-and-opus-support-in-microsoft-edge/), WebM, Opus, and VP9 are supported only when used with Media Source Extensions, but not with &lt;video&gt; or &lt;audio&gt; elements. So can we split each of these entries\* into two entries, one for MSE and another for video/audio elements?
- https://developer.microsoft.com/en-us/m

[2016-05-02 06:00] jacobrossi commented on #396
MSE uses the video/audio element, so that wouldn't be the right way to denote this. Let me check with the media team on the best way to  describe this.

[2016-05-02 20:04] gregwhitworth commented on #376
I'll take this one @chumpchief

[2016-05-04 21:20] #376 closed, assigned to nobody

[2016-05-10 03:23] ghost opened #399 "Track ChaCha20-Poly1305 Cipher Suites for TLS support"
The spec was approved by the IESG yesterday. It is supported by Chrome and Opera. Could we track it?
Spec: https://tools.ietf.org/html/draft-ietf-tls-chacha20-poly1305-04
Chromestatus: https://www.chromestatus.com/features/5355238106071040
Uservoice: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/12300414-support-chacha20-poly1305-cipher-suites-in-edge-sc

[2016-05-14 07:42] martin19 opened #404 "Support for canvas advanced TextMetrics object."
Are there any plans to support this?

Here is the spec:
https://html.spec.whatwg.org/multipage/scripting.html#textmetrics

Current Browser support:
https://developer.mozilla.org/de/docs/Web/API/TextMetrics
- Chrome has it already hidden behind flag "ExperimentalCanvasFeature"
- for Gecko there is some work in progress https://bugzilla.mozilla.org/show_bug.cgi?id=1102584

Kind Regards,
Martin

[2016-05-27 18:36] elagerway opened #413 "Edge has an ICE issue with username in BIND response"
Seems Edge has a bug regarding ICE replies. Official RFCs require the USERNAME attribute MUST NOT be present. But Edge is sending USERNAME attribute in replies and does appear to reject our ICE responses from ORTC Lib that do not contain USERNAME attribute.

According to: https://tools.ietf.org/html/rfc5245#section-7.1.2.3

   ... A connectivity check
   from R to L utilizes the username LFRAG:RFR

[2016-05-27 18:40] molant commented on #413
@elagerway the right place to notify about Microsoft Edge issues is https://issues.microsoftedge.com

[2016-05-27 18:40] #413 closed, assigned to nobody

[2016-05-27 18:43] elagerway commented on #413
ok, thanks

Erik Lagerway | Mobile: 1.604.562.8647

On Fri, May 27, 2016 at 11:40 AM, Anton Molleda notifications@github.com
wrote:

[2016-05-31 17:15] sandhilt opened #415 "Add support to modifications in color"
like this : https://drafts.csswg.org/css-color/#modifying-colors

[code]

or more complex like this

[code]

[2016-05-31 17:18] molant commented on #415
@SandHilt the right place to request new features is our [UserVoice](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer).

Thanks!

[2016-05-31 17:18] #415 closed, assigned to nobody

[2016-06-04 02:31] dstorey commented on #248
Screen capture is already on the site https://developer.microsoft.com/en-us/microsoft-edge/platform/status/screencapture

[2016-06-04 02:31] #248 closed, assigned to jacobrossi

[2016-06-07 19:26] kirupa opened #416 "Expand/Collapse Arrow Animation Sluggish in Edge"
Hi everybody!
When you click on a feature row, the feature expands to show additional details. As part of expanding to show additional details, the expand/collapse arrow on the right rotates. This rotation is pretty sluggish on Edge, but it is really snappy in Chrome.

I can attach an animated GIF/video of this issue if it helps.

Thanks,
Kirupa

[2016-06-07 19:37] molant commented on #416
@gregwhitworth I remember talking about this with you and maybe it was a regression? I don't think it repros on IE11

[2016-06-07 19:49] gregwhitworth commented on #416
@molant can you provide a reduction and file a bug on Comp as I suspect you're doing this with keyframes on a rotation and that will be their issue to look into. Thanks.

[2016-06-07 19:50] molant commented on #416
I can probably try to do that later this week if @kirupa doesn't have time before :)
Thanks!

[2016-06-07 20:13] jacobrossi commented on #416
Do we have a trace to show where the time is spent? I'm betting this is layout perf not comp because it changes the height.

[2016-06-07 21:05] gregwhitworth commented on #416
No, we'll put it on the right team once we get a reduction.

[2016-06-08 19:38] ghost commented on #396
@jacobrossi Any updates on this one?

[2016-06-14 20:19] jacobrossi opened #418 "Add a link to the new Web Driver implementation details/roadmap"
Since WebDriver details are under documentation now, let's add a docs button for this that points there.
https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/webdriver-commands/

[2016-06-17 12:21] PascalReintjens opened #419 "Push API and Service Worker - Firefox - Support"
Hello,

I think there is an update for: https://developer.microsoft.com/en-us/microsoft-edge/platform/status/pushapi. The site lists the Push API still "In Development" by Firefox, although the linked https://bugzilla.mozilla.org/show_bug.cgi?id=1038811 is resolved fixed. Mozillas own platform lists the Push API as supported since Firefox 44: https://platform-status.mozilla.org/#push - See as well

[2016-06-17 12:53] molant commented on #419
Hello @PascalReintjens,

Almost all the information for other browsers comes from the [Chromium dashboard](https://github.com/MicrosoftEdge/Status/blob/production/CONTRIBUTING.md#updating-features). If there is an error you should open an issue [there](https://github.com/GoogleChrome/chromium-dashboard) :)

For the two cases you mention, you can check that we don't have any value in our json other

[2016-06-17 12:53] #419 closed, assigned to nobody

[2016-06-17 13:01] PascalReintjens commented on #419
Hello @molant,

Thanks for the quick response.

I opened an issue on the Chromium dashboard too, so I hope this should be updated soon :)

[2016-06-22 23:21] ghost commented on #399
@jacobrossi @molant ChaCha20-Poly1305 cipher suites has been published as [RFC 7905](https://tools.ietf.org/html/rfc7905). Now Firefox 47 also supports them. Could we know the status in Edge and track it here?

[2016-06-23 12:26] scheinercc opened #420 "CSS Variables shipped in Safari according to chromestatus"
Status for Safari on
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/cssvariables
differs from
https://www.chromestatus.com/feature/6401356696911872

... which points to here: https://webkit.org/status/#specification-css-variables
(not quite sure if that means it is shipped in Safari, though?!)

[2016-06-23 17:11] jacobrossi commented on #420
Huh. Odd.  This feature is set up to pull Safari's status from ChromeStatus.  So I'm not sure why it's coming through wrong. Will need to debug.

[2016-06-26 18:21] cvrebert commented on #394
The Grid status item also doesn't currently have a UserVoice link to https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6514853-update-css-grid

[2016-07-06 12:32] mikewest commented on #201
This morphed into `SameSite` cookies, the draft has been adopted by the HTTPWG (https://tools.ietf.org/html/draft-ietf-httpbis-cookie-same-site), Chrome shipped in 51 (https://www.chromestatus.com/features/4672634709082112), and Mozilla is working on it (https://bugzilla.mozilla.org/show_bug.cgi?id=795346).

Is it something y'all could consider? :)

[2016-07-11 10:35] maxstepin commented on #361
A couple of recent quotes from Chrome devs: "Yup, we've decided to move forward with this", "tentatively have that set up to start in Q4"

Worth tracking.

[2016-07-18 15:38] pricop opened #424 "Support for referrerpolicy attribute"
Are there any plans regarding the implementation of the referrerpolicy attribute to allow the control of referral value per item rather than per entire page, (using the meta referrer - which by the way still uses the legacy keywords rather than the new ones, see the **Note** mentioned here: https://w3c.github.io/webappsec-referrer-policy/#determine-policy-for-token)?

For example, I could load an

[2016-08-02 09:41] laukstein opened #431 "RRGGBBAA support"
Spec https://drafts.csswg.org/css-color/#hex-notation
Status https://github.com/Fyrd/caniuse/issues/2249

[2016-08-03 08:10] szabadka opened #434 "Update the standard status of Brotli"
Link: https://tools.ietf.org/html/rfc7932

[2016-08-07 09:30] saschanaz opened #436 "Show status of XHR.responseURL support"
It seems responseURL support has been added on Edge 14. Why not celebrate it on platform status page :D

[2016-08-09 16:23] saschanaz opened #437 "Update Fullscreen API status"
It seems Edge 14 dropped unprefixed Fullscreen API while keeping the `-webkit-` one. I don't know why but the platform status page should say something about this.

[2016-08-09 16:45] jacobrossi commented on #437
Yes, indeed. We dropped it due to some compatibility issues.  We'll be bringing this back on or around the time other browsers do it in coordination.  We should get this updated in the meantime though. Thanks for filing the issue!

[2016-08-09 22:27] kypflug commented on #434
Fixed in #430

[2016-08-09 22:27] #434 closed, assigned to nobody

[2016-08-09 22:42] #436 closed, assigned to nobody

[2016-08-09 22:43] kypflug commented on #437
Fixed in #438

[2016-08-09 22:43] #437 closed, assigned to nobody

[2016-08-16 21:11] jdalton opened #440 "Brotli support update."
Brotli is now supported in Chrome, Firefox, and Opera ([caniuse](http://caniuse.com/#feat=brotli)) we should update the status

<img width="980" src="https://cloud.githubusercontent.com/assets/4303/17715919/5b25f622-63bb-11e6-8262-4af76415c02f.png">

I looked at the `status.json`, but I'm not sure what to toggle.

[2016-08-16 21:12] jdalton commented on #440
I looked at the `status.json` but not sure what to toggle.

[2016-08-16 21:15] molant commented on #440
More info in https://github.com/MicrosoftEdge/Status#contributing :)

[2016-08-16 21:27] jdalton commented on #440
It seems to be up-to-date [on Chrome's status](https://www.chromestatus.com/features/5420797577396224). Is this a syncing issue?

[2016-08-16 21:29] molant commented on #440
Depending on when it got updated. If it is recently maybe, if it is was a while ago then there might be something else going on. Are we using the right id (5420797577396224)?

[2016-08-16 21:30] jdalton commented on #440
The id looks correct.

[2016-08-17 07:25] alrra commented on #440
Maybe a caching issue? For me, the [status](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/brotlicompresseddataformat) is up to date.

![](https://cloud.githubusercontent.com/assets/1223565/17727677/a20c1d66-6463-11e6-8c29-42f117009c9d.png)

[2016-08-17 07:36] jdalton commented on #440
Imma say it was fixed in the 10 hours between comments 😝

[2016-08-17 10:45] ghost commented on #440
Could you also fix #420? That is a similar issue about wrong status of CSS Variables.

[2016-08-17 13:22] molant commented on #440
Haven't changed anything for brotli so probably cache and syncing. Closing.

[2016-08-17 13:22] #440 closed, assigned to nobody

[2016-08-17 13:49] jdalton commented on #420
Looks like a browser caching issue. Try clearing your cache.

<img width="966" src="https://cloud.githubusercontent.com/assets/4303/17738581/b203330c-6446-11e6-901c-8f63ca6b9234.png">

Might be cool to see about busting the cache on the site side for folks.

[2016-08-17 15:27] molant commented on #420
Right now all the JSON data is put directly into the HTML (we will be changing this in the next couple weeks) so I don't think that is the problem.
We pull the chromestatus data every few minutes. Its `features.json` file has a max-age of 600 so depending on when it is updated, and when we pulled it for the last time it could take a bit to get it.

[2016-08-17 15:27] #420 closed, assigned to nobody

[2016-08-19 20:47] phistuck opened #442 "Add An Entry For EventListenerOptions"
`window.addEventListener(type, handler, {capture: boolean, passive: boolean, once: boolean});`
Firefox and WebKit (including Safari technology preview) recently implemented them. Chrome implements the first two and the third is in development.

Basic support and `capture` - https://www.chromestatus.com/feature/5718574840676352
`once` - https://www.chromestatus.com/feature/5630331130478592
`passive

[2016-08-20 02:24] cvan opened #443 "Add WebVR"

[2016-08-22 16:49] jacobrossi commented on #442
This might make sense to split up?  I think  just "once" and "passive" are really the important _new_ things to track here.

[2016-08-22 16:54] phistuck commented on #442
Yeah, split it however you like, I would just like to see this added to the platform status, one way or another. :)

[2016-08-22 16:54] phistuck commented on #442
Hopefully, with an "In development" status. :P

[2016-08-22 16:54] jacobrossi commented on #442
The area owner for this is on vacation. I'll get this added as soon as he's back and I have a chance to get the latest from him.

[2016-08-26 10:11] mikecmpbll commented on #358
so many enterprise grade web applications use U2F now as the only two-factor option they'll offer, for it's enhanced security against phishing attacks. this is a real blow to edge not to want to support this and far from encouraging stronger authentication models it will mean software will be strongarmed in to continuing to support less secure two-factor paradigms like (T)OTP.

i'd be interested t

[2016-08-26 17:52] jacobrossi commented on #358
@mikecmpbll  things have evolved here a bit since my last comment. The [FIDO 2.0](http://www.w3.org/Submission/fido-web-api/) spec evolved into the [Web Auth spec](https://w3c.github.io/webauthn/). This is still a relatively new standard that's still evolving. So our initial experimental implementation uses a single authenticator -- Windows Hello (supports TPM PIN or biometric sensors as second fa

[2016-08-29 20:18] adrianba commented on #358
Specifically, the Web Authentication API provides a superset of the U2F capabilities. It can handle the same scenarios as U2F to do two factor authentication after a password but it can also enable password-less scenarios using an authentication device. You can read more about this in our [blog post](https://blogs.windows.com/msedgedev/2016/04/12/a-world-without-passwords-windows-hello-in-microsof

[2016-08-29 20:35] libbymc opened #445 "Update MSDN links with new docs"
1. Old MSDN links need to point to new docs on developer.microsoft.com/microsoft-edge/
2. New doc links need to be added for new features
3. Should remove /en-us/ from MSDN links

[2016-08-30 08:14] mikecmpbll commented on #358
@adrianba @jacobrossi thank you both for the detailed explanations! I'll do some further research into the Web Authentication API