[2016-09-01 18:14] ericlaw1979 opened #448 "Add Cookie Prefixes"
Supported in Chrome, Firefox, Opera and Brave.

https://tools.ietf.org/html/draft-ietf-httpbis-cookie-prefixes-00

https://textslashplain.com/2015/10/09/duct-tape-and-baling-wirecookie-prefixes/

[2016-09-01 18:40] martinsuchan opened #449 "HPKP - Public Key Pinning id points to the wrong entry in chrome status"
[This page shows](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/draganddropdirectories/?q=public%20key%20pinning) that HTTP Public Key Pinning (HPKP) is not supported in Firefox.

It works in Firefox since v35.
http://caniuse.com/#feat=publickeypinning
https://developer.mozilla.org/en/docs/Web/Security/Public_Key_Pinning

[2016-09-01 18:44] martinsuchan opened #450 "Track rel=noopener support"
This feature is already implemented in Chrome/Opera.

See:
https://html.spec.whatwg.org/multipage/semantics.html#link-type-noopener
https://mathiasbynens.github.io/rel-noopener/
http://caniuse.com/#feat=rel-noopener
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/12942405-implement-rel-noopener

[2016-09-01 18:48] martinsuchan opened #451 "Track support for OCSP Must-Staple TLS Feature Extension"
This feature is already supported in Firefox

See:
https://tools.ietf.org/html/rfc7633
https://blog.mozilla.org/security/2015/11/23/improving-revocation-ocsp-must-staple-and-short-lived-certificates/
https://community.letsencrypt.org/t/improving-revocation-will-lets-encrypt-support-ocsp-must-staple/4334

[2016-09-01 21:55] ghost opened #453 "Is Spread operator really supported in edge?"
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/spreades6/?q=spread suggests spread operator is supported.

Spread: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_operator

In Firefox console, open https://developer.microsoft.com/en-us/microsoft-edge/platform/status/spreades6/?q=spread and run `[...document.querySelectorAll('body')]` in cons

[2016-09-01 22:20] FremyCompany commented on #453
It is supported, but NodeList (and its friends) are not iterable in Edge right now (as in, it also does not work with `for...of`). Try `[..."abc"]` as an example of something that should work.

[2016-09-01 22:20] #453 closed, assigned to nobody

[2016-09-01 22:26] ghost commented on #453
@FremyCompany, thanks!

Do you know if there a open ticket (on GitHub, Connect, UserVoice) where I can track the progress of making NodeList illiterate? Is it on the roadmap somewhere?

[2016-09-01 22:51] FremyCompany commented on #453
Looking through issues.microsoftedge.com I found [this entry](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/5998615/).

It is marked as External because it is duped to our deliverable, but should be marked as Fixed when we flip our internal deliverable done (or so I'd think; ping @jacobrossi; maybe we should change "External" to "On the backlog" to make it clearer?)

[2016-09-01 22:54] jdalton commented on #453
I've created a [user voice entry](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/15898300-iterable-nodelists) for it.

[2016-09-02 01:30] ghost commented on #449
The status is fetched from https://www.chromestatus.com/features/4669935557017600. It needs to be updated by Chromium team on their side. You need to file a bug on [chromium-dashboard](https://github.com/GoogleChrome/chromium-dashboard).

[2016-09-06 23:18] tomByrer opened #456 "Firefox WebP: in development"
https://bugzilla.mozilla.org/show_bug.cgi?id=1294490

[2016-09-07 00:11] kypflug commented on #456
Our status for Firefox is taken from the Chrome status tracker (chromestatus.com), so this should be opened as an issue there: https://github.com/GoogleChrome/chromium-dashboard/issues

[2016-09-07 01:49] #456 closed, assigned to nobody

[2016-09-09 16:10] #443 closed, assigned to nobody

[2016-09-13 08:50] Studio384 commented on #335
Both the Internet Explorer logo and Opera logo have already been updated.

[2016-09-14 08:03] stof commented on #449
@nextPrime the chromium-dashboard status you linked is about the HPKP _reporting_ feature, not about HPKP itself.

[2016-09-15 01:30] ghost commented on #449
@stof You're right. I didn't notice that. So https://github.com/MicrosoftEdge/Status/blob/production/status.json#L4182 should be changed. Another thing is since Firefox supports HPKP blocking but not reporting, should the status page reports HPKP is supported or not supported in Firefox? Unfortunately Edge status page doesn't indicate partial support.

[2016-09-16 18:21] saschanaz opened #458 "Update the status of Device Adaptation"
It seems the `@-ms-viewport` rule [is now behind a flag](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7970618/). The status page should tell about this.

[2016-09-16 18:30] saschanaz opened #459 "Update the status of Destructuring (ES6)"
I can do `let [a, b]= [1, 2];` without the `Experimental JavaScript features` flag on build 14926. The kangax table says it is available on Edge 14(.14393), so I think its status should be updated.

[2016-09-17 05:26] SaschaNaz commented on #449
Shouldn't this be directly fetched from [Firefox status page](https://github.com/mozilla/platform-status/)?

[2016-09-26 10:40] hieutranagi47 opened #463 "Support ellipsis multi lines"
Chrome supports -webkit-line-clamp: $number-of-lines to help us show text as short description very nice, but not in IE/Edge/Firefox, so we must estimate number of character then substring by code. I think that why almost developer support Chrome better than the other browser.
.text-2-lines{
  display: block;
  text-align: justify;
  display: -webkit-box;
  max-width: 400px;
  height: 3em;
  margi

[2016-09-29 12:55] beaufortfrancois commented on #349
I would appreciate if `In Development` was used there instead of `Not supported` for the Web Bluetooth API.

Please let me know where/if I can contribute to provide a patch.

cc @jacobrossi @nolanlawson

[2016-09-30 17:19] gregwhitworth commented on #463
Hi @hieutranagi47 thanks for filing this. Unfortunately, the status page is not where we take feature request but we do on our [uservoice page](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer); feel free to suggest it there.

Now that I've said that, let me tackle the suggestion of `-webkit-line-clamp` that you have proposed. When implementing the `-webkit` properties in our fir

[2016-09-30 17:19] #463 closed, assigned to nobody

[2016-10-05 17:38] #445 closed, assigned to nobody

[2016-10-14 13:38] ParkFramework opened #467 "Track: prepend, append, before, after, and replaceWith"
[code]

https://dom.spec.whatwg.org/#childnode
https://bugs.webkit.org/show_bug.cgi?id=74648
https://bugzilla.mozilla.org/show_bug.cgi?id=911477
https://www.chromestatus.com/features/5723067795898368

[2016-10-14 23:52] cvrebert commented on #467
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/16036408

[2016-11-01 20:56] Chaz6 opened #468 "Incorrect status for FIDO U2F support in Firefox"
FIDO U2F is supported in Firefox with an extension. It is currently shown as "Not supported" which is misleading.

[2016-11-03 15:48] toddreifsteck opened #469 "Add support for removing support for a feature between IE11 and Edge or for versions > N of other browsers"
Examples:
1. Edge has a bug preventing prefetch from functioning properly and has not yet implemented prerender. IE11 supports dns-prefetch, prefetch and prerender.
2. Firefox has removed the Battery Status API and we'd like to mark the build it was removed in.

We'd like to be able to represent this on the status page accurately.

[2016-11-04 17:00] domenic opened #470 "Encoding Standard browser support info is not quite correct"
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/encodingstandard/ says not supported in Chrome and Firefox, but it is. The "Detailed browser support" linking to https://developer.microsoft.com/en-us/microsoft-edge/platform/catalog/?q=specName%3Awhatwg-encoding even confirms this.

[2016-11-04 17:09] molant commented on #470
Hi @domenic,  do you have an id from ChromeStatus we can use to track this? At the moment it is [null](https://github.com/MicrosoftEdge/Status/blob/production/status.json#L5883) and that's the reason why the info is not correct.

[2016-11-04 17:11] domenic commented on #470
It looks like it is https://www.chromestatus.com/feature/5714368087982080

[2016-11-04 17:19] #470 closed, assigned to nobody

[2016-11-04 17:19] molant commented on #470
@domenic updated. It can take a few minutes until the changes are propagated.

[2016-11-15 18:56] #335 closed, assigned to nobody

[2016-11-18 07:17] bitbruder opened #472 "Add 'box-decoration-break' CSS property"
Supported by Firefox, partial support by all major browsers except IE and Edge.

Controls whether the box's margins, borders, padding, and other decorations wrap the broken edges of the box fragments (when the box is split by a break (page/column/region/line).
http://caniuse.com/#feat=css-boxdecorationbreak

See the Draft on csswg.org
https://drafts.csswg.org/css-break-3/#break-decoration

See a D

[2016-11-18 17:28] molant commented on #472
Thanks for your feedback @digital-frood
Is this feature tracked by the chromium dashboard? If so, what will be the id? We use it to get the [status for other browsers](https://github.com/MicrosoftEdge/Status#contributing).

[2016-11-18 17:30] molant commented on #468
Support for other browser comes from the Chromium Dashboard as explained in the [contributing section](https://github.com/MicrosoftEdge/Status#contributing). If you think it should be marked as supported in Firefox I recommend you to open an issue in that project.

Thanks!

[2016-11-18 17:30] #468 closed, assigned to nobody

[2016-11-21 07:46] bitbruder commented on #472
Hey @molant,

This feature is (afaik) not tracked by the chromium dashboard.

It is part of the CSS Fragmentation Module Level 3, listed here (§5.4)
https://drafts.csswg.org/css-break-3/

You can find a similar Feature Ticket on the Chromium Dashboard here
https://www.chromestatus.com/feature/5630943616303104

So.. I guess its just a small part of the whole Fragmentation Module. Edge is claiming t

[2016-12-07 06:56] cvrebert commented on #442
So, did you get a chance to talk to the owner?

[2016-12-07 15:31] dpogue opened #475 "Safari supports `will-change`"
As of Safari 9.x, `will-change` is supported

[2016-12-09 09:59] martinsuchan opened #476 "Track support for TLS 1.3"
TLS 1.3 is already in the last phase of specification.
https://tools.ietf.org/html/draft-ietf-tls-tls13-18

Cloudflare already supports TLS 1.3 in beta since September 2016:
https://blog.cloudflare.com/introducing-tls-1-3/

Google Chrome plans to support it in version 56, to be released in Jan/Feb 2017
https://blog.chromium.org/2016/12/chrome-56-beta-not-secure-warning-web.html

Mozilla Firefox pl

[2016-12-09 10:02] martinsuchan commented on #476
There is already one obsolete ticket mentioning TLS 1.3: #156

[2016-12-10 17:00] alrra commented on #98
Closing in favor of #477.

[2016-12-10 17:00] #98 closed, assigned to nobody

[2016-12-10 17:00] alrra commented on #361
Closing in favor of #477.

[2016-12-10 17:00] #361 closed, assigned to nobody

[2016-12-12 03:52] molant commented on #475
We get the status for other browsers from chrome status. If something is not accurate it should be updated in that project. There is more info in the contributing guide.

Thanks

[2016-12-12 03:52] #475 closed, assigned to nobody

[2016-12-12 23:02] ghost opened #478 "SUPPORT OBJECT FIT NOW"
Please. Thank you.

[2016-12-13 08:42] alrra commented on #478
@ultraloveninja [`object-fit` is currently `under consideration`](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/objectfitandobjectposition/?q=object-fit) and the `roadmap priority` is `high` meaning, we intend to begin development soon.

[2016-12-13 08:42] #478 closed, assigned to nobody

[2016-12-17 13:36] am11 commented on #68
@alrra, `outline-offset` has been added ([ref](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/cssoutlineoffset/?q=outline-offset)), but data for `resize` is still missing. `resize` has more user-voice votes than `outline-offset`: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6513977-css-resize-property.
Can this data be added to status feed?

[2016-12-17 15:22] am11 opened #480 "Firefox has <details>/<summary> supported since v49"
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/detailssummary suggests `In Development in Firefox`.

GitHub markdown example:

[code]

Results in:

<details>
  <summary>Expand to get a treat</summary>
  :cake:
</details>

[2016-12-17 15:42] alrra commented on #480
@am11 Data for browsers other than IE and Microsoft Edge comes from the [Chromium Dashboard](https://www.chromestatus.com/features). Mind opening this issue [there](https://github.com/GoogleChrome/chromium-dashboard/issues/new)? Thanks!

---

<details>
  <summary>Expand to get a treat</summary>
  :cake:
</details>
 <br>
⬆️ Nice touch! 👍

[2016-12-17 15:42] #480 closed, assigned to nobody

[2016-12-19 07:39] alrra commented on #68
@am11 Care to open a pull request? Thanks!

(Cc: @gregwhitworth)

[2016-12-19 14:17] alrra commented on #418
https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/webdriver-commands/

@jacobrossi We are already linking to https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/dev-guide/tools/webDriver/ which contains [that link](https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/webdriver-commands/).

---

<img src="https://cloud.githubu

[2016-12-19 14:17] #418 closed, assigned to nobody

[2016-12-19 14:53] am11 commented on #480
It has been updated upstream https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/wPEQYS9jqdA :)

[2016-12-19 15:03] alrra commented on #480
From https://developer.microsoft.com/en-us/microsoft-edge/platform/status/detailssummary/

![](https://cloud.githubusercontent.com/assets/1223565/21317240/f9bf2f2a-c60c-11e6-8413-ea093d1f5493.png)

[2016-12-19 15:04] alrra commented on #68
Closing in favor of #481.

[2016-12-19 15:04] #68 closed, assigned to nobody

[2016-12-29 22:33] nolanlawson opened #482 "Add Background Sync"
AKA this thing: https://wicg.github.io/BackgroundSync/spec/

[2016-12-29 22:45] #482 closed, assigned to nobody

[2016-12-31 17:09] phistuck opened #486 "Removed features are displayed as deprecated"
fearures.json of Chrome includes "Object.observe" with -
[code]
However, https://developer.microsoft.com/en-us/microsoft-edge/platform/status/objectobserve shows it as deprecated, which is misleading because -
1. People use deprecated features all of the time, so they might try that.
2. It might give people some hope that it might actually come to other browsers, since it is still "a functioning f

[2017-01-01 02:07] NoNameProvided commented on #486
I have never seen a deprecated spec being implemented in any browser.

[2017-01-01 06:19] phistuck commented on #486
I do not remember an exact example, but I remember there were such unfortunate cases (a deprecation was overturned because another browser implemented it).

[2017-01-01 06:21] phistuck commented on #486
(And it is not a deprecated specification, it was never in a specification, so you can call it a de-facto or a proprietary feature and the list of those that were brought into other browsers is quite large)

[2017-01-10 20:26] vcsjones commented on #399
SChannel in Windows needs to support it, first.

[2017-01-13 01:23] glennphilp opened #491 "Platform Status Update by Device Type"
Is it possible to get an update field/column on the Web Platform status based on device type?

For instance, it is not possible to use all APIs and features on a mobile device and it requires a lot of testing and digging to find this information. What would be nice is to have fields/columns that would tell developers if the feature is available for Edge on PC, Tablet, or Phone. And if it isn't, th

[2017-01-28 11:53] martinsuchan commented on #424
Even though the [Platform Status shows Meta Referrer as supported](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/metareferrer/?q=referrer), only the **older draft is supported** with values: ```never, always, origin & default```
Edge should really support the current [Editor's Draft on Referrer Policy](https://w3c.github.io/webappsec-referrer-policy/), just like Firefox/Chro

[2017-02-07 03:37] awebdeveloper opened #496 "Add data on web share api"
Add the new web share api. Currently only available in chrome for android behind a origin trail.

https://developers.google.com/web/updates/2016/10/navigator-share

[2017-02-13 07:16] CMay opened #497 "CSS Zoom support for mobile WebView"
I'm aware that CSS zoom factor works properly on desktop/mobile Edge and desktop WebView, but on my phone the zoom factor does nothing in a WebView.

I'm unsure if it's disabled in WebView Mobile, if it's just the version I'm using or what.  I thought it might be something I have to implement myself, but that can't be the case since it works in a desktop WebView.  I need this style to work reliabl

[2017-02-13 07:37] alrra commented on #497
@CMay This project is not the right place to report bugs in Microsoft Edge. Can you open an issue in our [issue tracker](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/)? Thanks!

[2017-02-13 07:37] #497 closed, assigned to nobody

[2017-02-13 22:24] CMay commented on #497
Thanks Cat, I wasn't sure where WebView issues go.  I've opened the issue here: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/10946333/

[2017-03-13 21:56] glennphilp commented on #491
Actually it might be simpler to create a mobile, desktop, tablet device flag and then add the 3 options under the advanced filter on Edge Web Platform Status

[2017-03-13 23:18] molant commented on #491
we are looking into adding this feature and looking into some ideas internally. Hopefully we should have something in the next sprint or so.

[2017-04-05 15:10] botic commented on #472
I see this CSS feature becoming more popular in various designs, so devs like me are looking if it's supported in Edge. Would be nice to see the status of the support in the list. Can I Use tracks it in a separate section: http://caniuse.com/#search=box-decoration-break

[2017-04-12 05:52] bitbruder commented on #472
[Microsoft Edge feature request on UserVoice](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6514472-box-decoration-break) [wpdev.uservoice.com]

[2017-04-13 04:51] eligrey commented on #99
It's supported in Edge 15 now. @jacobrossi would you mind updating the platform status page?

[2017-04-13 06:12] alrra commented on #99
@eligrey Good catch, thanks!

I've opened https://github.com/MicrosoftEdge/Status/pull/513.

[2017-04-21 04:51] alrra commented on #491
![](https://cloud.githubusercontent.com/assets/1223565/25263205/804ae43a-2666-11e7-830a-fc4b50ad0c43.png)

---

@molant I think this can be closed.

[2017-04-21 09:20] #491 closed, assigned to molant

[2017-05-03 21:46] saschanaz commented on #459
Fixed by 229f80f044406a9f86747272f0383f35d3fd0ca3 :D

[2017-05-03 21:46] #459 closed, assigned to nobody

[2017-05-04 23:19] darconeous commented on #358
It is a fully fledged, deployed, and experience-tested standard that has been adopted by Google, Facebook, GitHub, Dropbox, etc... It is not an "early proposal".

That's a feature, not a bug. With a U2F token, the user can use a much more weak password (like a PIN) while still remaining much more secure than they would be otherwise.

There is nothing preventing people from implementing biometrics

[2017-05-05 01:04] amnesia commented on #358
Instead of implementing the "basic" U2F as fast as possible, 14 months have passed (since my original post) and we still have nothing. Typical Microsoft.

[2017-05-05 20:03] darconeous commented on #358
Reading more into this, it seems like the [Web Authentication API](https://w3c.github.io/webauthn) provides a standardized API for the use of U2F tokens (among other things). Microsoft has apparently committed to implementing this API in Edge. What Microsoft has not committed to doing is adding support for U2F tokens to be used with this API (once implemented) on Edge browsers.

So the protocol mi

[2017-05-08 07:46] saschanaz commented on #458
#516 is merged

[2017-05-08 07:46] #458 closed, assigned to nobody

[2017-05-08 07:49] saschanaz commented on #394
There is a new item about this now: https://developer.microsoft.com/en-us/microsoft-edge/platform/status/gridupdate/?q=grid

[2017-05-08 07:57] alrra commented on #394
It does [now](https://github.com/MicrosoftEdge/Status/blob/79093545bb65e62c7d91e28b7fd8a420721aa541/status.json#L1185).

Yes, closing.

![](https://cloud.githubusercontent.com/assets/1223565/25795166/d091b418-33dc-11e7-8ce9-26be308dbeb4.png)

[2017-05-08 07:57] #394 closed, assigned to nobody

[2017-05-08 09:05] saschanaz commented on #442
Once: https://developer.microsoft.com/en-us/microsoft-edge/platform/status/eventlisteneronceoption/?q=once
Passive: https://developer.microsoft.com/en-us/microsoft-edge/platform/status/passiveeventlisteners/?q=passive

Both are in development :smile:

[2017-05-08 09:27] #442 closed, assigned to nobody

[2017-05-08 21:25] saschanaz commented on #156
The Encoding thing is here: https://developer.microsoft.com/en-us/microsoft-edge/platform/status/encodingstandard/?q=encoding

Still no TLS 1.3 item.

[2017-05-09 13:03] #476 closed, assigned to nobody

[2017-05-09 13:21] saschanaz commented on #156
TLS 1.3 is added by #517 :smile:

[2017-05-09 13:22] #156 closed, assigned to nobody

[2017-05-11 16:44] am11 opened #519 "URLSearchParams is missing"
WHATWG - https://url.spec.whatwg.org/#urlsearchparams (living standard)

Community interest: http://stackoverflow.com/q/901115

Example: `new URLSearchParams('?panes=1&panes=2').getAll('panes')` => `[ "1",  "2" ]`

(tested in Firefox 53.0.2 console)

[2017-05-12 13:37] Brianetta commented on #358
U2F is part of my daily life. I use it to authenticate myself to several services, including social networks and some private systems. My choice of browser is predicated on U2F support. Needless to say, I'm not currently using a Microsoft browser.

[2017-06-12 04:09] 1000i100 opened #529 "Missing voting link/status for RTC Data Channels"
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/rtcdatachannels/#rtcdatachannels

https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/17929639-rtc-data-channels

[2017-07-14 15:34] saschanaz opened #533 "WebAssembly is now enabled by default on build 16241"
Currently the status page only says:

Can we add something like _Unprefixed version: Windows Insider Preview Build 16241_?

[2017-07-16 01:52] ctolkien commented on #533
I couldn't spot this in the change log - was this announced somewhere or just something you noticed?

Would like to update caniuse.com too.

[2017-07-16 02:16] saschanaz commented on #533
@ctolkien It seems it's not publicly announced but you can access `WebAssembly` object on console and it can run [the demo on webassembly.org](http://webassembly.org/demo/) well without the `about:flags` thing. I think this is the result of [ChakraCore update](https://github.com/Microsoft/ChakraCore/pull/2447).

[2017-07-17 06:17] alrra commented on #533
Cc @kypflug

[2017-08-03 15:11] gsnedders opened #535 "Grid is enabled by default from 16237"
According to this, you need to enable Grid update; per https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/desktop/16237 it is now enabled by default.

[2017-08-03 15:21] alrra commented on #535
@gsnedders I've opened #536 to address this.

[2017-08-03 16:18] #535 closed, assigned to nobody

[2017-08-03 16:20] alrra commented on #535
Thanks @gsnedders!

[2017-08-08 20:54] kypflug commented on #533
Thanks @SaschaNaz and @ctolkien - this is accurate and I've updated the changelog entry accordingly. I'll put in a PR to correct the Status entry.

[2017-08-08 21:01] #533 closed, assigned to nobody

[2017-08-18 16:49] am11 commented on #480
@alrra, this is now shipped in Edge stable version 15063. Should we update its status for Edge from `In Development` to `Shipped`?

[2017-08-18 17:10] FremyCompany commented on #480
@am11 The DETAILS and SUMMARY elements have not shipped in Edge. There was a version in Preview sometime last month, but it was pulled out because it wasn't complete and we would not have enough time to finish the implementation.

It looks like Github added a polyfill for the element, so it works on Github at this point.

[2017-08-19 13:25] heisejason opened #543 "MicrosoftEdge / Status"
:warning: Notes:

  * This project is *not* the right place to make feature requests or report bugs in Microsoft Edge and/or Internet Explorer. Browser feedback can be provided through the [issue tracker](https://developer.microsoft.com/microsoft-edge/platform/issues/) and on [UserVoice](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer).
  * For most of the features, the support

[2017-08-19 15:04] #543 closed

[2017-08-22 16:41] mkurz commented on #480
@FremyCompany Will the details and summary elements be ready for the fall update?

[2017-08-22 17:14] FremyCompany commented on #480
It's not my team that has been working on this effort but the answer is no, unfortunately.

We do have a policy of slowly cooling down releases, where we take some time to create new features then focus only on bug fixing for couple of months. If a feature isn't ready when we enter this cooling phase, our only option is to remove it in order to not endanger the release. This is what happened here.

[2017-08-22 19:38] mkurz commented on #480
@FremyCompany Thanks for your answer.

[2017-08-25 01:18] Joffrey commented on #529
Microsoft should really implement this feature.

[2017-08-25 02:08] #529 closed, assigned to nobody

[2017-08-25 02:08] alrra commented on #529
Thanks, @GammaNu!

[2017-08-25 13:14] galaxyeden commented on #358
Just another 'me too' - I rely on FIDO U2F and this is one of the deal-breakers keeping me from moving to Microsoft Edge.

[2017-08-25 22:02] mguinness opened #544 "Strict Secure Cookies"
Google has proposed an amendment to [RFC 6265](http://httpwg.org/http-extensions/draft-ietf-httpbis-cookie-alone.html) to remove the ability for a non-secure origin to overwrite cookies whose secure flag is set.

[Chrome Platform Status](https://www.chromestatus.com/feature/4506322921848832) shows that Chrome & Firefox have shipped.  Is this being considered for Edge?  ASP.NET Core MVC team have [

[2017-08-29 17:38] kypflug opened #545 ""Preview In"build numbers show as null when prefixed"
Status entries where the most recent build number is an "iePrefixed" value, and either/both the ieStatus "text" value is "Preview Release" or "flag" is true, are showing blank or null for "Preview In:" where the build number should be displayed.

Example entries: https://developer.microsoft.com/en-us/microsoft-edge/platform/status/subresourceintegrity/ and https://developer.microsoft.com/en-us/mic

[2017-08-30 10:04] alrra commented on #545
@kypflug I've open this issue in the backend repository since this repository is only for the data.

[2017-08-30 10:04] #545 closed, assigned to alrra

[2017-09-11 18:16] InstyleVII opened #547 "Firefox and Safari don't show as Shipped for WebDriver"
They are both shipped and should be updated.

[2017-09-11 18:23] alrra commented on #547
Fixed by #546

[2017-09-11 18:23] #547 closed, assigned to nobody

[2017-09-13 01:41] FremyCompany commented on #304
Now supported,
I think it's fair to close without updating, we cannot add every function in the status.

[2017-09-13 01:41] #304 closed, assigned to nobody

[2017-09-13 02:01] #289 closed, assigned to nobody

[2017-09-13 02:02] FremyCompany commented on #289
I think we support the interoperable subset now, but there is still no spec to link to.

[2017-10-10 05:30] jscinoz opened #551 "Track support for fetch() keepalive flag (related to navigator.sendBeacon)"
This feature is already implemented in at least one browser (Safari - [release notes](https://webkit.org/blog/7877/release-notes-for-safari-technology-preview-38/)).

Spec: https://fetch.spec.whatwg.org/#keep-alive-flag
Chrome status page: https://www.chromestatus.com/feature/5760375567941632
Chromium tracking issue: https://bugs.chromium.org/p/chromium/issues/detail?id=695939
Firefox tracking iss

[2017-10-11 17:49] martinsuchan commented on #336
I've just checked on multiple Windows 10 1709 Desktop devices, with and without touchscreen, and **Touch events are "Always disabled" even on Edge 16/Fall Creators Update 16299.15.**

The status page should **change the state from Supported to Preview**, right now it's misleading web developers, and ideally Touch events should be enabled in all Edge browsers by default.

Related issue: https://git

[2017-10-13 20:13] toddreifsteck commented on #551
Edge was actually first to ship this flag in the Creator's Update ~6 months ago. :-) It is unclear how we should track individual flags on existing APIs. Let me talk to site owners then I'll submit a PR to clean this up.

[2017-10-13 20:14] toddreifsteck commented on #183
2 years later.. and I'll submit a PR later today.

[2017-10-13 21:35] igrigorik commented on #183
![yay](https://media.tenor.com/images/5c90bc443c6af11e5d9c57244fa661be/tenor.gif)

[2017-10-17 10:10] alrra commented on #336
Cc: @kypflug

[2017-10-27 18:42] digitarald opened #553 "requestIdleCallback is supported since Firefox 55"
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/requestidlecallback/

Chrome got the right status: https://www.chromestatus.com/features/5572795866021888 , just like Firefox's status board: https://platform-status.mozilla.org/#request-idle-callback

[2017-10-27 19:58] molant commented on #553
@digitarald chromestatus shows public support for Firefox, same as Edge:
![image](https://user-images.githubusercontent.com/606594/32122683-119cff88-bb16-11e7-9433-ac5439b91b25.png).

Can you please open an issue in [their repo](https://github.com/GoogleChrome/chromium-dashboard/issues). [Our entry](https://github.com/MicrosoftEdge/Status/blob/bd1aea4ea09d576fe174e6b54d2d078f3aae20b7/status.json#L

[2017-10-27 19:58] #553 closed, assigned to nobody

[2017-11-12 14:05] am11 commented on #519
Fixed by 4188796.
Related ticket: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8993198/.

[2017-11-12 14:05] #519 closed, assigned to nobody

[2017-11-21 18:59] gsnedders opened #557 "Server Workers supported behind flag in RS3"
Per https://github.com/w3c/web-platform-tests/pull/8394#issuecomment-346121804, which I think means its status should be "Preview"?

[2017-11-21 19:05] alrra commented on #557
Cc: @kypflug can we get the exact version number? Thanks

[2017-11-21 20:22] kypflug commented on #557
I didn't realize this was not marked as flagged - that's unfortunate. It should be in preview behind a flag starting in 16299, though not fully functional.

We'll be flipping this to on by default very soon in preview builds - to avoid randomization it may be best to change the status to preview alongside that change for clarity.

[2017-11-21 22:09] alrra commented on #557
👍

[2017-12-03 13:08] marco-c opened #560 "status.json file is not valid JSON"
This caused a regression on Mozilla's platform-status website: https://github.com/mozilla/platform-status/issues/501.

The commit which made the JSON invalid is 638efa21e852b6ce95e1b604247c319e958fccdc. There's a trailing comma after "In Development".

[2017-12-03 13:55] #560 closed, assigned to nobody

[2017-12-03 13:57] #467 closed, assigned to nobody

[2017-12-03 13:58] FremyCompany commented on #467
It is tracked by now (and in case you missed this, it is in the very latest preview build, or will be in the next one)

[2017-12-03 14:00] FremyCompany commented on #416
This was a long time ago; closing

[2017-12-03 14:00] #416 closed, assigned to nobody

[2017-12-04 02:12] cvrebert commented on #467
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/domparentnodemethodsprependappendandchildnodemethodsbeforeafterandreplacewith/

[2018-01-04 19:05] molant commented on #119
This applies to the (very) old website. Closing

[2018-01-04 19:05] #119 closed, assigned to nobody

[2018-01-04 19:06] molant commented on #93
Tracked in https://developer.microsoft.com/en-us/microsoft-edge/platform/status/cssfontloadingapi/ (under consideration)

[2018-01-04 19:06] #93 closed, assigned to nobody

[2018-01-04 19:12] molant commented on #312
Feature requests are handled in https://uservoice.microsoftedge.com

[2018-01-04 19:12] #312 closed, assigned to nobody

[2018-01-04 19:14] molant commented on #247
We are pulling the data from chromestatus.
If the data for Safari is incorrect please open an issue in the [Chromium dashboard](https://github.com/GoogleChrome/chromium-dashboard/issues)

[2018-01-04 19:14] #247 closed, assigned to nobody

[2018-01-04 19:17] molant commented on #449
There is no entry to track support for HPKP in Chrome status. We should remove the id and put the data manually.

[2018-01-09 02:41] ghost opened #568 "Numeric keypad 0 doesn't zoom to normal"
Hey guys, this is just a question / conversation. Feel free to close it as it's unrelated to Status. I just wanted to let you to know if you ever feel like WTH when trying to zoom to normal using numeric keypad, you are not alone..

Consider this jargon:

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Qwerty.svg/799px-Qwerty.svg.png" />

<small>from: https://en.wikipedia.org/w

[2018-01-09 06:32] NoNameProvided commented on #568
This repo is for tracking the roadmap for EdgeHTML.

You should close this and report it at the [EdgeHTML issue tracker](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/)

[2018-01-09 14:46] molant commented on #568
Thanks @kasper3

As @NoNamedProvided says, please open an issue in the tracker.

[2018-01-09 14:46] #568 closed, assigned to nobody

[2018-01-14 03:46] tomByrer opened #569 "update Preload"
changed to `Working On It` right before Christmas, so likely to be missed here :)

https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/7666725-preload

[2018-01-14 04:13] #569 closed, assigned to nobody

[2018-01-22 10:34] mkurz commented on #480
@FremyCompany Any updates on the ` <details>/<summary>` support? Will it ship with the March update?

https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/13120279/ was marked as fixed - however if you don't ship it that bug report should probably be re-opened...

[2018-01-22 14:16] molant commented on #480
@mkurz we are working on improving the code that indicates if a bug has been flighted or not in the issue tracker.

[2018-01-22 14:19] mkurz commented on #480
@molant So that bug is **not** fixed in the upcoming March release?

[2018-01-22 14:24] molant commented on #480
If the big is marked as fixed the is a high chance it will be. What I don't know is if its already fixed in the latest insider flight.

[2018-01-22 18:10] FremyCompany commented on #480
This bug had been resolved when the first implementation of DETAILS landed, it is somewhat incorrectly resolved as fixed now since that implementation was pulled off. We don't use bugs to track new features though, so I'll probably just change the resolution status of this bug and post a comment to check the Status page.

I will also update the status page to remove In development for the feature,

[2018-01-22 18:18] alrra commented on #480
Done in #573.

Thanks, @FremyCompany!

[2018-01-22 18:22] mkurz commented on #480
Thank you for the clarification! :+1:

[2018-01-24 16:56] denisenkom commented on #358
I am using U2F to login to GitHub, please add support.

[2018-01-24 17:00] molant commented on #358
The right place to request features is [Microsoft's Edge uservoice](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer)

[2018-01-24 17:02] alrra commented on #358
@denisenkom See: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6830216-u2f-support-2-factor.

[2018-01-26 23:57] ghost opened #574 "Few questions about the website"
## Versioning

In Edge -> Settings and more -> Settings, there is a section called `About this app` at the bottom, which looks like:

In Status page, the versions are listed as:

etc.

Are these build numbers corresponding to second part of `41.16299.15.0` (version string)? If so, then it's extremely confusing as it's not the semantic versioning (https://semver.org).

## Preview

Looking at: https

[2018-01-27 00:09] molant commented on #574
Yes

The technology is in preview starting for the given version. Once the engineering team considers it `done`, the status will switch to shipped. The build number there indicates the first version where it was introduced.

Can you give a more concrete example of where the information is outdated?

[2018-01-30 12:21] wanecek opened #575 "RTC Data Channel - Status may be out of date"
It is my understanding that WebRTC DataChannels are implemented in Safari and Opera, making MS Edge the last browser to add support.

If my understanding of the situation is correct, the feature ["RTC Data Channels"](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/rtcdatachannels/) (under category "Multimedia") is currently showing outdated browser support information on statu

[2018-01-30 14:55] alrra commented on #575
Maybe I'm missing something, but that example doesn't seem to work in [Safari](https://user-images.githubusercontent.com/1223565/35572592-cd1bd690-0589-11e8-9c1f-e816372da474.png).

[2018-01-31 07:30] wanecek commented on #575
Welp, this is certainly embarrassing. Sorry about that, I really shouldn't have blindly relied on 2nd hand information.

I'm currently a bit confounded when it comes to the support of datachannels in Safari, and will have to get back to you on this. I can't find any official documents, posts or demos supporting that it actually is supported, but I at the same time, I'm more than able to use it mys

[2018-01-31 08:20] molant commented on #575
We've talked internally and @angelokai has pointed us to https://webrtchacks.com/safari-webrtc/

It looks like data channels are supported but only in video chat scenarios. It's that aligned with your project @wanecek?

[2018-01-31 08:44] wanecek opened #577 "RTCDataChannels implemented in Opera"
It seems as if WebRTC DataChannels have been implemented in Opera, which would implicate that the feature ["RTC Data Channels"](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/rtcdatachannels/) (under category "Multimedia") is currently showing outdated browser support information on status.microsoftedge.com.

**References**
- [iswebrtcreadyyet.com](http://iswebrtcreadyyet.com

[2018-01-31 09:24] wanecek commented on #575
Thank you! Unfortunately, our situation is quite the opposite :) We're not using `getUserMedia` or other means to obtain video/audio input from the user's device. Instead we're using dataChannels, one to send binary data (arraybuffers of images, videos, and other uploaded files) and one to send bulk data (mostly json messages).

I found that ["A Close Look Into WebRTC"](https://webkit.org/blog/776

[2018-01-31 09:49] #577 closed, assigned to nobody

[2018-01-31 09:50] alrra commented on #577
@wanecek I've [updated the information for Opera](https://github.com/MicrosoftEdge/Status/commit/15bef2fc1ef0108f54c13907b39accf088e0c9fe). Thank you!

[2018-02-01 21:30] wanecek commented on #575
Hi again! I got in touch with one of the WebKit developers, who confirmed that WebRTC DataChannels are implemented in Safari 11. They wrote the following.

[code]

[code]

[2018-02-02 10:05] keithclark opened #579 "Browser support of `conic-gradient` is out of date"
CSS `conic-gradient()` is currently "in development" in Chrome (supported in stable behind a feature flag) and Safari. However, Platform Status is showing "Not supported".

[2018-02-02 17:11] alrra commented on #575
Cc: @AngeloKai

[2018-02-02 17:26] alrra commented on #579
@keithclark Thanks for opening this issue!

---

I will add the missing [Chrome Status ID](https://www.chromestatus.com/features/5706155347148800) so that we automatically get the data from them.

[2018-02-02 17:26] #579 closed, assigned to nobody

[2018-02-02 18:13] #575 closed, assigned to nobody

[2018-02-02 18:14] alrra commented on #575
Thanks, @wanecek!

[2018-02-08 10:11] bitbruder commented on #472
Hey @molant,
Chrome seems to be tracking the CSS Fragmentation Module in this Feature (https://www.chromestatus.com/feature/5630943616303104)

But I think that no one is properly tracking the Status of **§ 5.4. Fragmented Borders and Backgrounds: the box-decoration-break property** - Its part of the whole CSS Fragmentation Module Specification, but Chrome is only referring to the Breaks Between Bo

[2018-02-09 16:46] marijnh opened #580 "Should there be an entry for each ECMAScript stage 4 feature?"
This seems like the right place to track support for ECMAScript features, and since those are tracked in a structured way, it might be a good idea to set up some semi-automated process to make sure entries are created as soon as a feature reaches stage 4.

(Specifically, I was/am searching for information on the roadmap for adding support for object spread in Edge, and couldn't think of a better p

[2018-02-09 17:06] molant commented on #580
This should be the place to have the info 😊

There's an item in chrome status [object rest/spread properties](https://www.chromestatus.com/feature/5657004848709632) that we should use for the tracking of other browsers.

@bterlson do you know the status/priority for Chakra (or who can know it)?

Also linking to https://github.com/Microsoft/ChakraCore/issues/3406 for reference

[2018-02-09 17:06] molant commented on #580
Also linking to https://github.com/Microsoft/ChakraCore/issues/3406 for reference

[2018-02-12 17:37] molant commented on #199
@jukbot we've been refactoring our DOM implementation among other things. We update the status of the features in here as soon as there's any change.

Also closing this because it's solved and forgot to do it back in the day.

[2018-02-12 17:37] #199 closed, assigned to nobody

[2018-02-12 17:40] molant commented on #472
Adding @FremyCompany to see how he wants to handle this.

Thanks!

[2018-03-03 22:58] sleevi opened #584 "<keygen> status out of date for Chrome"
Chrome Status entry is https://www.chromestatus.com/feature/5716060992962560

Although the way it's worded, it may be pulling in differently from upstream.

In any event, full support for <keygen> was removed in Chrome 57, as per https://bugs.chromium.org/p/chromium/issues/detail?id=568184

<keygen> the tag is still parsed, as per the HTML Standard, but as a neutered element with no key generation

[2018-03-04 16:13] #584 closed, assigned to nobody

[2018-03-17 09:19] nshopik opened #586 "Wrong status on U2F supported browsers"
- Chrome is supported and enabled by default
- Firefox support and NOT enabled by default

[2018-03-17 23:44] alrra commented on #586
@nshopik Thanks for opening this issues!

[2018-03-17 23:46] #586 closed, assigned to nobody

[2018-04-10 16:16] styfle commented on #574
@kasper3 I agree that the build number is confusing and it's hard to know which EdgeHTML major version it corresponds to.

@molant I would prefer the Microsoft EdgeHTML version listed on the Status page.

For example, compare `URLSearchParams` listed on [Can I Use](https://caniuse.com/#feat=urlsearchparams) vs [MS Status](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/urlsear

[2018-04-10 16:39] molant commented on #574
I agree that version numbers are not very intuitive but unfortunately there's nothing we can do at this time to change them.

Taking the previous example: 41.16299.15.0
The important part is 16299. From there, you can get the version getting the first 2 digits. In this case it will be Edge 16.

With your example of `URLSearchParam`, that feature is currently in an insider build and not in the stab

[2018-04-10 16:41] ghost commented on #574
@molant, what does `41` indicate?

[2018-04-11 11:51] shhnjk opened #589 "Encode special characters in RSS"
Please encode special characters (at least `<` and `>`) of test in the link.
There's a entry `<a href="https://developer.microsoft.com/en-us/microsoft-edge/platform/status/detailssummary">The status of <details>/<summary> was changed from "In Development" to "Under Consideration"</a>` in the [rss](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/rss/) which if you render as an

[2018-04-17 09:29] kumarharsh opened #592 "canvas' `toBlob` implementation is not tracked by Edge"
The Edge platform status website is not even tracking the `toBlob` method on canvas objects. Here is the relevant W3C Spec: https://www.w3.org/TR/html50/scripting-1.html#dom-canvas-toblob and the MDN documentation: https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toBlob

Surprisingly, it was there in IE10 from what I see in MDN, but then removed from Edge/IE11. All other browsers

[2018-04-17 09:49] alrra commented on #592
@kumarharsh Care to open a pull request? Thanks!

[2018-04-17 11:32] kumarharsh commented on #592
Sure. I was confused because there had been no discussion regarding this property earlier, so wanted a confirmation if this was an oversight or intentional.

[2018-04-17 12:06] kumarharsh commented on #592
More relevant sources (for documentation):

* https://www.chromestatus.com/feature/4562033294966784
* https://bugs.chromium.org/p/chromium/issues/detail?id=67587
* https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/15107964-support-toblob-on-canvas

It's unclear if this property is there on safari, and on which version. Some of the code has landed in changesets atleast

[2018-04-17 14:48] dstorey commented on #592
Edge has this prefixed, which AFAICT is the same as IE10:

[code]

[2018-04-18 08:15] kumarharsh commented on #592
@dstorey thanks. I saw that in MDN, but forgot to check it in Edge and thus missed it in the PR. Updated now.

[2018-04-18 10:24] #592 closed, assigned to nobody

[2018-04-21 18:39] Studio384 opened #595 "backdrop-filter listed as no prefix while it is"
The status website shows ```backdrop-filter``` as supported without prefix in 17063 but this isn't true.

In the screenshot below you can see that Edge 17.17134 doesn't even recognize ```backdrop-filter``` as a valid property and instead does recognize ```-webkit-backdrop-filter```.

<img width="248" alt="capture" src="https://user-images.githubusercontent.com/1693592/39087600-9c92e752-45a3-11e8-9

[2018-04-21 18:42] alrra commented on #595
Cc @kypflug

[2018-04-21 20:25] molant commented on #595
And @gregwhitworth and @FremyCompany

[2018-04-22 09:35] Studio384 commented on #595
Ref: Fyrd/Caniuse#4212

[2018-04-25 21:52] HM100 commented on #595
Does it work on a parent with negative z-index on Edge?

[2018-04-26 16:31] #595 closed, assigned to nobody

[2018-04-26 16:35] molant commented on #595
@Studio384 thanks for reporting this and you are right. The reason why it's behind a flag is because we are waiting to make sure there aren't any more changes in the API. Right now no browser ship it on-by-default without prefixes.

[2018-04-27 16:00] molant commented on #574
@kasper3 `41` is the version number of the Edge app. It doesn't show up in the user agent so it shouldn't matter for developers.

[2018-04-30 09:27] #589 closed, assigned to nobody

[2018-04-30 12:44] molant commented on #589
Any reason why you closed this?

[2018-04-30 14:43] shhnjk commented on #589
I figured out that this depends on RSS client. If RSS client is HTML-based, it would help if we change the existing model, but if RSS client is a text-based client (e.g. Twitter bot, Email), then it would be unreadable if we changed it. So I thought maybe it should be filtered by HTML client side.

[2018-05-03 13:19] mkurz opened #598 "Update "Dock tools vertically" and "console.table" in UserVoice"
Hi,

following UserVoice tickets can be marked as "completed":
* https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6225572-dock-tools-vertically
(See https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide/whats-new#docking-to-the-right-in-microsoft-edge)
* https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6796750-console-table
(See

[2018-05-03 21:49] molant commented on #598
Done, thanks!

[2018-05-03 21:49] #598 closed, assigned to nobody

[2018-05-06 21:25] ghost commented on #574
Thanks @molant! I have all the information I need.

Btw, congrats on new release. New Edge (v42.17134.1.0) looks nice! I know this is not the right place to report the bug, but I have found a really annoying bug in new version using GitHub.com!

Input:

[code]

in this github's comment box and hit preview, it shows:

[code]

expected behavior is same as input (without eating line breaks).

I am gu

[2018-05-06 21:25] #574 closed, assigned to nobody

[2018-05-08 13:11] jbmoelker commented on #496
The API is [enabled by default since Chrome 61 for Android](https://developers.google.com/web/updates/2016/09/navigator-share). It's being promoted on popular blogs (like in [Designing for a browserless web on Smashing Magazine](https://www.smashingmagazine.com/2017/11/designing-for-a-browserless-web/#sharing-action)). It's [under consideration in Webkit](https://webkit.org/status/#feature-web-sha

[2018-05-09 07:06] #496 closed, assigned to nobody

[2018-05-28 21:33] alrra opened #605 "Use `ajv` instead of `is-my-json-valid`"
Beyond the speed, and other things, the output produced by `ajv` is way more useful and user friendly than the one produced by `is-my-json-valid`.

---

Ref: https://github.com/epoberezkin/ajv

[2018-05-28 21:34] #605 closed, assigned to nobody

[2018-05-31 08:32] Schepp opened #607 "Track support for HEIF image format"
As HEIF support has been announced for the Windows 10 Fall 2018 update it would be helpful to know if that extends to Edge, too.

[2018-05-31 18:04] aldendaniels opened #608 "Add display:contents"
Chrome and Firefox both now support CSS `display: content` - a feature that is becoming important in frameworks like React where wrapper components may want to listen to browser events without affecting DOM layout.  https://caniuse.com/#feat=css-display-contents It would be great to track progress towards this on the edge status dashboard.

[2018-06-04 22:30] FremyCompany commented on #608
The feature was implemented poorly in the other browsers and has <a href="http://adrianroselli.com/2018/05/display-contents-is-not-a-css-reset.html#A11y">accessibility issues</a>, so it is unlikely we would want to add support in Edge right now.

If we were to add the feature on the status, it would be as "Not currently planned".

To prioritize this, I would urge Chrome to fix its accessibility is

[2018-06-05 03:54] molant commented on #608
@aldendaniels there's a PR for this right now: https://github.com/MicrosoftEdge/Status/pull/609

[2018-06-05 13:12] #608 closed, assigned to nobody

[2018-06-05 18:15] aldendaniels commented on #608
Thanks! I appreciate the quick follow up. FWIW, I think there are high-value use-cases for this feature that don't break accessibility - I'd be happy to elaborate if that would be useful and you can point me to an appropriate forum.

[2018-06-06 18:02] shhnjk opened #610 "User Voice ID of display: contents is wrong"
User Voice ID of following commit should points to [Implement the display: contents](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/10938981-implement-the-box-generation-keywords-from-css-dis) instead of [Implement Web Share API](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/31563175-implement-web-share-api)

[https://github.com/Micr

[2018-06-06 18:12] alrra commented on #610
@shhnjk Good catch!

[2018-06-06 18:13] #610 closed, assigned to nobody

[2018-06-06 18:14] shhnjk commented on #610
Credit goes to [SelenIT](https://twitter.com/SelenIT2/status/1004383202973306881) :)

[2018-06-06 22:04] AdamTReineke opened #611 "Image-set link is out of date"
The link for `image-set` spec is out of date. I have a PR ready.

[2018-06-06 22:06] #611 closed, assigned to nobody

[2018-06-10 10:10] adrianhelvik opened #615 "Remove Object.observe()"
This is a non-standard feature and Proxy solved all its use cases. There is no need for it in the status list.

[2018-06-14 22:09] bvibber commented on #396
Note that this has changed in recent months with the addition of the Web Media Extensions pack; things seem to work in `<video>` and `<audio>` as directly-loaded files now. But I'm not 100% sure whether Web Media Extensions can be relied on as always-installed as of 1803 (it is also possible to manually uninstall it).

[2018-06-15 10:55] shhnjk opened #616 "Change status of SameSite cookie"
Edge shipped SameSite cookie with 6B update. Let's change the status to shipped!

[2018-06-18 20:35] alrra commented on #616
@shhnjk Care to open a PR? Thanks!

Cc @kypflug

[2018-06-19 00:38] shhnjk commented on #616
Added PR. But I'm not sure about the structure much so please review nicely :)

[2018-06-19 00:51] alrra commented on #616
Sure, no problem. Thanks!

[2018-06-19 02:26] #616 closed, assigned to nobody

[2018-06-19 08:51] shhnjk commented on #616
@alrra How can we change Edge supported build to 16299+? We only backported till RS3...

[2018-06-19 09:51] mkurz commented on #616
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/17140412-support-samesite-cookie-option needs update

[2018-06-19 15:42] molant commented on #616
@shhnjk has it been backported to IE11 or just 16299? If it is IE11 and then 16299+ (but no prior versions of Edge) then we have a limitation in our system to show that. We can probably make a note if that's the case.

[2018-06-19 15:44] molant commented on #616
@mkurz thanks! I've updated it.

[2018-06-19 15:47] mkurz commented on #616
@molant Thanks! So this is backported to Edge 16 (16299)? Was the update actually released already?

[2018-06-19 15:47] mkurz commented on #616
I am asking because I want to update the data on http://caniuse.com

[2018-06-19 15:51] mkurz commented on #616
@shhnjk If IE11 - back until which Windows 10 release? https://blogs.windows.com/msedgedev/2018/05/17/samesite-cookies-microsoft-edge-internet-explorer/#TRZ8Gket00OyVm4H.97 says "...we plan to service Microsoft Edge and Internet Explorer 11 on the Windows 10 Fall Creators Update and newer to support same-site cookies as well..."

[2018-06-19 15:53] molant commented on #616
@mkurz Fall Creators Update is 16299 or Edge 16.

[2018-06-19 16:03] shhnjk commented on #616
Hi, SameSite cookie is available in both Edge and IE 11 in RS3+ builds (16299+). So it is supported in Windows 10 Fall Creators Update and newer.

[2018-06-19 16:08] mkurz commented on #616
But it did roll out just now? Not with the RS3+ builds (16299+) itself last autumn?

[2018-06-19 16:15] molant commented on #616
It rolled with an update, thus the backporting part that @shhnjk mentions [here](https://github.com/shhnjk)

I've updated the description of the item to clarify the Edge support: https://github.com/MicrosoftEdge/Status/commit/8e6f63ca4155a2dfce3fbc9d2e8030f715c801f5

[2018-06-19 16:27] shhnjk commented on #616
We shipped SameSite cookie with June's security update (i.e. Patch Tuesday). Thus all users who installed June's security update received a SameSite cookie support in both Edge and IE 11 (assuming that the user is using RS3+).

[2018-06-19 19:16] mkurz commented on #616
Sorry for being annoying... But:

@shhnjk says

and

@molant based on these two statements, why not just change the build number to `16299` in
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/samesitecookies/ and remove the extra note ("_On Edge this feature..._")? These two statements say that also for IE11 16299 is the "first" Windows 10 RS update that has support for same si

[2018-06-19 19:25] mkurz commented on #616
What I want to say is you have to use at least RS3+ (which is Windows 10 build 16299) to use it with IE11 (or Edge). Any IE11 and Edge installed on a Windows build lower than 16299 will never ever receive that feature.
Since 16299 is the **Windows** build version (and not Edge specific) I do not understand why the Status page shows 10240+ when for both IE and Edge the Windows build version 16299+

[2018-06-19 20:12] molant commented on #616
Because I thought we backported it to IE11 in all Windows versions so I set the supported version to IE11 and the way the system assumes that if a feature is in IE11 it is automatically in Edge.

I'll update the version status.

[2018-07-06 17:21] antross opened #621 "Documentation link for "JavaScript module import()" is incorrect"
This is also referred to as "dynamic imports". It differs from ES6 modules in that it allows importing code at runtime (whereas ES6 modules only enable static linking).

The current link to MDN only discusses static imports. This link should probably be removed in favor of the existing link to the feature proposal on GitHub.

[2018-07-06 17:22] patrickkettner commented on #621
@antross wanna pr?

[2018-07-06 17:22] antross opened #622 "Documentation link for "Modules (ES6)" is incorrect"
This is pointing to an unrelated "JavaScript code modules" documentation page on MDN which has nothing to do with this standard. It should be updated to point to the [MDN documentation for import](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import) instead.

[2018-07-06 17:23] antross commented on #621
@patrickkettner already working on it. ;)

[2018-07-06 17:24] alrra commented on #622
@antross Feel free to just open a PR directly.

[2018-07-06 17:29] #621 closed, assigned to nobody

[2018-07-06 17:30] #622 closed, assigned to nobody

[2018-07-31 00:14] connorshea opened #625 "Use MDN's browser-compat-data for browser status info"
[browser-compat-data](https://github.com/mdn/browser-compat-data) is a project by the team at MDN to track browser support for pretty much every web feature. It's used to build the [browser compatibility tables on MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flatMap#Browser_compatibility).

Using the BCD package would do a few things:

- The Edge Stat

[2018-07-31 13:57] alex opened #626 "Webauthn status is out of date for Chrome, Firefox"
<img width="1457" alt="screen shot 2018-07-31 at 9 50 01 am" src="https://user-images.githubusercontent.com/772/43464068-1a08d63a-94a8-11e8-94b1-428905252375.png">

Both Firefox and Chrome have been shipping webauthn for several releases.

[2018-07-31 17:13] alrra commented on #626
Thanks, @alex!

[2018-07-31 17:13] #626 closed, assigned to nobody

[2018-07-31 17:18] alex commented on #626
Nice! Thanks for the quick turnaround.

[2018-07-31 18:00] patrickkettner commented on #625
hi! Im patrick, and im on both the Edge team and the MDN PAB. This is actually something we have been discussing. Both of my teams are working towards making this happen, and hopefully the change will be made soon. There is some infrastructure changes that are needed in order to satisfy some usage guidelines in this case

[2018-07-31 19:50] alrra commented on #625
@patrickkettner Thanks for the extra information!

---

Closing this until we have something more tangible to address.

[2018-07-31 19:50] #625 closed, assigned to nobody

[2018-08-13 12:55] stof opened #628 "AbortSignal/AbortController is not tracked"
According to caniuse, this feature has been shipped in Edge 16. But it is missing from this platform, causing https://platform-status.mozilla.org/#abort-api to mark it as "no signals", as it cannot have the data for Edge (see https://github.com/mozilla/platform-status/issues/535)

[2018-08-13 16:54] alrra commented on #628
Cc @kypflug

[2018-08-22 08:34] wojstu commented on #450
Anyone has any idea if this will be considered? It would be so great if you could implement it.

Maybe @xiaoyinl @alrra, you guys could answer or ask somebody else in the team?

[2018-08-22 14:20] alrra commented on #450
@martinsuchan, @wojstu Wanna open a PR? Thanks!

[2018-08-27 13:54] anssiko opened #629 "Add Generic Sensor-based motions sensors"
The Generic Sensor-based motions sensors define a modern low-level API that is expected to supersede [Device Orientation](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/deviceorientation/) and [Device Motion](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/devicemotion/) (both supported in Edge):
- Accelerometer / [Established standard (CR)](https://www.w

[2018-08-27 13:59] alrra commented on #629
@anssiko Want to open a PR? Thanks!

[2018-08-28 15:27] anssiko commented on #629
@alrra, sure!

Should I omit the `ieStatus` field in the PR to be filled in by you folks? Or is there a default state for new features?

(I'll link to the chromestatus.com `id` that I assume allows me to omit `impl_status_chrome`.)

[2018-08-28 15:36] molant commented on #629
@anssiko IIRC the default we use is:

[code]

[2018-08-28 15:36] alrra commented on #629
Include it, and we will figure out the correct one before merging.

@kypflug What is the current status for this?

If we have not said anything publicly: `"Under Consideration"`.

Yes, if you provide the chrome status ID, we get the data for all other browsers from there.

[2018-08-28 15:52] anssiko commented on #629
@alrra, submitted a PR #630. Feel free to adjust the `ieStatus` as needed, now defaulted to "Under Consideration".

[2018-08-28 16:03] alrra commented on #629
@anssiko Thanks!

[2018-08-29 10:34] ghost opened #631 "Need to confirm a place!"
Hi,
About Edge for android

Inside the ABP module, do you have these two functions?

"ABP Anti-Circumvention Filter List"

"Adblock Warning Removal List"

I need to confirm, thank you!
Thank you!

[2018-08-29 13:49] alrra commented on #631
@edentw This repository is for issues or improvements related to the status information. It's not for feature requests, nor is it a support forum.

[2018-08-29 13:49] #631 closed, assigned to nobody

[2018-08-31 13:03] #629 closed, assigned to nobody

[2018-08-31 14:23] HM100 commented on #608
Firefox has fixed this in M62

[2018-09-11 01:23] coreyward commented on #450
Edge doesn't support `window.opener` on links targeting `_blank`, so there's not as much need for `rel="noopener"` support as with other browsers where the opener can be leaked to an external source.

[2018-09-11 03:59] saschanaz commented on #557
Looks like this can be closed now, as the page now marks it as `supported`.

[2018-09-11 07:05] martinsuchan commented on #450
@coreyward Yes, Edge does not support `rel=noopener` on links, yet. Goal of this ticket is to track it and eventually implement support for this attribute in Edge.
Example how links targeting `_blank` without `rel=noopener` can be dangerous is available below.
Basically the target site can modify the origin site through the `window.opener` object, this could lead to all kinds of problems.
https://

[2018-09-11 13:49] #557 closed, assigned to nobody

[2018-09-11 15:14] coreyward commented on #450
@martinsuchan I just realized I had a typo. I've edited my comment. For clarity: Edge doesn't support `window.opener`, so the behavior is already the same as Chrome/Safari/Firefox when you use `noopener`. In other words, the security implications are already addressed and additional changes are not necessary.

[2018-09-11 17:04] martinsuchan commented on #450
@coreyward Edge doesn't support `window.opener` - yes, it does:
![image](https://user-images.githubusercontent.com/3041397/45375507-7509ed80-b5f5-11e8-88ce-7715d28575cc.png)

[2018-09-11 18:04] kypflug commented on #201
SameSite cookies shipped in EdgeHTML 17 and serviced downlevel in 1806 - this should be fixed with #616.  @alrra can you confirm and close?

[2018-09-11 18:13] coreyward commented on #450
Perhaps you should add a test case to [this issue](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8710056/) demonstrating `window.opener` being available to an external webpage (different host, or in IE parlance, a different [security zone](https://blogs.msdn.microsoft.com/ie/2005/01/26/ie-security-zones/)) when using `target="_blank"`.

[2018-09-11 19:17] ericlaw1979 commented on #201
Yes, `SameSite` cookies shipped, but this particular issue was about Cookie Prefixes, a feature which shipped (thanks @mikewest) and [remains in Chrome](https://cs.chromium.org/chromium/src/net/cookies/canonical_cookie.cc?type=cs&q=__SECURE&sq=package:chromium&g=0&l=492). Edge does not map cookie prefixes to SameSite cookies: [Test Page](http://webdbg.com/test/cookie/magicnames.aspx)

[2018-09-16 07:28] am11 commented on #453
From https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/5998615/

This seems to be fixed in Microsoft Edge GA release, however, the error messages seems to need some improvement for invalid case (`querySelector` vs. `querySelectorAll`).

with `[...document.querySelector('body')]`, Firefox:

![image](https://user-images.githubusercontent.com/3840695/45593967-f0272700-b99a-11e8-85d

[2018-09-17 13:31] earbullet commented on #450
I used this page to test and it appears to work in both IE 11 and Edge.
https://davidebove.com/blog/2016/05/05/target_blank-the-vulnerability-in-your-browser/

According to can I use it says not supported, but they do appear to be supported.
https://caniuse.com/#feat=rel-noopener

So I'm not sure what is acceptable.

[2018-09-21 10:35] wanecek opened #632 "Screen Capture API status misleading"
The status page shows that Screen Capture is supported from 17134+. While this is partly true, it only works on Windows Pro/Enterprise, i.e. not Windows Home (finally confirmed in https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17357055/).

To clarify this, I suggest the status page is either updated with a note explicitly stating the partial support, or changed to "In Develop

[2018-09-25 17:22] mystiquewolf opened #634 "Update MS Edge Clipboard API status"
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6515107-clipboard-api

https://developer.microsoft.com/en-us/microsoft-edge/platform/status/clipboardapi/

[2018-09-25 17:37] alrra commented on #634
@liubomirwm Wanna open a PR? Thanks!

[2018-09-25 21:27] #632 closed, assigned to nobody

[2018-09-25 21:29] molant commented on #632
For those following this issue, it has been closed in https://github.com/MicrosoftEdge/Status/commit/0139774069f4ca98085c480a49f90f9d4d043152

with the following changes:

* Note that it only works on Win 10 Pro and Enterprise
* Update the platforms to be only desktop

[2018-09-26 14:28] wanecek commented on #632
Great, thank you :) I'd still argue that it's too easy to miss. I would prefer to have it inverted, i.e. to say that it's supported in 1803+ with the caveat that it works for some users (Windows Pro/Enterprise) in 17134+. But it's still an improvement, thanks :+1:

[2018-09-27 19:46] #634 closed, assigned to nobody

[2018-10-03 09:06] vradhika17 opened #637 "Progress element's value attribute(with 0) is removed when assigned through innerHTML"
Issue with progress element  rendering when copied through innerHTML.
When progress value is 0 and copied the innerHTML and assign to another DOM element removing the value attribute which is causing fluctuating progress element.  For test code, refer https://plnkr.co/edit/571GILcvmS0JKDmwkPqJ?p=preview .

[2018-10-03 09:33] alrra commented on #637
@vradhika17 This project is *not* for reporting bugs in Microsoft Edge and/or Internet Explorer. Browser feedback can be provided through the [issue tracker](https://developer.microsoft.com/microsoft-edge/platform/issues/).

[2018-10-03 09:33] #637 closed, assigned to nobody

[2018-10-12 13:38] Pedrofff commented on #450
The reason the link works in IE11 and Edge is because it contains both noopener and noreferrer. Only noopener doesent work in IE and Edge. A great way to test both links is to go to https://mathiasbynens.github.io/rel-noopener/.

[2018-10-13 21:09] jimmont opened #642 "update MDN docs for remaining missing Web Components features which are in development"
Please update the MDN docs for CustomElements and ShadowRoot/ShadowDOM.

https://developer.mozilla.org/en-US/docs/Web/API/ShadowRoot
https://developer.mozilla.org/en-US/docs/Web/API/CustomElementRegistry
if the PR is merged this resolves the issue.
https://github.com/mdn/browser-compat-data/pull/2982
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/?q=web%20components
https://g

[2018-11-27 15:15] JamesCatt opened #647 "Update Firefox status for prefers-reduced-motion media query"
This feature doesn't seem to be listed in Chromium Status (although it's being "[actively worked on](https://bugs.chromium.org/p/chromium/issues/detail?id=722548#c27)"), which may be why the Edge status is out of date.

Also [not listed in FF status](https://github.com/mozilla/platform-status/issues/563), even though it shipped in v63 ([Windows](https://bugzilla.mozilla.org/show_bug.cgi?id=1365045

[2018-11-27 15:40] molant commented on #647
A PR will be great. Thank you!

________________________________
From: JamesCatt <notifications@github.com>
Sent: Tuesday, November 27, 2018 07:15
To: MicrosoftEdge/Status
Cc: Subscribed
Subject: [MicrosoftEdge/Status] Update Firefox status for prefers-reduced-motion media query (#647)

This feature doesn't seem to be listed in Chromium Status (although it's being "actively worked on<https://bugs.

[2018-11-27 18:36] #647 closed, assigned to nobody

[2018-12-14 18:26] stof opened #649 "Separate tracking of the clipboard event and the clipboard asynchrnous API"
The current data about `Clipboard API` (https://developer.microsoft.com/en-us/microsoft-edge/platform/status/clipboardapi/?q=clip) seems to cover both the clipboard event and the asynchronous clipboard API according to the detailed browser support (https://developer.microsoft.com/en-us/microsoft-edge/platform/catalog/?q=specName%3Aclipboard-apis). But this makes the `Shipped` status confusing, as

[2019-01-15 00:21] jyasskin opened #651 "Feature in Chrome Origin Trial shown as Shipped in Opera"
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/originsignedhttpexchanges/ shows

* Not Supported in Chrome
* Shipped in Opera

In #650, I used the id for https://www.chromestatus.com/feature/5745285984681984, which shows "Origin trial (tracking bug) in: Chrome for desktop release 71" and nothing for Opera. Where's that "shipped" claim coming from?

[2019-04-25 07:21] ststeiger opened #654 "Add Linux support"
I can haz Microsoft Edge 4 Linux pls ? ;)

[![InterTroll](https://memegenerator.net/img/images/10421315.jpg)](https://memegenerator.net/Internet-Explorer-Trollface)

[2019-04-25 15:43] molant commented on #654
Hi @ststeiger
From the main readme.md

Best way to provide this feedback if you don't have a Windows machine is to tweet at [@MSEdgeDev](https://twitter.com/MSEdgeDev).

Thanks for your interest in having Edge in more platforms!

[2019-04-25 15:43] #654 closed, assigned to nobody

[2019-05-16 08:54] jianboy opened #655 "Translate with Google by right menu of Microsoft Edge ."
I am a Chinese. I want Microsoft can develop a function :

Translate with Google by right menu of Microsoft Edge . Not google translate plugin !

![2019-05-16_165313](https://user-images.githubusercontent.com/11532015/57840416-27382b80-77fb-11e9-8db7-67afaec25714.png)

[2019-05-16 08:57] jianboy opened #656 "I want a function : Edge reading later"
Edge has a good function is reading later.
![BaiduHi_2019-5-16_16-58-21](https://user-images.githubusercontent.com/11532015/57840865-045a4700-77fc-11e9-8e89-fd21a8642297.png)

but update to microsoft edge with Chromium. it disappear.

[2019-05-16 09:23] jianboy opened #657 "I want a function : Edge full screen with title when mouse is on top menu"
I want a function : Edge full screen with title when mouse is on top menu. you can see it by blow gif:

![13](https://user-images.githubusercontent.com/11532015/57842510-42a53580-77ff-11e9-9647-b6e4c258d5ea.gif)

**I know edge and IE all can do it, but Microsoft Edge dev can not do it .**

[2019-05-16 09:28] jianboy opened #658 "I want a function : website login with windows pin"
I know Edge can login microsoft website with windows 10 account.but Microsoft Edge dev can not do it .

**and ,the most important things is that plugin data and all plugin should sync with microsoft account !**

**otherwize, Microsoft Edge dev can not replace chrome and Edge .**

[2019-05-16 13:24] molant commented on #658
From the main readme.md

Best way to provide this feedback is via the smiley in the top right of the browser or  if you don't have a Windows machine via a tweet at [@MSEdgeDev](https://twitter.com/MSEdgeDev).

Thanks

[2019-05-16 13:24] #658 closed, assigned to nobody

[2019-05-16 13:24] molant commented on #657
From the main readme.md

Best way to provide this feedback is via the smiley in the top right of the browser or  if you don't have a Windows machine via a tweet at [@MSEdgeDev](https://twitter.com/MSEdgeDev).

Thanks

[2019-05-16 13:24] #657 closed, assigned to nobody

[2019-05-16 13:25] molant commented on #656
From the main readme.md

Best way to provide this feedback is via the smiley in the top right of the browser or  if you don't have a Windows machine via a tweet at [@MSEdgeDev](https://twitter.com/MSEdgeDev).

Thanks

[2019-05-16 13:25] #656 closed, assigned to nobody

[2019-05-16 13:25] molant commented on #655
From the main readme.md

Best way to provide this feedback is via the smiley in the top right of the browser or  if you don't have a Windows machine via a tweet at [@MSEdgeDev](https://twitter.com/MSEdgeDev).

Thanks

[2019-05-16 13:25] #655 closed, assigned to nobody

[2019-09-16 09:16] pricop commented on #424
Since Edge has moved to the Chromium engine, this issue does not exist anymore.

[2019-09-16 09:16] #424 closed, assigned to nobody

[2019-10-03 11:04] Naomi010Sentzke opened #661 "Google Translate"
Microsoft Translate is not good enough for asian languages. Google Translate needs to be an option in both PC and android in the new android.

[2019-10-03 11:38] molant commented on #661
Thanks @Naomi010Sentzke for opening an issue.
Unfortunately this is not the right place for submitting feedback as it will get lost.

The proper way is via the smiley icon available in the top right of [Edge in your PC](https://www.microsoftedgeinsider.com/en-us/)

![image](https://user-images.githubusercontent.com/606594/66123689-efcbef00-e5e2-11e9-98eb-3502e72b709e.png)

or from the [Edge on And

[2019-10-03 11:38] #661 closed, assigned to nobody

[2019-11-04 20:01] kenchris opened #662 "CSS Device Adaption is abandoned"
Only the viewport meta tag parts are relevant

[2019-11-04 20:01] kenchris opened #663 "Add Web USB"

[2019-12-09 06:07] Madhusudanpatidar opened #664 "I'm not able to open new window or tab in edge browser (Using selenium)"
:warning: Notes:

  * This project is *not* the right place to make feature requests or report bugs in Microsoft Edge and/or Internet Explorer. Browser feedback can be provided through the [issue tracker](https://developer.microsoft.com/microsoft-edge/platform/issues/) and on [UserVoice](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer).
  * For most of the features, the support

[2019-12-09 06:15] Madhusudanpatidar commented on #664
I'm using selenium web driver tool to automate edge browser.
**First issue:-** Already opened edge browser so not able to open next browser using automation code.
**Second issue:-** First browser is lunched then I'm opening new tab or other window of the same browser using selenium web driver **so not able to open new tan or window.**

[2019-12-09 13:47] molant commented on #664
As you said in your comment, this is not the right place.

1. Is by design
2. Please share a minimum project where this is happening with detailed instructions  with @thejohnjansen via Twitter.

[2019-12-09 13:47] #664 closed, assigned to nobody

[2019-12-22 11:19] TonyValenti opened #665 ".NET Framework Browser Control"
I would have posted this on UserVoice but the link is dead...

Anyway, is there a browser control planned for .NET Framework or .NET Core?  I would love a NUGET package that I can consume...

[2020-01-09 21:52] arlangalvez commented on #453
@am11 this is a persistent issue.

[2020-01-10 04:09] am11 commented on #453
@arlangalvez, which one; the lack of better error message or Spread operator support?
Spread operator works for me in latest Edge:

[code]

[2020-01-31 16:54] kurgol opened #666 "The information in readme.md and the bug reporting template are wrong."
[code]

When I click to submit a new issue I am presented with a warning, the first part of which is copied above. This warning tells me to log issues in Edge not through this issue tracker but either through the issue tracker or uservoice. This same information is presented in readme.md.

Neither of these address's work for me. The developer.microsoft.com just redirects to the microsoft-edge page

[2020-01-31 17:35] molant commented on #666
Thanks @Kurgol,

to report UI bugs use the built-in feedback tool. You can invoke it pressing "Alt+Shift+i" or via the "..." menu.

[2020-02-02 09:31] kurgol commented on #666
@molant I don't know how to send a PR to have the pre-filled text in a "new issue" input box, but that is also incorrect and should be updated. Presumably, someone with control of the repo will need to do that.
![image](https://user-images.githubusercontent.com/15245142/73606100-9b3f7d00-459e-11ea-9a08-87e6d9ac5038.png)

[2020-02-03 12:54] molant commented on #666
Can you please do a PR to modify the following file?

https://github.com/MicrosoftEdge/Status/blob/production/.github/ISSUE_TEMPLATE.md

Thank you

[2020-02-10 08:59] Kurgol commented on #666
I believe this issue is now resolved, thanks to @molant for the guidance.

[2020-02-10 09:00] kurgol commented on #666
I believe this issue is now resolved, thanks to @molant for the guidance.

[2020-02-10 09:00] #666 closed, assigned to nobody

[2020-02-27 15:08] paddotk commented on #453
`querySelector` gives back an html element (in this case the body), which is not an array. So it makes sense that you cannot deep copy it as such.

[2020-03-30 16:43] omhoumz commented on #453
Chome:

<img width="614" alt="Screen Shot 2020-03-30 at 17 43 25" src="https://user-images.githubusercontent.com/7444066/77938672-fdbaae00-72ad-11ea-83e4-994ce8e2c3c4.png">

Edge:

<img width="585" alt="Screen Shot 2020-03-30 at 17 42 19" src="https://user-images.githubusercontent.com/7444066/77938690-0317f880-72ae-11ea-9192-6ec9a3619901.png">

[2020-03-30 20:18] molant commented on #453
![image](https://user-images.githubusercontent.com/606594/77957813-f03efd00-7288-11ea-92fc-27be37123b9a.png)

[2020-03-31 01:40] owlshrimp opened #669 "Release Pre-Chromium Edge?"
Not a feature request or bug, but a small suggestion related to Microsoft Edge's roadmap.

Microsoft has recently been very active in open source projects (for the example that surprised and delighted me the most, see PowerShell [1]).

I applaud Microsoft's effort to produce a browser engine that isn't Chromium-based and I think they did a very good job. They produced a browser fit for serious use

[2020-04-17 07:49] luki1412 opened #670 "Exponentiation Operator (ES2016) is supported"
The website states that the operator ** is not supported, even though it is, in majority of browsers, including chromium ones.

[2020-04-17 09:01] abhijeetnarvekar opened #671 "Incorrect user agent on https://google.com"
User agent displayed specifically on google.com website doesn't include edge.

Edge Chromium Version: 81.0.416.58 (Official build) (64-bit)

User agent on google.com
`"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.92 Safari/537.36"`

User agent on other websites:
`"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, l

[2020-04-20 16:53] mohamedmansour opened #672 "Search broken on status.microsoftedge.com"
Search bar is broken on "Microsoft Edge Platform".
 https://developer.microsoft.com/en-us/microsoft-edge/status/​​​​​​​

[2020-04-20 20:07] molant commented on #672
Ping @ststimac

[2020-04-20 20:21] ststimac commented on #672
Yes, I'm aware of this and need to file a bug.

[2020-04-20 20:35] ststimac commented on #672
I've filed a bug with the appropriate people and will update when I can. All filtering/search on that page seems to be broken/not affecting the page.

[2020-04-30 22:56] olgamarti commented on #672
The problem is fixed in production. @ststimac can you verify it and close the issue? Thanks!

[2020-05-04 15:49] ststimac commented on #672
This is all fixed. Thank you @olgamarti!

[2020-05-04 15:49] #672 closed, assigned to ststimac

[2020-05-07 23:51] travisleithead opened #674 "Test feature addition process"
As part of thinking about an update to status, I want to run through the process of adding a feature and see how the workflow goes.

[2020-05-08 16:20] #674 closed, assigned to nobody

[2020-05-14 07:18] brochington opened #677 ""[object Object] in Microsoft Edge (EdgeHTML)" for Box Alignment"
found "[object Object] in Microsoft Edge (EdgeHTML)" when looking at the Box Alignment statuses.

<img width="371" alt="Screen Shot 2020-05-14 at 12 13 53 AM" src="https://user-images.githubusercontent.com/3392188/81904620-5d2bff00-9578-11ea-97aa-88e806ab0b2e.png">

[2020-05-19 20:02] noelleleigh opened #682 "Update support information for `prefers-reduced-motion` media query"
[The entry for `prefers-reduced-motion` on the Platform Status website](https://developer.microsoft.com/en-us/microsoft-edge/status/mediaqueriesprefersreducedmotion/) lists Chrome and Edge (Chromium) as not supported, when in fact they are supported.

[See Chrome Status for details](https://www.chromestatus.com/feature/5597964353404928)

Shouldn't the information in this repo be synchronized with

[2020-05-19 20:47] GingerGraham opened #683 "Edge Dev 84.0.508.0 x64 Crashing With 0xc0000374"
My install of Edge Dev upgraded to 84.0.508.0 today and now it consistently crashes out after ~10 seconds of runtime with a 0xc0000374 error written to the Windows Application Event Log

![image](https://user-images.githubusercontent.com/34165628/82376395-f2684100-9a19-11ea-8d32-fa847c88eabd.png)

Event Log:

Log Name:      Application
Source:        Application Error
Date:          19/05/2020 21:

[2020-05-19 20:52] GingerGraham commented on #683
I have WER mini and full dumps available if required.

The exception details are:

PROCESS_NAME:  msedge.exe

ERROR_CODE: (NTSTATUS) 0xc0000374 - A heap has been corrupted.

EXCEPTION_CODE: (NTSTATUS) 0xc0000374 - A heap has been corrupted.

EXCEPTION_CODE_STR:  c0000374

[2020-05-19 23:23] molant commented on #683
@GingerGraham can you please use the built-in feedback mechanism to report this issue or if it crashes too fast use the Windows Feedback app (Win + F). That way you can also track the status of the issue.

[2020-05-19 23:23] #683 closed, assigned to nobody

[2020-07-07 15:08] guillalva06 opened #686 "Keyboard Navigation locked after Close/Cancel File Chooser on EdgeHTML"
I have found the following problem on Microsoft EdgeHTML in several pages when doing keyboard navigation. When I open the file chooser(input file type tag) to add a new file(e.g. attaching a file from my computer to an email), if I close it without adding a new file, then it is impossible for me to continue with my keyboard navigation.
Initially, I thought that the focus was locked on the last ele

[2020-07-21 23:40] olgamarti commented on #677
Hi! Thanks for report this issue. We did a deployment and the issue should be resolved.

[2020-07-24 20:15] codepo8 commented on #663
@kypflug can we add documentation on that?

[2020-07-24 20:15] codepo8 commented on #662
@kypflug can we fix that?

[2020-07-27 17:47] #677 closed, assigned to nobody

[2020-07-29 18:32] wysisoft opened #687 "Break stuff in chrome but not edge, its brilliant"
I am doing dev in Power BI and I get JS errors in web.min.js about fullscreen mode in chrome, but not edge. Brilliant! I am now switching from chrome to edge so I can do Power BI development. Why stop here? Make chrome throw similar errors in SharePoint, Azure, Office365, LinkedIn, anywhere you can. Take that, google.

[2020-08-20 21:23] melanierichards opened #688 "Pull forced colors support data from Chromium into Platform Status"
Intended to add support data for forced colors to the JSON file, but noticed it's [already available in Chrome Platform Status](https://chromestatus.com/features/5757293075365888) and should probably just be pulled down from there. I'm not familiar with the data merging process, @olgamarti and @travisleithead, can you help? Thanks!

[2020-08-22 00:01] travisleithead commented on #688
You'll want to add an entry pretty much exactly like this one: https://github.com/MicrosoftEdge/Status/commit/19be8dc5dea2499d8634947d3891d8282a52c64b
The id is the one from Chrome status.

[2020-08-22 00:07] melanierichards commented on #688
Got it, thanks @travisleithead!

[2020-09-02 20:53] LifeIsStrange opened #689 "Android webextensions support"
Kiwibrowser has achieved it so I don't see why Microsoft engeeners couldn't do it as well. It would bring power to users and allow us to enhance our experience of the world wide web!

[2020-10-19 04:11] zac1st1k commented on #450
Hi there, just some updates regarding this topic.

Firefox shipped this since version 52
https://bugzilla.mozilla.org/show_bug.cgi?id=1222516

Safari shipped this since TP 17
https://bugs.webkit.org/show_bug.cgi?id=155166
https://webkit.org/blog/7071/release-notes-for-safari-technology-preview-17/

Chrome shipped this since version 49
https://bugs.chromium.org/p/chromium/issues/detail?id=168988

f

[2020-10-28 03:05] SmartManoj opened #691 "Regarding built in Help and feedback > Send feedback"
This should be shared in public. So that there won't be a duplicate and the community may have an answer.

[How to hide this extension popup in Edge?](https://superuser.com/questions/1451624/how-to-hide-this-extension-popup-in-edge)

[2020-10-31 12:18] AMBULATUR opened #693 "1x1 pixel webm disable browser view"
https://gofile.io/d/BnBAav example 1x1 webm online file
![image](https://user-images.githubusercontent.com/30321471/97779001-47dd7800-1b8c-11eb-88d9-d2c74a7aaa33.png)

[2020-10-31 12:55] kimcollin commented on #693
Oh are you paying me for my time I amover it!

On Sat, Oct 31, 2020 at 8:19 AM Ambulatur <notifications@github.com> wrote:

--
Kimberly Ann Collins

[2020-12-24 10:06] Alviana-cyber1 opened #694 "Ruriplatfrom.page"

[2020-12-30 05:07] Alviana-cyber1 commented on #694
fnur0527@ruriplatfrom.page

[2021-01-08 03:34] siegfried01 opened #695 "How to allow access when developing with Let's Encrypt"
It seems there has been a change in the behavior of Edge with regard to unsafe content...

I'm deploying this sample program to Azure kubenetes [https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/4-WebApp-your-API/4-2-B2C/README.md](url)

I'm using the non-production version of lets encrypt (unsigned certificates) as
[https://docs.microsoft.com/en-us/a

[2021-01-08 03:42] nschonni commented on #695
https://github.com/MicrosoftEdge/Status#status-

I think this is a question for StackOverflow

[2021-01-09 19:12] Shayan-To opened #696 "epub support"
Microsoft Edge used to have a built-in epub reader. Why is it removed?
Support for PDF files is still there, so what is the difference between epub and PDF that one is removed and one is still supported?

[2021-01-21 01:16] Python-37 opened #697 "Arm64 linux support?"
Will you release a linux arm64 version binary?
[Chromium losing Sync support on March 15](https://lists.archlinux.org/pipermail/arch-dev-public/2021-January/030263.html)

[2021-01-21 04:51] justtryintolive opened #698 "Web"

[2021-01-21 04:54] justtryintolive commented on #698
H

[2021-01-23 14:06] NarutoVPS opened #699 "Edge Tab gets attached to File Explorer"
![edge](https://user-images.githubusercontent.com/58185622/105580140-a5124f80-5db0-11eb-9383-867b683aaceb.gif)

A random Microsoft Edge tab (not the entire browser window) somehow gets attached to File Explorer.
This has been happening for weeks now. At first I thought this issue was unique to my laptop only but recently one of my friend also noticed this on his laptop.

My Laptop Specs :-

Intel

[2021-02-26 09:49] JHNBOS opened #700 "Context menu items not visible in developer tools"
When right clicking on any item in the developer tools, on a open file in the **Source** tab or on a HTML element in the **Elements** tab, the context menu is shown without any visible text.

[2021-02-26 09:52] JHNBOS commented on #700
![2021-02-26 10_51_20-Window_LI](https://user-images.githubusercontent.com/9801560/109284942-b96ac180-7820-11eb-9981-8bb7aab528f0.jpg)

[2021-03-10 06:19] Nomes77 opened #701 "[QUESTION] CNAME-uncloaking"
As FireFox and Brave support cname-uncloaking
and Adguard recently published a list of cname trackers
and uBlockOrigin already support it.

Is there a chance or when is Microsoft Edge going to implement cname-uncloaking?
Since cname cloaked tracker is getting a major problem.

[2021-03-10 10:07] levicki opened #702 "[QUESTION] Where to report Microsoft Edge ADMX templates issues?"
Such as the wording of this option:

![image](https://user-images.githubusercontent.com/16415478/110612641-ad6fef80-8190-11eb-9515-e6c433affb50.png)

Also, how and where to report policy options that are either broken or documented incorrectly?

[2021-04-11 17:29] djj1109 commented on #701
thank you

[2021-05-15 23:34] TheEvilSkeleton opened #704 "Maintenance in Microsoft Edge Flatpak package"
Hi,

My apologies if I have opened this issue in the wrong repository. I have contacted Microsoft via the forums a while ago, but I have not gotten a response.

A couple of months ago, I have submitted a Microsoft Edge Flatpak package in Flathub and have maintained the package since then, see https://github.com/flathub/flathub/pull/1992.

In short, Flatpak is a universal package manager for Linux.

[2021-05-26 06:59] Nomes77 commented on #701
Is there any progress on this topic?

[2021-06-04 21:15] mdegans opened #705 "Bing popups won't go away"
Edgium keeps bothering me to switch to Bing. I have no interest in doing so -- ever -- and there seems to be no way to dismiss this.  IMO this is a usability issue.

platform: edge on linux

[2021-06-04 21:16] mdegans opened #706 "Search page still uses Bing even after switching to Google"
The search page seems to be broken on Edge. Even after switching to Google as my primary search engine, a new search page still uses Bing. The search bar functions correctly, however.

platform: edge on Linux

[2021-06-09 00:04] #702 closed, assigned to nobody

[2021-06-14 17:40] TheEvilSkeleton commented on #704
/cc @travisleithead

[2021-06-14 18:41] TheEvilSkeleton commented on #704
/cc @Syul968 @peiche-jessica @melanierichards @akshayku @sanketj

[2021-08-06 07:20] boukenka opened #707 "Question about an experimental feature : Web Apps Post Install Dialog"
Hello,

Sorry if I'm asking this question in the wrong place. How can I find out the status of this experimental feature? I mean if and when it will be released. It would be really nice for our customers.

I tried to find the answer with the following URL and adding PWA as filter: [What's Next](https://www.microsoftedgeinsider.com/en-us/whats-next.) Also [here](https://docs.microsoft.com/en-us/mic

[2021-08-12 16:58] travisleithead commented on #704
Thanks for reaching out. My intuition is that the Edge team chose their Linux distribution strategy with care and would **not** be interested in maintaining an addtional Flatpak package. However, adding @TheLarkInn for a more official comment from someone closer to the Linux plans.

[2021-08-16 04:49] buster95 commented on #699
SAMEEEEEE here, soooo weird

[2021-09-08 07:50] josundt opened #708 "Intl support (Norwegian)"
`Intl DateTimeFormat/NumberFormat/RelativeTimeFormat` support for Norwegian ("nb", "nb-NO") was broken at some point in MS Edge.

This bug has been dealt with in chromium (https://bugs.chromium.org/p/chromium/issues/detail?id=1215606&q=norwegian&can=2).

Google Chrome earlier had the same issue but, has they has been able to fix it in some v92.x release.
I was hoping/expecting for MS Edge to have

[2021-10-08 13:09] captainbrosset commented on #700
This indeed used to be a bug in DevTools in the past. It got fixed since then.
The best way to report issues about DevTools is to use the Feedback button in DevTools itself:

![image](https://user-images.githubusercontent.com/1152698/136562680-44b3d233-cd6f-433e-abca-ee8c4b872097.png)

[2021-10-21 17:21] skewty commented on #671
Perhaps this is by design as it prevents malicious breakage of browser support based on user agent string.
Yeah, malicious breakage of competing browsers really is a thing.

[2021-10-21 17:22] skewty commented on #671
In the case of google.com it prevents Chrome advertising which tries to get the user to switch to Chrome.  MS does the same on some of their web sites.

[2021-10-22 08:27] abhijeetnarvekar commented on #671
@skewty Thanks! That explains it !

[2021-10-22 08:27] #671 closed, assigned to nobody

[2021-10-28 04:47] Nomes77 commented on #701
Half year ago. You 've still done nothing. Terrible!!

[2021-10-28 04:47] #701 closed, assigned to nobody

[2021-12-07 06:30] boukenka commented on #707
Closing as it is available by default.

[2021-12-07 06:30] #707 closed, assigned to nobody

[2021-12-09 12:12] astuj opened #710 "Netflix doesn’t work on the current version MAC"
:warning: Notes:

  * Note that this GitHub project is *not* for making feature requests for or reporting bugs in Internet Explorer or Microsoft Edge. Browser feedback can be provided through the built in `Help and feedback > Send feedback` menu or `alt + shift + i`.
  * For most of the features, the support data for browsers other than Microsoft Edge and Internet Explorer comes from the [Chromium

[2021-12-28 00:24] TheEvilSkeleton commented on #704
That's honestly disappointing.

[2021-12-29 13:14] BEEDELLROKEJULIANLOCKHART commented on #697
This comment is response to "http://github.com/MicrosoftEdge/Status/issues/697#issue-790580677".

Why have you mentioned "http://lists.archlinux.org/pipermail/arch-dev-public/2021-January/030263.html"?

[2021-12-29 14:00] Python-37 commented on #697
@TheLarkInn

[2022-02-16 05:45] ZhehooMorgen opened #712 "Cannot scroll another scrollable element before current scroll animation ended"
:warning: Notes:

  * Note that this GitHub project is *not* for making feature requests for or reporting bugs in Internet Explorer or Microsoft Edge. Browser feedback can be provided through the built in `Help and feedback > Send feedback` menu or `alt + shift + i`.
  * For most of the features, the support data for browsers other than Microsoft Edge and Internet Explorer comes from the [Chromium

[2022-03-18 18:59] meisme-dev commented on #704
flatpak would be a better choice due to the extra sandboxing and distrubution support + auto updates.

[2022-03-18 20:11] castrojo commented on #704
They've published instructions on how to enable edge on the deck using the beta flatpak so I reached out to them to see if they want to work together in some capacity.

[2022-03-18 20:58] GitThisBugOff commented on #704
Seeing how Microsoft now "officially" supports the Steam Deck for Xbox Cloud, the Edge team should reconsider their stance on this topic.

[2022-03-20 08:42] m00nwtchr commented on #704
Please, no
https://ludocode.com/blog/flatpak-is-not-the-future

[2022-03-20 11:07] TheEvilSkeleton commented on #704
Counter blog post: https://blogs.gnome.org/wjjt/2021/11/24/on-flatpak-disk-usage-and-deduplication/

[2022-03-20 12:09] m00nwtchr commented on #704
Which only addresses one of the issues brought up in the other post (and still gives pretty bad results, almost 9GB of redundant data), and there is also https://flatkill.org/

[2022-03-20 15:02] o-kotb commented on #704
Yes, they should officially maintain a flatpak package by either working with the current maintainers or make their own.

[2022-03-20 15:30] TheEvilSkeleton commented on #704
Just an update for everyone. I recently published an article[1] about an oversight by Microsoft towards the Microsoft Edge Flatpak app. I expressed my concerns and have also requested them to officially maintain the Flatpak. I got an email from the Product Manager a couple of hours later, stating that they are working to officially release Edge as Flatpak. Hopefully this happens.

1: https://theev

[2022-03-21 00:43] GeorgesStavracas commented on #704
Thanks @TheEvilSkeleton, that sounds promising! If there's anything needed from the portals front, I'd love to help in any capacity, just let me know.

[2022-03-26 14:32] Taulim commented on #704
Just want to point out my frustration with Microsoft's shameful attitude towards the flatpak maintainers.
Disappointed, but not surprised.

First they ignored flatpak silently for a whole year and suddenly it become interesting.
But worst part was not even mentioning the people that made it easier for them.
Lets be fair, the official post got indeed update. (👏 Thank!)
I understand that maybe it wa

[2022-04-28 22:48] dentistfrankchen opened #713 "bug with pdf.js"
if you use pdf.js on the android version of edge to load large pdf, it will be very crashy. However other browser will not.

[2022-04-28 22:48] dentistfrankchen commented on #713
the mozilla pdf.js

[2022-05-19 18:54] mikehoffms opened #714 "status.microsoftedge.com isn't redirecting to right URL, mentioned in Readme"
Going to status.microsoftedge.com doesn't end up at status page.  Ends up too high, might end up at /en-us regardless of user settings.
Domain is mentioned in Readme.

Domain redirect might work after another issue is fixed, noted in Edge database's issue 39615403.

:warning: Notes:

  * Note that this GitHub project is *not* for making feature requests for or reporting bugs in Internet Explorer o

[2022-09-11 14:14] Serpentario opened #715 "M$ Edge Flatpak Linux (Big Linux base Manjaro) Does not prevent screen sleep/shutdown."
M$ Edge Flatpak Linux (Big Linux Base Manjaro) Não impede o descanso / desligamento de tela.

Even with video running on any type of screen: windowed or fullscreen mode, when the system reaches the given time limit to turn off the screen, turning it off, M$ Edge (Flatpak since AUR doesn't install on BigLinux) simply is ignored by the OS and the screen is turned off, only the audio is kept working.

[2022-10-12 15:34] vinser commented on #697
It's been a long time ...

[2022-10-12 15:38] ondruska commented on #697
just don't understand having it for hololens and not providing Linux arm64 build

[2022-11-29 12:31] proinfocus opened #717 "Password reveal CSS not working"
I have tried to remove the eye icon from the password input box by using the following css
[code]
and it seems to be not working as expected. As I start typing, the eye icon still pops up and overlaps our custom eye icon. I am currently running **Version 107.0.1418.56 (Official build) (64-bit)**.

I have attached a sample output which depicts the issue.

![eye-icon-overlapping](https://user-images